<md-content ng-controller="ctrCatastro" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">

  <md-card flex="flex" >
   <div layout="row" flex layout-align="end center">
     <md-button ng-if="usuario.nivel == 'dcatastro'" class="md-raised md-primary " ng-click="formCrearFicha()">
       Agregar Propiedad Inmobiliaria
       </md-button>
       </div>
     <md-card-content>


      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
          <h2><span>Propiedad Inmobiliaria</span></h2>


        </div>
      </md-toolbar>
      <div layout="row" >
        <div flex>
          <md-input-container   class="md-block" >
            <label>Propiedad Inmobiliaria</label>
            <input type="text" name="text" ng-model="numero" placeholder="1-000000" />
          </md-input-container>
         </div>
        <div flex>
          <md-input-container  class="md-block" >
            <label>Nombre / Razón Social</label>
            <input type="text"  ng-model="bnombre" placeholder="Pedro Perez" />
          </md-input-container>

        </div>

          <div layout="row" flex>


            <md-input-container class="md-block"  flex>
              <label>RIF</label>
              <input  type="text" numbers-only   ng-model="brif"  />

            </md-input-container>
          </div>

        <div flex>
            <md-button class="md-raised " ng-click="buscarPatente()">Buscar</md-button>
        </div>
      </div>
      <md-list flex>
        <md-list-item class="secondary-button-padding" md-colors="{background:'grey-300'}">
          <div flex layout="row" >
            <div flex="10" >
              <p class="md-subhead">N° </p>
            </div>
            <div flex="35" >
              <p class="md-subhead">Nombre / Razón Social</p>
            </div>
            <div flex="15" >
              <p class="md-subhead">RIF</p>
            </div>
            <div flex="40" >
             <p class="md-subhead">Dirección </p>
            </div>

          </div>
        </md-list-item>
        <md-list-item class="secondary-button-padding" ng-repeat="patente in patentes" md-ink-ripple ng-click="selObj(patente,'patente')">
          <div flex layout="row" layout-align="center center" >
            <div flex="10" >
              <p class="md-caption">{{patente.patente}} </p>
            </div>
            <div flex="35" >
              <p class="md-caption">{{patente.nombre}}</p>
            </div>
            <div flex="15" >
              <p class="md-caption">{{patente.rif}} </p>
            </div>
            <div flex="40" class="md-caption">
              {{patente.direccion}}

            </div>

          </div>

           <md-divider></md-divider>
        </md-list-item>



      </md-list>
    </md-card-content>
  </md-card>
</md-content>
