<md-content ng-controller="ctrCatastro" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >

    <md-card-content>
      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'green-800'}">
          <h2><span>Ficha Catastral - {{mostrarPatente}} </span></h2>

        </div>
      </md-toolbar>
      <md-content md-colors="{background:'green-50'}">
        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Calculo Catastral<hr></h2>

        <br>
        <div   layout="row"> <!-- calculo para el 2019  -->

          <div flex=50>


            <span class="md-title" >Valor Catastral de la Construcción</span>
            <br>
            <span>

              <span  md-colors="{color:'blue-900'}"> VCC</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-800'}">Construcción(mt2)</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}">VFEU(Zona-Uso)</span>

              <span   md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}">VT</span>
              <span   md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}">FD</span>
            </span>
            <br>
            <span>
              <span  md-colors="{color:'blue-900'}"> VCC</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-800'}">{{ficha.construccion}} (mt2) </span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}"> {{calculoVCC | currency:''}} Bs.</span>

              <span   md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}"> {{tipologiaValor.porcentaje| currency:''}} %</span>
              <span   md-colors="{color:'red-800'}"> X</span>
              <span  md-colors="{color:'blue-800'}"> {{depreciacionValor.porcentaje| currency:''}} %</span>
            </span>
            <br>
            <span>
              <span  md-colors="{color:'blue-900'}"> VCC</span>
              <span md-colors="{color:'red-800'}">=</span>

              <span  md-colors="{color:'blue-800'}"> {{totalcalculoVCC | currency:''}} Bs.</span>


            </span>

          </div>
          <!--////////////////////////////////////////////////////////// -->
          <div flex=50>
            <span class="md-title" >Valor Catastral del Terreno</span>
            <br>
            <span>
              <span  md-colors="{color:'green-900'}"> VCT</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'green-800'}">Terreno(mt2)</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'green-800'}">VFS(Zona-Uso)</span>


            </span>
            <br>

            <span>
              <span  md-colors="{color:'green-900'}">VCT</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'green-800'}">{{ficha.terreno}} (mt2) </span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'green-800'}"> {{calculoVCT | currency:''}} Bs.</span>

            </span>
            <br>
            <span>

              <span  md-colors="{color:'green-900'}"> VCT</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'green-800'}"> {{totalCalculoVCT | currency:''}} Bs.</span>


            </span>


            <!--/////////////////////////////////////////////////////// -->

          </div>
        </div>
        <!-- fin 2019 ------------>


        <!--////////////////////////////////////////////////////////// -->
        <br>
        <br>
        <div layout="row"layout-align="center center">
          <div flex="50">


            <span class="md-title" >Valor Catastral del inmueble</span>
            <br>
            <span>
              <span  > VCI</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-900'}">VCC </span>
              <span  md-colors="{color:'red-800'}">+</span>
              <span  md-colors="{color:'green-900'}"> VCT</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  > Alicuota %</span>


            </span>
            <br>

            <span>
              <span  > VCI</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-900'}">{{totalcalculoVCC | currency:''}} Bs. </span>
              <span  md-colors="{color:'red-800'}">+</span>
              <span  md-colors="{color:'green-800'}"> {{totalCalculoVCT | currency:''}} Bs.</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span > {{vistaAlicuaota }} %</span>

            </span>
            <br>


            <span>

              <span class="md-title"  > VCI</span>
              <span >=</span>
              <span class="md-title"  > {{totalcalculoVCI | currency:''}} Bs.</span>


            </span>
          </div>
        </div>
      <br>
          <div layout="row">
            <md-input-container  class="md-block" flex="25">
              <label>Año</label>
              <md-select ng-change="cambiaAutoFecha();"   ng-model="auto.anno"  required >
                <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex="25"  >
              <label>Sub-Total Bs.</label>
              <input  align="right" type="text"   ng-model="auto.submonto | currency: '' "    />

            </md-input-container>
            <md-input-container class="md-block" flex="25"  >
              <label>Descuento Bs.</label>
              <input  align="right" type="text"   ng-model="auto.descuento | currency: '' "    />
            </md-input-container>
            <md-input-container class="md-block" flex="25"  >
              <label>Total Bs.</label>
              <input  align="right" type="text"   ng-model="auto.monto  | currency: '' "    />
            </md-input-container>
          </div>
          <div layout="row"  layout-align="end center" >
              <md-button  ng-click="agregarAnno(auto);" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
          </div>








        <!--/////////////////////////////////////////////////////// -->





          <!--

        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Calculo Manual<hr></h2>

        <div layout="row">
          <md-input-container class="md-block" flex="30">
            <label>Desde</label>
            <md-select ng-change="cambiaAutoFecha();"  ng-model="manual.desde"  required >
              <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex="30" >
            <label>Hasta</label>
            <md-select  ng-model="manual.hasta"  required >
              <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex="40"  >
            <label>Monto en Bs.</label>
            <input name="terreno" align="right" type="text" decimals-only  ng-model="manual.monto"  required />

          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex class="md-block"  >
            <label>Concepto a Cobrar.</label>
            <input name="terreno"  type="text"  ng-model="manual.concepto"  required />

          </md-input-container>

        </div>
         --->



        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Tasas Administrativas<hr></h2>
        <!--<md-button class="md-icon-button" ng-click="agregarCatastroItems()">
          <md-tooltip md-direction="right">Agregar Items</md-tooltip>
          <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="playlist-plus"><md-icon>
          </md-button>
           viejo
        <div layout="row" class="" ng-repeat="tasa in tasasCatastro">

          <md-checkbox ng-checked="exists(tasa, tasasAdministrativas)" ng-click="toggle(tasa, tasasAdministrativas)" >
            {{tasa.nombre}} -  {{tasa.salario}}% SMMU
          </md-checkbox>
        </div> -->
        <md-dialog-content>
          <div class="md-dialog-content">
            <div flex layout="row" >
                <!--<md-input-container flex="35" >
                  <label>Patentes</label>
                  <md-select   ng-model="patentePagar.patente" required ng-change="cambiarPatente();" >
                    <md-option ng-value="{{patAsoc}}" ng-repeat="patAsoc in listaPatentes">{{patAsoc.patente}} - {{patAsoc.nombre}}</md-option>
                  </md-select>
                </md-input-container> -->
                <md-input-container flex="60" >
                  <label>Conceptos Tributarios</label>
                  <md-select  ng-disabled="mesBloqueado"  ng-model="patentePagar.concepto" ng-click="cambiarConcepto(item);" required >
                    <md-option ng-value="{{item}}" ng-click="cambiarConcepto(item);" ng-repeat="item in items">{{item.concepto}} - (  {{item.unidadCobro.nombre}} X {{item.cantidad}} )</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="20" ng-show="periodo">
                  <label>Mes</label>
                  <md-select ng-model="mesAseo"  required >
                    <md-option value="{{mes.id}}" ng-repeat="mes in meses">{{mes.mes}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="20" >
                  <label>Total</label>
                  <input type="text" name="" value="{{valorTasa | currency : ''}}">
                </md-input-container>
            </div>
            <div layout="row"  layout-align="end center" >
                <md-button  ng-click="agregarLinea();" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
            </div>



          </div>
        </md-dialog-content>
<!--  nueva forma de agregar tasas -->
        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Detalle de Cobro<hr></h2>
         <div layout="row">
           <div flex="70" class="md-title">
             Detalle
           </div>
           <div flex="20" style="text-align:center" class="md-title">
             Sub-Total
           </div>
         </div>


         <div layout="row" ng-if="auto.monto>0" ng-repeat="auto in autos">
           <div flex="70">
             Propiedad Inmobiliaria {{auto.anno}}
             <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="20" style="text-align:right">
             {{ auto.monto | currency : ''}}
           </div>

         </div>

         <div layout="row" ng-if="manual.monto>0 && manual.concepto != '' && manual.desde != '' && manual.hasta != '' ">
           <div flex="70">
              {{manual.concepto}} {{manual.desde}} / {{manual.hasta}}
               <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="20" style="text-align:right">
             {{ manual.monto | currency : ''}}

           </div>


           </div>


          <div layout="row" ng-repeat="linea in lineas ">
           <div flex="70" ng-if="linea.periodo">
             {{linea.concepto.concepto}} mes -  {{linea.mes.mes}}
            <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="70" ng-if="!linea.periodo">
             {{linea.concepto.concepto}} 
            <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="20" style="text-align:right">
             {{linea.total | currency : ''}}

           </div>
           <div flex="10" style="text-align:right">


           </div>
         </div>
         <!--<div flex>
         <md-list>
           <md-list-item class="noright"  md-colors="{background:'grey-200'}"  >
                <div flex="55"  md-truncate>
                  Patente
                </div>

                <div flex="10" style="text-align:center">
                  Unidad
                </div>
                <div flex="10" style="text-align:center">
                  Valor
                </div>
                <div flex="5" style="text-align:center">
                  Cantidad
                </div>
                <div flex="15" style="text-align:right">
                  Sub-Total
                </div>

          </md-list-item>
            <md-list-item class="noright md-2-line"  ng-repeat="linea in lineas " >
                 <div flex="55"  >
                   <div class="md-list-item-text" layout="column">
                       <h3>{{linea.concepto.concepto}}</h3>
                       <p>  {{linea.patente.patente}} {{linea.patente.nombre}}</p>
                     </div>

                 </div>

                 <div flex="10" style="text-align:center">
                   {{linea.concepto.unidadCobro.nombre}}
                 </div>
                 <div flex="10" style="text-align:center">
                   {{linea.concepto.valorActual.valor|currency:''}}
                 </div>
                 <div flex="5" style="text-align:center">
                   {{linea.concepto.cantidad}}
                 </div>
                 <div flex="15" style="text-align:right">
                   {{linea.total|currency:''}}
                 </div>
                 <div flex="5" style="text-align:center">

                 </div>
           </md-list-item>
           </md-list>
         </div> -->
        <div layout="row" layout-align="end end">
          <md-button  md-colors="{background : 'grey-50'}" ui-sref="ficha" class="md-raise">Cancelar</md-button>

          <md-button  ng-click="guardarOrden();"  class="md-raised " md-colors="{background:'green-800'}">Guardar y Crear Orden de Cobro</md-button>
        </div>
      </md-content>
    </md-card>
  </md-content>
