

<md-dialog md-theme="default" aria-label="Vinculacion" flex="50" ng-controller="ctrContribuyente" >
  <form ng-cloak>
    <md-toolbar md-colors="{background:'grey-800'}">
      <div class="md-toolbar-tools">
        <h2>Buscar Patente a Vincular</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">

        </md-button>
      </div>
    </md-toolbar>
      <md-divider></md-divider>
    <md-dialog-content>

      <div layout="row" layout-align="space-around center">


           <div layout="column">
             <md-input-container>
            <label>N# Patente</label>
            <input ng-model="numeroPatente">
          </md-input-container>
          </div>
          <div layout="column">
            <md-button class="md-raised md-warn" ng-click="buscarPatente1()">Buscar</md-button>
          </div>
        </div>

      <span flex></span>
      <div ng-show="mostrarVinculacion">
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-actions layout="row" layout-align="center">
                  <md-list flex ng-if="swTieneRecibos">
                    <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                      <div flex layout="row">
                        <div flex="20" style="text-align:center">
                          N° Patente
                        </div>
                        <div flex="60" style="text-align:center">
                          Nombre
                        </div>
                        <div flex="20" style="text-align:center">
                          Tipo
                        </div>

                      </div>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding" ng-repeat="pat in patentesBuscadas" md-ink-ripple>
                      <div flex layout="row">
                        <div flex="20" style="text-align:center">
                          {{pat.patente}}
                        </div>
                        <div flex="55" style="text-align:center">
                          {{pat.nombre}}
                        </div>
                        <div flex="20" style="text-align:center">
                          {{pat.tipo}}
                        </div>
                        <div flex="5" style="text-align:center">
                                  <md-icon ng-click="addVinculacion(pat, $event)" md-colors="{background:'{{color}}-100'}" md-svg-icon="{{checkIcono}}"><md-icon>
                            </div>
                      </div>
                  </md-list-item>
                </md-list>

               </md-card-actions>
             </md-card>
      </div> <!--fin div de mostrarVinculacion -->
  </md-dialog-content>
  </form>
</md-dialog>
