<md-content ng-controller="ctrCatastro" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex>

    <md-card-content>
      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'deep-orange-700'}">
          <h2><span>Ficha Catastral - EDITAR</span></h2>

        </div>
      </md-toolbar>
        <md-content md-colors="{background : 'deep-orange-50'}" layout-padding>
          <form name="fContribuyente" autocomplete="off">
            <div layout-gt-xs="row">
              <md-input-container class="md-block"  flex-gt-xs >
                <label>Numero de Catastro</label>
                <input  ng-model="patente.catastro" name="catastro" numbers-only required="" minlength="6"  ng-minlength="6" md-maxlength="6"  ng-maxlength="6" />
                <div ng-messages="fContribuyente.catastro.$error">
                  <div ng-message="required">El Número de Catastro es un campo Obligatorio</div>
                  <div ng-message="md-maxlength">El Número de Catastro no es valido, mas números de los esperados</div>
                  <div ng-message="minlength">El Número de Catastro no es valido, menos números de los esperados</div>
                </div>
              </md-input-container>

              <div layout="row" flex>
                <md-input-container class="md-block" flex-gt-xs="20">

                  <md-select name="prefijo" ng-model="patente.prefijo" required >
                    <md-option value="{{pre}}" ng-repeat="pre in preFijos">{{pre}}</md-option>
                  </md-select>
                  <div ng-messages="fContribuyente.prefijo.$error">
                    <div ng-message="required">El Prefijo del RIF es un campo Obligatorio</div>

                  </div>
                </md-input-container>

                <md-input-container class="md-block"  flex-gt-xs >
                  <label>RIF</label>
                  <input  type="text" numbers-only name="rif"  ng-model="patente.rif"  ng-required="true" minlength="8"  ng-minlength="8" md-maxlength="9"  ng-maxlength="9"/>
                  <div ng-messages="fContribuyente.rif.$error">
                    <div ng-message="required">El RIF es un campo Obligatorio</div>
                    <div ng-message="md-maxlength">El Número de RIF no es valido, mas números de los esperados</div>
                    <div ng-message="minlength">El Número de RIF no es valido, menos números de los esperados</div>
                  </div>
                </md-input-container>
              </div>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block" flex >
                <label>Nombre / Razón Social</label>
                <input  type="text" name="nombre"   ng-model="patente.nombre"  required="" />
                <div ng-messages="fContribuyente.nombre.$error">
                  <div ng-message="required">el Nombre o Razon Social es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block" flex-gt-xs >
                <label>Teléfono</label>
                <input  type="text"   name="telefono" ng-model="patente.telefono" required=""/>
                <div ng-messages="fContribuyente.telefono.$error">
                  <div ng-message="required">El Teléfono es un campo obligatorio</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-xs  >
                <label>Correo</label>
                <input  type="text" name="correo"  ng-model="patente.correo"  />
                <div ng-messages="fContribuyente.correo.$error">
                  <div ng-message="required">El Correo social es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block"flex >
                <label>Dirección</label>
                <input  type="text" name="direccion" ng-model="patente.direccion"  required="" />
                <div ng-messages="fContribuyente.direccion.$error">
                  <div ng-message="required">La Dirección es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block" flex-gt-xs >
                <label>Sector</label>
                <md-select  name="zona_id" ng-model="ficha.zona_id" >
                  <md-option value="{{zona.id}}" ng-repeat="zona in newZonas">{{zona.zona}}</md-option>
                </md-select>

              </md-input-container>

              <md-input-container class="md-block" flex-gt-xs >
                <label>Uso</label>
                <md-select  name="uso_id" ng-model="ficha.uso_id" required >
                  <md-option value="{{uso}}" ng-repeat="uso in newUsos">{{uso}}</md-option>
                </md-select>
                <div ng-messages="fContribuyente.uso_id.$error">
                  <div ng-message="required">El Uso es un campo obligatorio</div>
                </div>




              <md-input-container class="md-block" flex-gt-xs >
                <label>Alicuota</label>
                <md-select name="alicuota2021_id" ng-model="ficha.alicuota2021_id"  >
                  <md-option value="{{alic2.id}}" ng-repeat="alic2 in newAlicuotas">{{alic2.codigo}} - {{alic2.porcentaje}}%</md-option>
                </md-select>

              </md-input-container>
            </div>

            <div layout-gt-xs="row" >





              <md-input-container class="md-block" flex-gt-xs >
                <label>Tipologia</label>
                <md-select name="tipologia2021" ng-model="ficha.tipologia_id" required >
                  <md-option value="{{tipol.id}}" ng-repeat="tipol in newTipologias | filter: {zona_id:ficha.zona_id}">{{tipol.tipologia}}</md-option>
                </md-select>
                <div ng-messages="fContribuyente.tipologia.$error">
                  <div ng-message="required">La Tipologia es un campo obligatorio</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-xs >
                <label>Año de Construcción</label>
                <md-select name="ano" ng-model="ficha.ano"  >
                  <md-option value="{{ano}}" ng-repeat="ano in anos">{{ano}}</md-option>
                </md-select>

              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block" flex-gt-xs >
                <label>Metros cuadrados de Construcción</label>
                <input name="construccion"  type="text" decimals-only  ng-model="ficha.construccion"  required />
                <div ng-messages="fContribuyente.construccion.$error">
                  <div ng-message="required">Los metros cuadrados de la construcción es un campo obligatorio</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-xs  >
                <label>Metros cuadrados de Área o Terreno</label>
                <input name="terreno"  type="text" decimals-only  ng-model="ficha.terreno"  required />
                <div ng-messages="fContribuyente.terreno.$error">
                  <div ng-message="required">Los metros cuadrados de la area o terreno  es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>
             <div layout-gt-xs="row" >
            <md-input-container class="md-block"  flex-gt-xs >
              <label>Justificación del Cambio</label>
              <input  type="text"  name="comentario"  ng-model="comentario"  ng-required="true" minlength="10"  ng-minlength="10" md-maxlength="255"  ng-maxlength="255"/>
              <div ng-messages="fContribuyente.comentario.$error">
                <div ng-message="required">El Comentario es un campo Obligatorio</div>
                <div ng-message="md-maxlength">El comentario tiene mas caracteres de los esperados</div>
                <div ng-message="minlength">El comentario tiene menos caractes de los esperados</div>
              </div>
            </md-input-container>
            </div>
            <div layout="row" layout-align="end end">
              <md-button  md-colors="{background : 'grey-50'}" ui-sref="ficha" class="md-raise">Cancelar</md-button>
<!--   ng-disabled="!fContribuyente.$valid" -->
              <md-button   ng-click="editarFicha();"  class="md-raised  md-warn">Guardar Cambios de la Ficha Catastral</md-button>
            </div>
          </form>
        </md-content>









      </md-card-content>

    </md-card>
  </md-content>
