<!DOCTYPE html>
<html ng-app="taquillApp">
  <head>
    <meta charset="utf-8">
    <title>Departamento de Catastro</title>
  </head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />



  <link rel="stylesheet" href="../../../js/component/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="../../../css/bt337/bootstrap.min.css">



  <script src="../../../js/component/angular/angular.min.js"></script>

  <script src="../../../js/component/ui/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="../../../js/component/angular-touch/touch.min.js"></script>
  <script src="../../../js/component/angular-route.min/index.js"></script>
  <script src="../../../js/component/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../../../js/component/locale/angular-locale_es-ve.js"></script>
  <script src="../../../js/component/angular-resource/angular-resource.min.js"></script>
  <script src="../../../js/component/angular-aria/angular-aria.js"></script>
  <script src="../../../js/component/angular-animate/angular-animate.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-material/angular-material.min.js"></script>
  <script src="../../../js/component/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-messages/angular-messages.min.js"></script>
  <script src="../../../js/component/chart/Chart.min.js"></script>
  <script src="../../../js/component/chart/angular-chart.min.js"></script>
  <script src="../../../js/component/qrcode/qrcode.js"></script>
  <script src="../../../js/component/angular-qr/angular-qr.js" type="text/javascript"></script>

  <script src="../../js/controller/main.js"></script>
  <script src="../../js/service/srvRestApi.js"></script>
  <script src="../../js/service/srvUtils.js"></script>
  <script src="../../js/factory/facGlobal.js"></script>

  <script src="../../js/controller/ctrMainTaquilla.js"></script>

  <script src="../../js/controller/ctrImpEstadoCuentaCatastro.js"></script>


  <body layout="column" ng-controller="ctrImpEstadoCuentaCatastro">

    <div  >
    <md-button class="md-raised md-primary" ng-click="printIt2()">Imprimir</md-button>
    <div id="printArea">



    <table style="width:100%;font-size:12px" >
      <tr>
        <td style="width:50% ;text-align:center">
          <span>REPUBLICA BOLIVARIANA DE VENEZUELA {{data}}</span><br>
          <span>ESTADO NUEVA ESPARTA</span><br>
          <span>ALCALDIA BOLIVARIANA MUN. ARISMENDI</span><br>
          <span>G-200003464</span><br>
        </td>
        <td>
          <span>Numero de Recibo: 2020-{{pago.pago_id}}</span><br>

        </td>
      </tr>

      <tr>
        <td colspan="2">
          <table style="width:80%;font-size:12px">
            <tr>
              <td style="width:10%">Contribuyente</td>
              <td style="width:2%">:</td>
              <td>{{estadoCuenta.patente.persona.nombre}}</td>
              <td style="width:10%" >No.Licencia</td>
              <td style="width:2%">:</td>
              <td>{{estadoCuenta.patente.patente}}</td>
            </tr>
            <tr>
              <td>R.I.F</td>
              <td>:</td>
              <td>{{estadoCuenta.patente.persona.rif}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Dirección</td>
              <td>:</td>
              <td colspan="4">{{estadoCuenta.patente.persona.direccion}}</td>

            </tr>


          </table>
          <hr>
        </td>

      </tr>

      <tr>
        <td colspan="2" style="text-align:center;font-size:12px">Estado de Cuenta</td>
      </tr>
      <tr>
        <td colspan="2"><hr></hr></td>
      </tr>

          <table style="width:100%;font-size:10px">
            <tr>
              <td colspan="2" >Detalles </td>
              <td colspan="2" style="text-align:end">Monto </td>
              </tr>
              <tr ng-if="estadoCuenta.auto.length > 0" ng-repeat="aut in estadoCuenta.auto">
                  <td colspan="2"> Propiedad Inmobiliaria {{aut.anno}}</td>
                  <td colspan="2" style="text-align:end"> {{ aut.monto | currency : ''}}</td>
              </tr>
              <tr ng-if="estadoCuenta.manual.monto > 0 && estadoCuenta.manual.concepto != '' && estadoCuenta.manual.desde != '' && estadoCuenta.manual.hasta != ''">
                  <td colspan="2">   {{estadoCuenta.manual.concepto}} {{estadoCuenta.manual.desde}} / {{estadoCuenta.manual.hasta}}</td>
                  <td colspan="2" style="text-align:end"> {{ estadoCuenta.manual.monto | currency : ''}}</td>
              </tr>
              <tr ng-if="estadoCuenta.tasas.length > 0" ng-repeat="tasa in estadoCuenta.tasas">
                  <td colspan="2" ng-if="tasa.periodo">{{tasa.concepto.concepto}} mes -  {{tasa.mes.mes}}</td>
                  <td colspan="2" ng-if="!tasa.periodo">{{tasa.concepto.concepto}}</td>
                  <td colspan="2" style="text-align:end"> {{ tasa.total | currency : ''}}</td>
              </tr>
              <tr>
                <td colspan="2"><hr></hr></td>
              </tr>
              <tr style="font-size:14px" >
                <td colspan="2" >Total:  </td>
                <td colspan="2" style="text-align:end">{{ totales | currency : ''}} </td>
                </tr>
          </table>

    </table>



    <br>

    </div>

    </div>

</body>
</html>
