<md-content ng-controller="ctrCatastro"  layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-toolbar class="md-raised" md-colors="{background : 'grey-300'}" layout-padding="layout-padding">
    <div layout="row" layout-align="end center">
      <md-button class="md-icon-button" ng-click="editarFichaCatastral()">
        <md-tooltip md-direction="right">Editar</md-tooltip>
        <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="file-document-edit-outline"><md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-disabled="pornerVisible" ng-click="guardarFichaCatastral()">
          <md-tooltip md-direction="right">Guardar</md-tooltip>
          <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="file-document-edit-outline"><md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="verFicha($event)">
            <md-tooltip md-direction="right">Ver ficha</md-tooltip>
            <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="file-document-edit-outline"><md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="imprimirFicha()">
              <md-tooltip md-direction="right">Imprimir</md-tooltip>
              <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="file-document-edit-outline"><md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-card flex="flex" >
    <md-card-content>
      <div layout="row" flex>
          <div layout="column" flex>
              <md-toolbar>
                <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
                  <h2><span>Ficha Catastral - {{mostrarPatente}} </span></h2>
                </div>
              </md-toolbar>
              <div>
              <md-content ng-disabled="pornerVisible">
                <form >
                  <div layout-gt-xs="row" flex>
                    <md-input-container flex-gt-xs >
                      <label>Nombre / Razón Social</label>
                      <input  type="text"   name="nombre"   ng-model="patente.nombre"  required="" />
                    </md-input-container>
                      <md-input-container class="md-block"  flex-gt-xs >
                        <label>RIF</label>
                        <input  type="text"   numbers-only name="rif"  ng-model="mostrarRIF"  ng-required="true" minlength="8"  ng-minlength="8" md-maxlength="9"  ng-maxlength="9"/>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs >
                        <label>Teléfono</label>
                        <input  type="text"   name="telefono" ng-model="patente.telefono" required=""/>
                      </md-input-container>
                    </div>
                  <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs  >
                      <label>Correo</label>
                      <input  type="text"   name="correo"  ng-model="patente.correo"  />
                    </md-input-container>

                    <md-input-container class="md-block"flex >
                      <label>Dirección</label>
                      <input  type="text"   name="direccion" ng-model="patente.direccion"  required="" />
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs="30">
                        <label>FECHA DE INSCRIPCION</label>
                        <md-datepicker ng-disabled="pornerVisible" ng-model="user.submissionDate"></md-datepicker>
                      </md-input-container>
                  </div>
                  <md-divider></md-divider>
                  <md-toolbar>
                    <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
                      <h3><span>Inmueble </span></h3>
                    </div>
                  </md-toolbar>
                  <div layout-gt-xs="row" flex>
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>FECHA</label>
                      <md-select name="ano" ng-model="ficha.ano" ng-disabled="pornerVisible" required >
                        <md-option value="{{ano}}" ng-repeat="ano in anos">{{ano}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.ano.$error">
                        <div ng-message="required">El Año es un campo obligatorio</div>
                      </div>
                    </md-input-container>
                      <md-input-container class="md-block"flex >
                        <label>Numero de Registro</label>
                        <input  type="text"   name="registro" ng-model="ficha.registro"  required="" />

                      </md-input-container>
                      <md-input-container class="md-block"flex >
                        <label>Asiento Registral</label>
                        <input  type="text"   name="asiento" ng-model="ficha.asiento"  required="" />

                      </md-input-container>
                      <md-input-container class="md-block"flex >
                        <label>Inmueble Matriculado</label>
                        <input  type="text"   name="matriculado" ng-model="ficha.matriculado"  required="" />

                      </md-input-container>
                      <md-input-container class="md-block"flex >
                        <label>Folio</label>
                        <input  type="text"   name="folio" ng-model="ficha.folio"  required="" />

                      </md-input-container>
                  </div>
                  <div layout-gt-xs="row" flex>

                      <md-input-container class="md-block"flex >
                        <label>URB/CONJ/RES</label>
                        <input  type="text"   name="urbanizacion" ng-model="ficha.urbanizacion"  required="" />

                      </md-input-container>
                      <md-input-container class="md-block"flex >
                        <label>AVENIDA</label>
                        <input  type="text"   name="avenida" ng-model="ficha.avenida"  required="" />

                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-xs >
                        <label>SECTOR</label>
                        <md-select  name="zona" ng-model="ficha.zona_id" ng-disabled="pornerVisible" required >
                          <md-option value="{{zona.id}}" ng-repeat="zona in newZonas">{{zona.zona}}</md-option>
                        </md-select>
                        <div ng-messages="fContribuyente.zona.$error">
                          <div ng-message="required">La Zona es un campo obligatorio</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block"flex >
                        <label>CALLE</label>
                        <input  type="text"   name="calle" ng-model="ficha.calle"  required="" />

                      </md-input-container>
                      <md-input-container class="md-block"flex >
                        <label>LOTE/APTO</label>
                        <input  type="text"   name="lote" ng-model="ficha.lote"  required="" />

                      </md-input-container>
                  </div>
                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>AREA DE CONTRUCCION</label>
                      <input  name="construccion"  type="text" decimals-only  ng-model="ficha.construccion"  disabled />
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs  >
                      <label>VALOR CATASTRAL</label>
                      <input   name="terreno"  type="text" decimals-only  ng-model="ficha.terreno"  disabled />
                    </md-input-container>
                  </div>
                    <md-divider></md-divider>
                  <md-toolbar>
                    <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
                      <h3><span>Linderos </span></h3>
                    </div>
                  </md-toolbar>
                  <div layout-gt-xs="row" flex>
                    <div layout-gt-xs="column" flex="50">
                      <md-input-container class="md-block">
                          <label>Norte</label>
                          <textarea name="textarea" ng-model="ficha.norte" rows="2" cols="1" ></textarea>
                      </md-input-container>
                    </div>

                    <div layout-gt-xs="column" flex="50">
                      <md-input-container class="md-block">
                        <label>Sur</label>
                        <textarea name="textarea" ng-model="ficha.sur" rows="2" cols="1" ></textarea>
                      </md-input-container>
                    </div>
                </div>
                <div layout-gt-xs="row" flex>
                  <div layout-gt-xs="column" flex="50">
                    <md-input-container class="md-block">
                      <label>Este</label>
                      <textarea name="textarea" ng-model="ficha.este" rows="2" cols="1" ></textarea>
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="column" flex="50">
                    <md-input-container class="md-block">
                      <label>Oeste</label>
                      <textarea name="textarea" ng-model="ficha.oeste" rows="2" cols="1" ></textarea>
                    </md-input-container>
                  </div>
                  </div>

                </form>
              </md-content>
            </div>

        </div>
    </div> <!--fin de la 1era fila -->



        </md-card-content>

      </md-card>
    </md-content>
