<md-dialog  md-theme="default"  aria-label="Detalle Patente Gestion" flex ng-controller="ctrCatastro" ng-cloak >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{patenteGestion.nombre}} / {{patenteGestion.patente}} - </h2>
      <md-icon ng-if="recibo.status == 'Pagada'" md-colors="{color:'light-green-500'}">Pagada</md-icon>
      <md-icon ng-if="recibo.status == 'Pendiente'" md-colors="{color:'amber-500'}">Pendiente</md-icon>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
<div class="md-dialog-content">

        <div flex>
          <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


            <div flex layout="row">

              <div flex="35">
                Catastro
              </div>

              <div flex="15" style="text-align:center">
                Periodo
              </div>
              <div flex="15" style="text-align:center">

              </div>
              <div flex="35" style="text-align:center">

              </div>

            </div>
          </div>
          <div  ng-repeat="linea in recibo.lineas" >

            <div flex  >
                <!--    ----------------------------------      -->
              <div layout="row">

                <div flex="35"  md-truncate>
                  {{actividad[linea.id][0].nombre}} ({{actividad[linea.id][0].porcentaje}}%)
                </div>
                <div flex="15" style="text-align:center">

                </div>
                <div flex="15" class="md-body-2" style="text-align:right">
                  Venta:

                </div>
                <div flex="35" class="md-body-2" style="text-align:right">
                  {{getBaseImponible(linea.id)|currency:''}}

                </div>
              </div>
               <!--    ----------------------------------      -->
               <div layout="row">

                 <div flex="35"  md-truncate class="md-caption">

                 </div>
                 <div flex="15" style="text-align:center">

                 </div>
                 <div flex="15" class="md-body-2" style="text-align:right" md-colors="{background:'grey-200'}">
                   Impuesto:

                 </div>
                 <div flex="35" class="md-body-2" style="text-align:right" md-colors="{background:'grey-200'}">
                   {{lineTotalSub[linea.id]|currency:''}}

                 </div>
               </div>
                <!--    ----------------------------------      -->
                <div layout="row">

                  <div flex="35"   class="md-caption">

                  </div>
                  <div flex="15" style="text-align:center">

                  </div>
                  <div flex="15" class="md-body-2" style="text-align:right">
                    Descuento:

                  </div>
                  <div flex="35" class="md-body-2" style="text-align:right">
                    {{lineTotalDescuento[linea.id]|currency:''}}
                  </div>
                </div>
                 <!--    ----------------------------------      -->
                 <div layout="row">

                   <div flex="40"  md-truncate class="md-caption"  md-colors="{color:'grey-600'}">
                    Usuario: {{recibo.usuario.rif}}
                   </div>
                   <div flex="10" style="text-align:center">

                   </div>
                   <div flex="15" class="md-body-2" style="text-align:right" md-colors="{background:'grey-200'}">
                     Multa:

                   </div>
                   <div flex="35" class="md-body-2" style="text-align:right" md-colors="{background:'grey-200'}">

                     {{lineTotalMulta[linea.id]|currency:''}}
                   </div>
                 </div>
                 <!--    ----------------------------------      -->
                 <div layout="row">

                   <div flex="40"  md-truncate class="md-caption"  md-colors="{color:'grey-600'}">
                    Creado: {{linea.created_at|date:'MM/dd/yyyy'}}
                   </div>
                   <div flex="10" style="text-align:center">

                   </div>
                   <div flex="15" class="md-body-2" style="text-align:right">
                     Mora:

                   </div>
                   <div flex="35" class="md-body-2" style="text-align:right">

                     {{lineTotalInteres[linea.id]|currency:''}}
                   </div>
                 </div>
                  <!--    ----------------------------------      -->
                  <div layout="row">

                    <div flex="40"  md-truncate class="md-caption"  md-colors="{color:'grey-600'}">
                     Actualizado: {{linea.updated_at|date:'MM/dd/yyyy'}}
                    </div>
                    <div flex="10" style="text-align:center">

                    </div>
                    <div flex="15" class="md-body-2" style="text-align:right" md-colors="{background:'grey-200'}">
                      Sub-Total:

                    </div>
                    <div flex="35" class="md-body-2" style="text-align:right" md-colors="{background:'grey-200'}">

                      {{lineTotalPagar[linea.id]|currency:''}}
                    </div>
                  </div>
                   <!--    ----------------------------------      -->
                   <br/>
                   <md-divider></md-divider>

            </div>
          </div>
          <div layout="row">

            <div flex="40"  md-truncate class="md-caption"  md-colors="{color:'grey-600'}">

            </div>
            <div flex="10" style="text-align:center">

            </div>
            <div flex="15" class="md-body-2" style="text-align:right" md-colors="{background:'grey-400'}">
              Total a Pagar:

            </div>
            <div flex="35" class="md-title" style="text-align:right" md-colors="{background:'grey-400'}">

              {{recibo.totalPagar|currency:''}}
            </div>
          </div>

          <md-divider></md-divider>
          <br/>
        </div>

<div flex>
  <md-toolbar ng-if="recibo.status == 'Pagada'">
    <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
      <h2><span>Detalle de Pago</span></h2>
      </div>
    </md-toolbar>
    Recibo: {{recibo.pago.recibo_id}}
    Banco Emisor: {{recibo.pago.banco}}
    Método de Pago: {{recibo.pago.tipo}}

</div>


    </div>
</md-dialog-content>



</md-dialog>
