<md-content ng-controller="ctrTasa" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
    <form name="Form" >
      <md-card-content>
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Datos del Contribuyente</span></h2>
            <md-button class="md-icon-button" ng-click="agregarContribuyente()">
               <md-icon  md-colors="{background:'light-blue-700'}" md-svg-icon="account-plus"><md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <div ng-if="buscarContri">

          <md-content>
            <div layout="row" layout-align="start center">
              <div flex="30">
                <md-input-container class="md-block" >
                  <label>RIF</label>
                  <input  type="text"   ng-model="buscar.rif" id="rif" required style="text-transform:uppercase" />
                </md-input-container>
              </div>
              <div flex="15">
                <md-button class="md-icon-button" ng-click="buscarPersona()"> <md-icon>Buscar<md-icon></md-button>
              </div>

            </div>

            <md-content>
           </div>

        <div ng-if="crearContri">

          <md-content>
            <form name="fContribuyente">
            <md-input-container class="md-block" >
              <label>RIF</label>
              <input  type="text"   ng-model="persona.rif" id="rif" required=""  />
            </md-input-container>



            <md-input-container class="md-block" >
              <label>Nombre / Razón Social</label>
              <input  type="text"   ng-model="persona.nombre"  required="" />
            </md-input-container>

            <md-input-container class="md-block" >
              <label>Dirección</label>
              <input  type="text"  ng-model="persona.direccion"  required="" />
            </md-input-container>


            <md-input-container class="md-block" >
              <label>Teléfono</label>
              <input  type="text"   ng-model="persona.telefono" required=""/>
            </md-input-container>



            <md-input-container class="md-block" >
              <label>Correo</label>
              <input  type="text"   ng-model="persona.correo"  />
            </md-input-container>
            <div layout="row" layout-align="end end">
              <md-button   class="md-raised " ng-click="cerrarFormulario()">Cancelar</md-button>
              <md-button  ng-click="guardarContribuyente();"  class="md-raised md-primary">Guardar Contribuyente</md-button>
            </div>
          </form>
          </md-content>
        </div>
        <!--    POR AQUI JOHN LISTA DE BUSQUEDA AMPLIA                  -->
        <div ng-show="buscarContri1">
        <md-list flex>
          <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
            <div flex layout="row" >
              <div flex="20" >
                <p class="md-subhead">Rif/Cedula</p>
              </div>
              <div flex="45" >
                <p class="md-subhead">Nombre / Razón Social </p>
              </div>
              <div flex="25" >
                <p class="md-subhead">Dirección</p>
              </div>


            </div>
          </md-list-item>
          <!--<md-list-item class="secondary-button-padding" ng-repeat="c in selContribuyente" md-ink-ripple ng-click="selObj(c,'patente')">
            <div flex layout="row" layout-align="center center" >
              <div flex="20" >
                <p class="md-caption">{{c.rif}} </p>
              </div>
              <div flex="45" >
                <p class="md-caption">{{c.nombre}}</p>
              </div>
              <div flex="25" >
                <p class="md-caption">{{c.direccion}} </p>
              </div>

            </div>

             <md-divider></md-divider>
          </md-list-item>  -->

          <md-list-item class="secondary-button-padding" ng-repeat="per in selContribuyente" md-ink-ripple ng-click="selObjPersona(per)">
            <div flex layout="row" layout-align="center center" >
              <div flex="20" >
                <p class="md-caption">{{per.rif}} </p>
              </div>
              <div flex="45" >
                <p class="md-caption">{{per.nombre}}</p>
              </div>
              <div flex="25" >
                <p class="md-caption"> {{per.direccion}}</p>
              </div>

            </div>

             <md-divider></md-divider>
          </md-list-item>

        </md-list>
        </div>

        <!-- FIN JOHN -->
         <div ng-if="mostrarContri">
          <div layout="row" layout-align="center center">
            <div flex="30">

              <label class="md-caption"> RIF: </label>
              <label class="md-subhead"> {{persona.rif}}</label>
            </div>
            <div flex="70">
              <label class="md-caption">  Nombre / Razón Social:</label>
              <label class="md-subhead" > {{persona.nombre}}</label>
            </div>
          </div>
          <div layout="row" >

            <div flex >
              <label class="md-caption">  Direccion: </label>
              <label class="md-subhead"> {{persona.direccion}}</label>
            </div>


          </div>
        </div>
        <md-divider></md-divider>
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Tasa Administrativas</span></h2>
          </div>
        </md-toolbar>


        <div flex class="inset"  >
          <div layout="row">
            <div flex>
              <md-input-container class="md-block">
                <label>Tasa Administrativa</label>
                <md-select  ng-model="selTasa" required ng-change="calcularTasa()">
                  <md-option value="{{item.id}}" ng-repeat="item in items"> {{item.concepto}} - {{item.cantidad}}% {{item.unidadCobro.nombre}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            </div>
            <div layout="row">
            <div flex>
              <md-input-container class="md-block" >
                <label>Factor</label>
                <input  type="text"   ng-model="factor" ng-change="cambiarFactor()" ng-readonly="editFactor" required  decimals-only/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container class="md-block" >
                <label>Total</label>
                <input  type="text"  ng-model="subtotal"  readonly="true" readOnl  required  decimals-only/>
              </md-input-container>
            </div>
            <md-divider></md-divider>
          </div>
        </div>

        <div layout="row" layout-align="end end">
          <md-button  ng-click="agregarTasa()"  class="md-raised" md-colors="{background:'blue-grey-300'}">Agregar Tasa Administrativa</md-button>
        </div>



        <div flex>
          <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


            <div flex layout="row" layout-align="center center">
              <div flex="60" layout-align="center center">
                Descripción
              </div>

              <div flex="10"style="text-align:center">
                U.T
              </div>
              <div flex="10"style="text-align:center">
                Factor
              </div>
              <div flex="15" style="text-align:right">
                Sub-Total
              </div>
              <div flex="5" style="text-align:right">

              </div>
            </div>
          </div>
          <div  ng-repeat="tasaAplicada in tasasAplicadas" >
            <div flex  >
              <div layout="row">
                <div flex="60" md-truncate>
                  {{tasaAplicada.nombre}}
                </div>

                <div flex="10" style="text-align:center">
                  {{tasaAplicada.salario}}% SMMU
                </div>
                <div flex="10" style="text-align:center">
                  {{tasaAplicada.factor}}
                </div>
                <div flex="15" style="text-align:right; vertical-align:bottom">
                  {{tasaAplicada.subtotal|currency:''}}
                </div>
                <div flex="5" style="text-align:right">
                  <md-button ng-click="eliminarTasa(tasaAplicada)" class="md-icon-button" aria-label="More">
                    <md-icon md-colors="{color:'red-800'}">clear<md-icon>
                      <md-button>
                      </div>
                    </div>
                    <md-divider></md-divider>
                  </div>
                </div>
              </div>




              <div layout="row" layout-align="end end">
                <label class="md-headline">Total: {{totalPagar|currency:''}}</label>
              </div>
              <div layout="row" layout-align="end end">
                <md-button  ng-click="guardarRecibo();" ng-disabled="permitirGuardar" class="md-raised md-primary">Guardar Orden de Cobro</md-button>
              </div>

              <md-divider></md-divider>
            </md-card-content>
          </form>
        </md-card>
      </md-content>
