<md-content  layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form" ng-controller="ctrVehiculo">
  <md-card flex="flex" >
    <md-card-content >
      <form name="userForm" autocomplete="off" layout = "row" flex>
      <md-content layout-padding layout= "column" flex="50">
        <md-toolbar class="md-hue-2" >
            <div class="md-toolbar-tools" layout="row" >
              <div flex="20" layout-align="end center">
                <md-icon md-svg-icon="car-hatchback"></md-icon>
              </div>
              <div flex="80">
                  <p class="md-body-2" md-colors="{color:'orange-300'}">Ingrese los datos del Vehiculo a registrar.</p>
              </div>
            </div>
        </md-toolbar>

          <div layout="row">
            <md-input-container>
              <label>Placa</label>
              <input name="placa" ng-model="vehiculo.placa" required="" md-maxlength="10" minlength="8">
              <div ng-messages="userForm.placa.$error" ng-show="userForm.placa.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Marca</label>
              <input name="marca" ng-model="vehiculo.marca" type="text" required="" md-maxlength="25" minlength="2">
              <div ng-messages="userForm.marca.$error" ng-show="userForm.marca.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Modelo</label>
              <input name="modelo" ng-model="vehiculo.modelo" type="text" required="" md-maxlength="30" minlength="5">
              <div ng-messages="userForm.modelo.$error" ng-show="userForm.modelo.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container>
              <label>Color</label>
              <input name="color" ng-model="vehiculo.color" required="" md-maxlength="25" minlength="4">
              <div ng-messages="userForm.color.$error" ng-show="userForm.color.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>

            <md-input-container>
              <label>Clase</label>
              <input name="clase" ng-model="vehiculo.clase" type="text" required="" md-maxlength="30" minlength="5">
              <div ng-messages="userForm.clase.$error" ng-show="userForm.clase.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Tipo</label>
              <input name="tipo" ng-model="vehiculo.tipo" type="text" required="" md-maxlength="30" minlength="5" >
              <div ng-messages="userForm.tipo.$error" ng-show="userForm.tipo.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container>
              <label>Serial N.I.V </label>
              <input name="serial" ng-model="vehiculo.serial" required="">
              <div ng-messages="userForm.serial.$error" ng-show="userForm.serial.$dirty">
                <div ng-message="required">Campo Necesario!</div>

              </div>
            </md-input-container>

            <md-input-container>
              <label>Año</label>
              <input name="ano" ng-model="vehiculo.ano" type="text" required="" md-maxlength="4" minlength="4">
              <div ng-messages="userForm.ano.$error" ng-show="userForm.ano.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Uso</label>
              <input name="uso" ng-model="vehiculo.uso" type="text" required="" md-maxlength="20" minlength="4">
              <div ng-messages="userForm.uso.$error" ng-show="userForm.uso.$dirty">
                <div ng-message="required">Campo Necesario!</div>
                <div ng-message="md-maxlength">Longitud Maxima!</div>
                <div ng-message="minlength">Longitud Minima!</div>
              </div>
            </md-input-container>
          </div>
        </md-content>
        <md-content layout-padding layout= "column" flex="50">
          <md-toolbar class="md-hue-2">
              <div class="md-toolbar-tools" layout="row" flex >
                <div flex="20" layout-align="end center">
                  <md-icon md-svg-icon="account-plus"></md-icon>
                  <md-button class="md-icon-button" aria-label="buscar" ng-click="busqueda()">
                      <md-icon md-svg-icon="account-search"></md-icon>
                    </md-button>
                </div>
                <div flex="80">
                    <p class="md-body-2" md-colors="{color:'orange-300'}">Ingrese los datos del Propietario.</p>
                </div>
              </div>
          </md-toolbar>
              <md-content layout-padding ng-show="!verPersona">
                    <div layout="row" flex>
                      <md-input-container>
                        <label>Nombre</label>
                        <input name="nombre" ng-model="persona.nombre" type="text" required="">
                        <div ng-messages="userForm.nombre.$error" ng-show="userForm.nombre.$dirty">
                          <div ng-message="required">Campo Necesario!</div>
                          <
                        </div>
                      </md-input-container>

                      <md-input-container>
                        <label>Cedula/Rif</label>
                        <input name="rif" ng-model="persona.rif" type="text" required="">
                        <div ng-messages="userForm.rif.$error" ng-show="userForm.rif.$dirty">
                          <div ng-message="required">Campo Necesario!</div>

                        </div>
                      </md-input-container>

                    </div>
                    <div layout="row" flex>
                      <md-input-container>
                        <label>Direccion</label>
                        <input name="direccion" ng-model="persona.direccion" type="text" required="">
                        <div ng-messages="userForm.direccion.$error" ng-show="userForm.direccion.$dirty">
                          <div ng-message="required">Campo Necesario!</div>

                        </div>
                      </md-input-container>
                    </div>
                    <div layout="row" flex layout-align="end end">
                      <md-button ng-disabled="!userForm.$valid" class="md-primary md-raised" aria-label="buscar" ng-click="procesarGuardado(vehiculo, persona)">Guardar</md-button>
                    </div>

                </md-content>
                  <md-content layout-padding flex ng-show="verPersona">
                    <div>
                        <md-card  flex layout-fill="" style="min-height: 224px;">
                          <md-card-content>
                            <div layout="row" flex >
                              <div layout="column" flex="40">
                              <md-input-container>
                                  <label>Nombre</label>
                                  <input ng-model="personaNombre" type="text">
                              </md-input-container>
                              </div>
                              <div layout="column" flex="60" layout-align="center end ">
                                  <md-button class="md-raised" ng-click="buscarPersonas()">Buscar</md-button>
                              </div>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" flex layout-fill="" style="min-height: 224px;">
                              <md-list flex>
                                <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                                  <div flex layout="row" >
                                    <div flex="35" >
                                      <p class="md-body-2">Nombre / Razón Social </p>
                                    </div>
                                    <div flex="15" >
                                      <p class="md-body-2">RIF</p>
                                    </div>
                                    <div flex="50" >
                                     <p class="md-body-2">Dirección </p>
                                    </div>

                                  </div>
                                </md-list-item>
                                <md-list-item class="secondary-button-padding" ng-repeat="persona in personas" md-ink-ripple ng-click="selObjPer(persona)">
                                  <div flex layout="row" layout-align="center center" >
                                    <div flex="35" >
                                      <p class="md-caption"><small class="md-caption">{{persona.nombre}}</small></p>
                                    </div>
                                    <div flex="15" >
                                      <p class="md-caption"><small class="md-caption">{{persona.rif}}</small></p>
                                    </div>
                                    <div flex="50">
                                        <p class="md-caption"><small class="md-caption">{{persona.direccion}}</small></p>
                                    </div>
                                  </div>
                                   <md-divider></md-divider>
                                </md-list-item>
                              </md-list>
                            </div>
                          </md-card-content>
                        </md-card>
                      </div>
                  </md-content>
          </md-content>
        </form>
    </md-card-content>

  </md-card>
</md-content>
