<md-content ng-controller="ctrContribuyente"  layout-align-md="star- center" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <div layout="row" flex>
      <div layout="column" flex= "40">
         <div layout="row">
          <md-card flex>
            <md-card-content>
              <div layout="row" layout-align= "center star">
                    <h2 class="md-title">Consulta de Contribuyente</h2>
              </div>
              <div layout="row">
                <div>
                  <md-input-container >
                    <label>Por Rif</label>
                    <input type="text" name="text" ng-model="numero" placeholder="RIF" required=""/>
                  </md-input-container>
                  <md-input-container >
                    <label>Por Nombre</label>
                    <input type="text" name="text" ng-model="nombre" placeholder="Nombre" required=""/>
                  </md-input-container>
                </div>
                <div layout-align="end">
                      <md-button class="md-raised md-primary" ng-click="buscarContribuyente()">Buscar</md-button>
                </div>

              </div>
            </md-card-content>
          </md-card>
        </div>
        <div layout="row"> <!-- segundo card   -->
          <md-card flex>
            <md-card-title>
              <md-card-title-text>
                <span class="md-title">Patentes registradas del Contribuyente</span>
              </md-card-title-text>
              </md-card-title>
              <md-card-actions layout="row" flex layout-align="star">
                <md-tabs md-dynamic-height md-border-bottom flex ng-repeat="dep in departamentos">
                       <md-tab label="{{dep.nombre}}">
                         <md-content class="md-padding">
                           <md-list flex>
                             <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                               <div flex layout="row" flex >
                                 <div flex="30" >
                                   <p class="md-subhead">N° Patente</p>
                                 </div>
                                 <div flex="30" >
                                   <p class="md-subhead">Monto</p>
                                 </div>
                                 <div flex="40" >
                                   <p class="md-subhead">Ultimo Pago</p>
                                 </div>

                               </div>
                             </md-list-item>
                             <md-list-item class="secondary-button-padding" <!-- ng-repeat="pat in patenteContribuyente"--> md-ink-ripple ng-click="">
                               <div flex layout="row" flex layout-align="center center" >
                                 <div flex="30" >
                                   <p class="md-caption">{{pat.patente}} </p>
                                 </div>
                                 <div flex="30" >
                                   <p class="md-caption">{{pat.ultimoPago.monto}}</p>
                                 </div>
                                 <div flex="40" >
                                   <p class="md-caption">{{verificarData(pat.ultimoPago.created_at )}} </p>
                                 </div>

                               </div>

                                <md-divider></md-divider>
                             </md-list-item>
                           </md-list>
                         </md-content>
                       </md-tab>

                     </md-tabs>
              </md-card-actions>
            </md-card>

         </div>
        </div>

    <div layout="colunm" flex="60">
      <md-card flex>

        <md-card-content>
          <div layout="row" layout-align="center star">
              <h2 class="md-title">Informacion del Contribuyente</h2>
              </div>
          <div flex>
           <md-list  >
            <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
              <div flex layout="row" >
                <div flex="20" >
                  <p class="md-subhead">Rif/Cedula</p>
                </div>
                <div flex="30" >
                  <p class="md-subhead">Nombre / Razón Social </p>
                </div>
                <div flex="50" >
                  <p class="md-subhead">Dirección</p>
                </div>

              </div>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-repeat="persona in personas" md-ink-ripple ng-click="patentesContribuyente(persona)">
              <div flex layout="row" layout-align="center center" >
                <div flex="20" >
                  <p class="md-caption">{{persona.rif}} </p>
                </div>
                <div flex="30" >
                  <p class="md-caption">{{persona.nombre}}</p>
                </div>
                <div flex="50" >
                  <p class="md-caption">{{persona.direccion}} </p>
                </div>

              </div>

               <md-divider></md-divider>
            </md-list-item>
          </md-list>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
  <div layout="row" flex></div>
</md-content>
