<md-content ng-controller="ctrReporte" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >




    <md-toolbar>
      <div class="md-toolbar-tools" md-colors="{background : 'grey-50'}">
        <h2><span>Total de Registros Catastrales</span></h2>
      </div>
    </md-toolbar>

    <md-progress-linear ng-show="buscando" md-mode="indeterminate"></md-progress-linear>
    <div layout="row" flex>


    <md-list flex="50" >
      <md-list-item class="secondary-button-padding" md-colors="{background:'grey-300'}">


        <div flex layout="row">
          <div flex="70" style="text-align:center">
            Registos / Status
          </div>
          <div flex="30" style="text-align:center">
           Total
          </div>

        </div>
      </md-list-item>
      <md-list-item class="secondary-button-padding"  md-ink-ripple >
        <div flex  >
          <div layout="row">
            <div flex="70" style="text-align:center">
             Totales
            </div>
            <div flex="30" style="text-align:center">
              {{totales.totales}}
            </div>

        </div>
        <md-divider></md-divider>
      </div>
    </md-list-item>
    <md-list-item class="secondary-button-padding"  md-ink-ripple md-colors="{background:'grey-100'}" >
      <div flex  >
        <div layout="row">
          <div flex="70" style="text-align:center">
           Anteriores
          </div>
          <div flex="30" style="text-align:center">
            {{totales.anteriores}}
          </div>

      </div>
      <md-divider></md-divider>
    </div>
  </md-list-item>
  <md-list-item class="secondary-button-padding"  md-ink-ripple >
    <div flex  >
      <div layout="row">
        <div flex="70" style="text-align:center">
         Nuevos
        </div>
        <div flex="30" style="text-align:center">
          {{totales.nuevas}}
        </div>

    </div>
    <md-divider></md-divider>
  </div>
</md-list-item>
<md-list-item class="secondary-button-padding"  md-ink-ripple md-colors="{background:'grey-100'}">
  <div flex  >
    <div layout="row">
      <div flex="70" style="text-align:center">
       Catastros Actualizados
      </div>
      <div flex="30" style="text-align:center">
        {{totales.completas}}
      </div>

  </div>
  <md-divider></md-divider>
</div>
</md-list-item>
<md-list-item class="secondary-button-padding"  md-ink-ripple >
  <div flex  >
    <div layout="row">
      <div flex="70" style="text-align:center">
       Catastros Pagados (2018)
      </div>
      <div flex="30" style="text-align:center">
        {{totales.pagadas}}
      </div>

  </div>
  <md-divider></md-divider>
</div>
</md-list-item>
  </md-list>

  <div flex="50">
    <canvas id="bar" class="chart chart-bar"
    chart-data="data" chart-labels="labels"> chart-series="series"
  </canvas>

  </div>
  </div>  
</md-card>

</md-content>
