<md-content ng-controller="ctrReporte" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >




    <md-toolbar>
      <div class="md-toolbar-tools" md-colors="{background : 'grey-50'}">
        <h2><span>Reporte Mensual</span></h2>
      </div>
    </md-toolbar>
    <div layout="row" layout-align="start start" >
      <md-input-container flex class="md-block" >
        <label>Estado del Recibo</label>
        <md-select  ng-model="selStatus" >
          <md-option value="{{sta}}" ng-repeat="sta in status">{{sta}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex class="md-block">
        <label>Fecha</label>
        <md-datepicker ng-model="fecha" md-placeholder="Mes" md-mode="month"></md-datepicker>

      </md-input-container>
      <md-input-container flex class="md-block">
        <md-button class="md-raised" ng-click="filtrarRecibos('mes')"> Buscar</md-button>
        <!--  <md-button class="md-raised" ng-click="filtrarRecibos()"> Imprimir</md-button>
      --></md-input-container>
    </div>
    <md-progress-linear ng-show="buscando" md-mode="indeterminate"></md-progress-linear>
    <md-list flex >
      <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">


        <div flex layout="row">
          <div flex="5" style="text-align:center">
            #
          </div>
          <div flex="10" style="text-align:center">
            Recibo
          </div>
          <div flex="35">
            Razón Social / Nombre
          </div>
          <div flex="15" style="text-align:center">
            RIF
          </div>
          <div flex="15" style="text-align:center">
            Patente
          </div>
          <div flex="15" style="text-align:center">
            Total
          </div>
          <div flex="5">

          </div>
        </div>
      </md-list-item>
      <md-list-item class="secondary-button-padding" ng-repeat="recibo in recibos | orderBy:'+pago.id'" md-ink-ripple >
        <div flex  >
          <div layout="row">
            <div flex="5" style="text-align:center">
              {{recibo.id}}
            </div>
            <div flex="10" style="text-align:center">
              {{recibo.pago.id}}
            </div>
            <div flex="35">
              {{recibo.persona.nombre}}
            </div>
            <div flex="15" style="text-align:center">
              {{recibo.persona.rif}}
            </div>
            <div flex="15" style="text-align:center">
              {{recibo.patente.patente}}
            </div>
            <div flex="15" style="text-align:right">
              {{recibo.totalPagar|currency:''}}
            </div>
            <div flex="5" ng-if="usuario.nivel == 'taquilla'">
              <md-button ng-if="recibo.status =='Pagada'"ng-click="reImprimir(recibo.id);"class="md-icon-button"  >
              <md-icon>print</md-icon>
            </md-button>
          </div>
        </div>
        <md-divider></md-divider>
      </div>
    </md-list-item>
  </md-list>
  <div  id="printArea" ng-show="false">


    <table style="width:100%;font-size:12px">
      <tr style="width:100%;font-size:12px">
        <td>
          <table style="width:100%;font-size:12px">
            <td style="text-align:center">
              <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
              <span>ESTADO NUEVA ESPARTA</span><br>
              <span>ALCALDIA BOLIVARIANA MUN. ARISMENDI</span><br>
              <span>G-200003464</span><br>
            </td>
            <td>
              <span>Reporte de Recaudación Mensual</span><br>
              <span>Usuario: {{userU.rif}}</span><br>
              <span>Fecha:{{fecha| date:'dd-MM-yyyy'}}</span><br>
              <span>Estatus: {{selStatus}}</span><br>
              <span>Fecha de Impresion:{{date| date:'dd-MM-yyyy  h:mma'}}</span><br>

            </td>
          </td>
        </table>
      </tr>
      <tr>
        <td>
          <table style="width:100%;font-size:12px">
            <tr style="width:100%;font-size:12px" md-colors="{background:'grey-800'}">
              <td>#</td>
              <td>No. Recibo</td>
              <td>Nombre Razon Social</td>
              <td>RIF</td>
              <td>Ramo</td>
              <td>Patente</td>
              <td>Multa</td>
              <td>Intereses</td>
              <td>Descuentos</td>
              <td>Total</td>
            </tr>
            <tr style="width:100%;font-size:12px" ng-repeat="recibo in recibos" md-colors="colorTable($index) ?{  background:'grey-200'}:{  background:'grey-50'}">

              <td >{{recibo.id}}</td>
              <td>{{recibo.pago.id}}-{{$index}}</td>
              <td>{{recibo.persona.nombre}}</td>
              <td>{{recibo.persona.rif}}</td>
              <td>{{recibo.lineas[0].tipo}}</td>
              <td>{{recibo.patente.patente}}</td>
              <td style="text-align:right">{{recibo.totalMulta|currency:''}}</td>
              <td style="text-align:right">{{recibo.totalInteres|currency:''}}</td>
              <td style="text-align:right">{{recibo.totalDescuento|currency:''}}</td>
              <td style="text-align:right"> {{recibo.totalPagar|currency:''}}</td>
            </tr>

            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Multas: {{totalMulta|currency:''}}</td>
            </tr>
            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Intereses: {{totalInteres|currency:''}}</td>
            </tr>
            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Descuentos: {{totalDescuento|currency:''}}</td>
            </tr>
            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Recaudado: {{totalPagar|currency:''}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div ng-if=" usuario.nivel == 'reporte' || usuario.nivel == 'super' " layout="row" layout-align="end end" >
    <label     class="md-title">Total Descuentos: {{totalDescuento|currency:''}}</label>
  </div>
  <div ng-if="usuario.nivel == 'reporte' || usuario.nivel == 'super'" layout="row" layout-align="end end" >
    <label  class="md-title">Total Multas: {{totalMulta|currency:''}}</label>
  </div>
  <div ng-if="usuario.nivel == 'reporte' || usuario.nivel == 'super'" layout="row" layout-align="end end" >
    <label class="md-title">Total Interes: {{totalInteres|currency:''}}</label>
  </div>

  <div ng-if="usuario.nivel == 'reporte' || usuario.nivel == 'super'" layout="row" layout-align="end end">
    <label class="md-headline">Totales: {{totalPagar|currency:''}}</label>
  </div>

  <md-button ng-if="usuario.nivel == 'reporte' || usuario.nivel == 'super'" class="md-raised md-primary" ng-click="printIt2()">Imprimir</md-button>
  <!--
  <wan-material-paging wmp-total="total" goto-page="gotoPage()" position="center" current-page="currentPage" step="step">
</wan-material-paging>-->
</md-card>
</md-content>
