<md-content ng-controller="ctrReporte" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
    <div class="row" flex>
      <md-card >
        <md-card-title md-colors="{background : 'grey-200'}">
          <md-card-title-text>
            <span class="md-headline">Reporte por Periodos:</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="row" layout-align="start start" >
            <md-input-container flex class="md-block">
              <label>Fecha Desde</label>
              <md-datepicker ng-model="tiempo.desde" ></md-datepicker>
            </md-input-container>
            <md-input-container flex class="md-block">
              <label>Fecha Hasta</label>
              <md-datepicker ng-model="tiempo.hasta" ></md-datepicker>
            </md-input-container>
            <md-input-container flex class="md-block">
              <md-button class="md-raised" ng-click="reporteXperiodo(tiempo)"> Buscar</md-button>
              <!--  <md-button class="md-raised" ng-click="filtrarRecibos()"> Imprimir</md-button>
            --></md-input-container>
          </div>
          <md-progress-linear ng-show="buscando" md-mode="indeterminate"></md-progress-linear>
        </md-card-content>
      </md-card>
    </div>
    <!--  --------------------------->
    <div flex-xs flex-gt-xs>
      <md-card md-theme="" md-theme-watch>
        
        <md-card-content class="md-padding" flex>
          <md-list flex >
            <md-list-item class="secondary-button-padding" md-colors="{background:'grey-300'}">
              <div flex layout="row">
                <div flex="10" style="text-align:center">
                   <span class="md-caption">Catastro</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">Rif</span>
                </div>
                <div flex="15"style="text-align:center">
                  <span class="md-caption">Direccion</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">Telefono</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">Terreno</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">Construccion</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">Tipologia</span>
                </div>
                <div flex="5" style="text-align:center">
                  <span class="md-caption">Zona</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">Fecha</span>
                </div>
                <div flex="5" style="text-align:center">
                  <span class="md-caption">Monto</span>
                </div>
                <div flex="5" style="text-align:center">
                  <span class="md-caption">Recibo</span>
                </div>
              </div>
              <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="secondary-button-padding" ng-repeat="recibo in recibosPeriodo | orderBy:'+pago.id'" md-ink-ripple >
              <div flex layout="row">
                <div flex="10" style="text-align:start">
                  <span class="md-caption">{{recibo.catastro}}</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">{{recibo.rif}}</span>
                </div>
                <div flex="15"style="text-align:center">
                  <span class="md-caption">{{recibo.direccion}}</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">{{recibo.telefono}}</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">{{recibo.terreno}}</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">{{recibo.construccion}}</span>
                </div>
                <div flex="10" style="text-align:center">
                  <span class="md-caption">{{recibo.tipologia}}</span>
                </div>
                <div flex="5" style="text-align:center">
                  <span class="md-caption">{{recibo.zona}}</span>
                </div>
                <div flex="10" style="text-align:end">
                  <span class="md-caption">{{recibo.fecha}}</span>
                </div>
                <div flex="5" style="text-align:end">
                  <span class="md-caption">{{recibo.monto}}</span>
                </div>
                <div flex="5" style="text-align:end">
                  <span class="md-caption">{{recibo.pago_id}}</span>
                </div>

              </div>
              <md-divider></md-divider>
          </md-list-item>
        </md-list>
        </md-card-content>
      </md-card>
      </div>
    <!-- area de imprecion ------>
  <div  id="printArea" ng-show="false">


    <table style="width:100%;font-size:12px">
      <tr style="width:100%;font-size:12px">
        <td>
          <table style="width:100%;font-size:12px">
            <td style="text-align:center">
              <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
              <span>ESTADO NUEVA ESPARTA</span><br>
              <span>ALCALDIA BOLIVARIANA MUN. ARISMENDI</span><br>
              <span>G-200003464</span><br>
            </td>
            <td>
              <span>Reporte de Recaudación por Día</span><br>
              <span>Usuario: {{userU.rif}}</span><br>
              <span>Fecha:{{fecha| date:'dd-MM-yyyy'}}</span><br>
              <span>Estatus: {{selStatus}}</span><br>
              <span>Fecha de Impresion:{{date| date:'dd-MM-yyyy  h:mma'}}</span><br>

            </td>
            </table>
          </td>

      </tr>
      <tr>
        <td>
          <table style="width:100%;font-size:12px" ng-repeat="tipo in tipos">
            <tr style="width:100%;font-size:12px" md-colors="{background:'grey-400'}">
              <td>{{tipo}}</td>
              <td>Total</td>
            </tr>
            <tr style="width:80%;font-size:12px"  md-colors="colorTable($index) ?{  background:'grey-200'}:{  background:'grey-50'}">
              <td >Total Recaudado por Multa en el Periodo Seleccionado</td>
              <td style="text-align:right;width:20%">{{arrTotalXtipo[tipo].totalMulta|currency:''}}</td>
            </tr>
            <tr style="width:80%;font-size:12px"  md-colors="colorTable($index) ?{  background:'grey-200'}:{  background:'grey-50'}">
              <td >Total de Descuento Realizado en el Periodo Seleccionado</td>
              <td style="text-align:right;width:20%">{{arrTotalXtipo[tipo].totalDescuento|currency:''}}</td>
            </tr>
            <tr style="width:80%;font-size:12px"  md-colors="colorTable($index) ?{  background:'grey-200'}:{  background:'grey-50'}">
              <td >Total Recaudado por Intereses de Mora en el Periodo Seleccionado</td>
              <td style="text-align:right;width:20%">{{arrTotalXtipo[tipo].totalInteres|currency:''}}</td>
            </tr>
            <tr style="width:80%;font-size:12px"  md-colors="colorTable($index) ?{  background:'grey-200'}:{  background:'grey-50'}">
              <td >Total Recaudado en el Periodo Seleccionado</td>
              <td style="text-align:right;width:20%">{{arrTotalXtipo[tipo].totalPagar|currency:''}}</td>
            </tr>
            <tr> <td></td></tr>
            <tr> <td></td></tr>
          </table>
          <md-divider></md-divider>
            <table style="width:100%;font-size:12px">
            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Multas: {{totalMulta|currency:''}}</td>
            </tr>
            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Intereses: {{totalInteres|currency:''}}</td>
            </tr>
            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Descuentos: {{totalDescuento|currency:''}}</td>
            </tr>
            <tr style="width:100%;font-size:14px" >
              <td colspan="10" style="text-align:right">Total Recaudado: {{totalPagar|currency:''}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div> <!-- fin div printer -->
  <!--<div ng-if="usuario.nivel == 'reporte' || usuario.nivel == 'dgestion'|| usuario.nivel == 'super'" layout="row" layout-align="end end" >
    <label     class="md-title">Total Descuentos: {{totalDescuento|currency:''}}</label>
  </div>
  <div ng-if="usuario.nivel == 'reporte'  || usuario.nivel == 'dgestion'|| usuario.nivel == 'super'" layout="row" layout-align="end end" >
    <label  class="md-title">Total Multas: {{totalMulta|currency:''}}</label>
  </div>
  <div ng-if="usuario.nivel == 'reporte'  || usuario.nivel == 'dgestion'|| usuario.nivel == 'super'" layout="row" layout-align="end end" >
    <label class="md-title">Total Interes: {{totalInteres|currency:''}}</label>
  </div>

  <div ng-if="usuario.nivel == 'reporte'  || usuario.nivel == dgestion'|| usuario.nivel == 'super'" layout="row" layout-align="end end">
    <label class="md-headline">Totales: {{totalPagar|currency:''}}</label>
  </div>

  <md-button ng-if="usuario.nivel == 'reporte'  || usuario.nivel == 'dgestion'|| usuario.nivel == 'super'" class="md-raised md-primary" ng-click="printIt2()">Imprimir</md-button>
  <!--
  <wan-material-paging wmp-total="total" goto-page="gotoPage()" position="center" current-page="currentPage" step="step">
</wan-material-paging>-->
</md-card>
</md-content>
