<md-content ng-controller="ctrReporte" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >


    <md-toolbar>
      <div class="md-toolbar-tools" md-colors="{background : 'grey-50'}">
        <h2><span>Reportes</span></h2>
      </div>
    </md-toolbar>
    <div class="">
      <md-list ng-cloak>
        <md-list-item ng-click="navigateTo('reportedia')" ng-if=" usuario.nivel == 'super' || usuario.nivel == 'gestion'|| usuario.nivel == 'dgestion'|| usuario.nivel == 'hacienda'|| usuario.nivel == 'reporte'"    >
           <md-icon >today</md-icon>
          <p>Reporte por Día</p>
          <md-divider></md-divider>
        </md-list-item>

        <md-list-item ng-click="navigateTo('reportemes')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'dgestion'|| usuario.nivel == 'reporte'"   >
          <md-icon >date_range</md-icon>
          <p>Reporte Mensual</p>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="navigateTo('reporteTipos')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'dgestion'|| usuario.nivel == 'reporte'"   >
          <md-icon >date_range</md-icon>
          <p>Reportes por Departamentos</p>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="navigateTo('reportePeriodo')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'dcatastro'"   >
                  <md-icon >date_range</md-icon>
                  <p>Reportes Catastro por Periodos </p>
                  <md-divider></md-divider>
                </md-list-item>
        <md-list-item ng-click="navigateTo('a')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'reporte'"   >
          <md-icon >bubble_chart</md-icon>
          <p>Reportes Gráficos</p>
            <md-divider></md-divider>
        </md-list-item>

        <md-list-item ng-click="navigateTo('a')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'reporte'"   >
          <md-icon >multiline_chart</md-icon>
          <p>Reporte Gráfico Comparativo</p>
          <md-divider></md-divider>
        </md-list-item>

        <md-list-item ng-click="navigateTo('a')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'reporte'"   >
          <md-icon >supervisor_account</md-icon>
          <p>Reporte por Usuario</p>
          <md-divider></md-divider>
        </md-list-item>

        <md-list-item ng-click="navigateTo('a')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'reporte'"   >
          <md-icon >perm_contact_calendar</md-icon>
          <p>Reporte por Contribuyente</p>
          <md-divider></md-divider>
        </md-list-item>

        <md-list-item ng-click="navigateTo('a')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'reporte'"   >
          <md-icon >warning</md-icon>
          <p>Reporte de Alertas</p>
            <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="navigateTo('totalCatastro')"  ng-if=" usuario.nivel == 'super' || usuario.nivel == 'dcatastro'"   >
          <md-icon >house</md-icon>
          <p>Total de Registros Catastrales</p>
            <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </md-card>
</md-content>
