<md-content ng-controller="ctrCatastro" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >

    <md-card-content>
      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'green-800'}">
          <h2><span>Ficha Catastral - {{mostrarPatente}} </span></h2>

        </div>
      </md-toolbar>
      <md-content md-colors="{background:'green-50'}">
        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Calculo Catastral<hr></h2>

        <br>
        <div layout="row">

          <div flex=50>


            <span class="md-title" >Valor Catastral de la Construcción</span>
            <br>
            <span>

              <span  md-colors="{color:'blue-900'}"> VCC</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-800'}">Construcción(mt2)</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}">VFEU(Zona-Uso)</span>

              <span   md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}">VT</span>
              <span   md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}">FD</span>
            </span>
            <br>
            <span>
              <span  md-colors="{color:'blue-900'}"> VCC</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-800'}">{{ficha.construccion}} (mt2) </span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}"> {{valorVCC.valor | currency:''}} Bs.</span>

              <span   md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'blue-800'}"> {{tipologiaValor.porcentaje| currency:''}} %</span>
              <span   md-colors="{color:'red-800'}"> X</span>
              <span  md-colors="{color:'blue-800'}"> {{depreciacionValor.porcentaje| currency:''}} %</span>
            </span>
            <br>
            <span>
              <span  md-colors="{color:'blue-900'}"> VCC</span>
              <span md-colors="{color:'red-800'}">=</span>

              <span  md-colors="{color:'blue-800'}"> {{totalVCC | currency:''}} Bs.</span>


            </span>

          </div>
          <!--////////////////////////////////////////////////////////// -->
          <div flex=50>
            <span class="md-title" >Valor Catastral del Terreno</span>
            <br>
            <span>
              <span  md-colors="{color:'green-900'}"> VCT</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'green-800'}">Terreno(mt2)</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'green-800'}">VFS(Zona-Uso)</span>


            </span>
            <br>

            <span>
              <span  md-colors="{color:'green-900'}">VCT</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'green-800'}">{{ficha.terreno}} (mt2) </span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  md-colors="{color:'green-800'}"> {{valorVCT.valor | currency:''}} Bs.</span>

            </span>
            <br>
            <span>

              <span  md-colors="{color:'green-900'}"> VCT</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'green-800'}"> {{totalVCT | currency:''}} Bs.</span>


            </span>


            <!--/////////////////////////////////////////////////////// -->

          </div>
        </div>



        <!--////////////////////////////////////////////////////////// -->
        <br>
        <br>
        <div layout="row"layout-align="center center">
          <div flex="50">


            <span class="md-title" >Valor Catastral del inmueble</span>
            <br>
            <span>
              <span  > VCI</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-900'}">VCC </span>
              <span  md-colors="{color:'red-800'}">+</span>
              <span  md-colors="{color:'green-900'}"> VCT</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span  > Alicuota %</span>


            </span>
            <br>

            <span>
              <span  > VCI</span>
              <span md-colors="{color:'red-800'}">=</span>
              <span  md-colors="{color:'blue-900'}">{{totalVCC | currency:''}} Bs. </span>
              <span  md-colors="{color:'red-800'}">+</span>
              <span  md-colors="{color:'green-800'}"> {{totalVCT | currency:''}} Bs.</span>
              <span  md-colors="{color:'red-800'}">X</span>
              <span > {{alicuotaValor.porcentaje | currency:''}} %</span>

            </span>
            <br>


            <span>

              <span class="md-title"  > VCI</span>
              <span >=</span>
              <span class="md-title"  > {{totalVCI | currency:''}} Bs.</span>


            </span>
          </div>
        </div>
      <br>
          <div layout="row">
            <md-input-container class="md-block" flex="30">
              <label>Desde</label>
              <md-select ng-change="cambiaAutoFecha();"  ng-model="auto.desde"  required >
                <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container  class="md-block" flex="30">
              <label>Hasta</label>
              <md-select ng-change="cambiaAutoFecha();"  ng-model="auto.hasta"  required >
                <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex="40"  >
              <label>Sub-Total Bs.</label>
              <input  align="right" type="text" decimals-only  ng-model="auto.submonto | currency: '' " readonly   />

            </md-input-container>
            <md-input-container class="md-block" flex="40"  >
              <label>Descuento Bs.</label>
              <input  align="right" type="text" decimals-only  ng-model="auto.descuento | currency: '' " readonly   />
            </md-input-container>
            <md-input-container class="md-block" flex="40"  >
              <label>Total Bs.</label>
              <input  align="right" type="text" decimals-only  ng-model="auto.monto  | currency: '' " readonly   />
            </md-input-container>
          </div>







        <!--/////////////////////////////////////////////////////// -->







        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Calculo Manual<hr></h2>

        <div layout="row">
          <md-input-container class="md-block" flex="30">
            <label>Desde</label>
            <md-select ng-change="cambiaAutoFecha();"  ng-model="manual.desde"  required >
              <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block" flex="30" >
            <label>Hasta</label>
            <md-select  ng-model="manual.hasta"  required >
              <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex="40"  >
            <label>Monto en Bs.</label>
            <input name="terreno" align="right" type="text" decimals-only  ng-model="manual.monto"  required />

          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex class="md-block"  >
            <label>Concepto a Cobrar.</label>
            <input name="terreno"  type="text"  ng-model="manual.concepto"  required />

          </md-input-container>

        </div>




        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Tasas Administrativas<hr></h2>

        <div layout="row" class="" ng-repeat="tasa in tasasCatastro">

          <md-checkbox ng-checked="exists(tasa, tasasAdministrativas)" ng-click="toggle(tasa, tasasAdministrativas)" >
            {{tasa.nombre}} -  {{tasa.salario}}% SMMU
          </md-checkbox>
        </div>

        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Detalle de Cobro<hr></h2>
         <div layout="row">
           <div flex="70" class="md-title">
             Detalle
           </div>
           <div flex="20" style="text-align:center" class="md-title">
             Sub-Total
           </div>
         </div>


         <div layout="row" ng-if="auto.monto>0">
           <div flex="70">
             Propiedad Inmobiliaria {{auto.desde}} / {{auto.hasta}}
             <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="20" style="text-align:right">
             {{ auto.monto | currency : ''}}
           </div>

         </div>

         <div layout="row" ng-if="manual.monto>0 && manual.concepto != '' && manual.desde != '' && manual.hasta != '' ">
           <div flex="70">
              {{manual.concepto}} {{manual.desde}} / {{manual.hasta}}
               <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="20" style="text-align:right">
             {{ manual.monto | currency : ''}}

           </div>


           </div>

         </div>

         <div layout="row" ng-repeat="tasa in tasasAdministrativas">
           <div flex="70">
             {{tasa.nombre}}
            <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="20" style="text-align:right">
             {{salarioActual.base * (tasa.salario/100) | currency : ''}}

           </div>
           <div flex="10" style="text-align:right">


           </div>



         </div>




        <div layout="row" layout-align="end end">
          <md-button  md-colors="{background : 'grey-50'}" ui-sref="ficha" class="md-raise">Cancelar</md-button>

          <md-button  ng-click="guardarOrden();"  class="md-raised " md-colors="{background:'green-800'}">Guardar y Crear Orden de Cobro</md-button>
        </div>
      </md-content>
    </md-card>
  </md-content>
