<md-content ng-controller="ctrCatastro" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >

    <md-card-content>
      <div flex layout="row" layout-align="end center">
        <md-button ng-if="usuario.nivel == 'dcatastro'||(usuario.nivel == 'auxcatastro' && patente.persona_id==0)||(usuario.nivel == 'catastro' && patente.persona_id==0)" class="md-raised "  md-colors="{ background: 'orange-800'}" ui-sref="editCatastro">

          Editar Ficha Catastral
          </md-button>
          <md-button ng-if="usuario.nivel == 'dcatastro'||(usuario.nivel == 'auxcatastro' && patente.persona_id==0)||(usuario.nivel == 'catastro' && patente.persona_id==0)" class="md-raised " md-colors="{ background: 'green-800'}"ui-sref="cobroCatastro">
              Agregar Orden de Cobro
            </md-button>
      </div>
      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
          <h2><span>Ficha Catastral - {{mostrarPatente}} </span></h2>

        </div>
      </md-toolbar>


            <div ng-if="crearContri">

              <md-content>
                <form name="fContribuyente" >
                  <div layout-gt-xs="row">
                      <md-input-container class="md-block"  flex-gt-xs >
                        <label>RIF</label>
                        <input  type="text" readonly="true"  numbers-only name="rif"  ng-model="mostrarRIF"  ng-required="true" minlength="8"  ng-minlength="8" md-maxlength="9"  ng-maxlength="9"/>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-xs >
                        <label>Nombre / Razón Social</label>
                        <input  type="text" readonly="true"  name="nombre"   ng-model="patente.nombre"  required="" />
                      </md-input-container>
                  </div>



                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Teléfono</label>
                      <input  type="text"   name="telefono" ng-model="patente.telefono" required=""/>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs  >
                      <label>Correo</label>
                      <input  type="text" readonly="true"  name="correo"  ng-model="patente.correo"  />
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Dirección</label>
                      <input  type="text" readonly="true"  name="direccion" ng-model="patente.direccion"  required="" />

                    </md-input-container>
                  </div>
<!--
                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Norte</label>
                      <input  type="text" readonly="true" name="norte" ng-model="ficha.norte"  required="" />
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Sur</label>
                      <input  type="text" readonly="true"  ng-model="ficha.sur" name="sur" required="" />
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Este</label>
                      <input  type="text" readonly="true"  name="este" ng-model="ficha.este"  required="" />
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Oeste</label>
                      <input  type="text" readonly="true"  name="oeste" ng-model="ficha.oeste"  required="" />
                    </md-input-container>
                  </div>
-->
                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Sector</label>
                      <md-select  name="zona" ng-model="ficha.zona_id" required >
                        <md-option value="{{zona.id}}" ng-repeat="zona in newZonas">{{zona.zona}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.zona.$error">
                        <div ng-message="required">La Zona es un campo obligatorio</div>
                      </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Uso</label>
                      <md-select  name="uso" ng-model="ficha.uso_id" required >
                        <md-option value="{{uso}}" ng-repeat="uso in newUsos">{{uso}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.uso.$error">
                        <div ng-message="required">El Uso es un campo obligatorio</div>
                      </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Alicuota</label>
                      <md-select name="alicuota" ng-model="ficha.alicuota_id" required >
                        <md-option value="{{alic.id}}" ng-repeat="alic in newAlicuotas">{{alic.codigo}} - {{alic.porcentaje}}%</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.estado.$error">
                        <div ng-message="required">La Alicuota es un campo obligatorio</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Tipologia</label>
                      <md-select name="tipologia" ng-model="ficha.tipologia" required >
                        <md-option value="{{tipol.codigo}}" ng-repeat="tipol in newTipologias">{{tipol.codigo}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.estado.$error">
                        <div ng-message="required">La Tipologia es un campo obligatorio</div>
                      </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Año de Construcción</label>
                      <md-select name="ano" ng-model="ficha.ano" required >
                        <md-option value="{{ano}}" ng-repeat="ano in anos">{{ano}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.ano.$error">
                        <div ng-message="required">El Año es un campo obligatorio</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Metros cuadrados de Construcción</label>
                      <input readonly="true" name="construccion"  type="text" decimals-only  ng-model="ficha.construccion"  required />
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs  >
                      <label>Metros cuadrados de Área o Terreno</label>
                      <input readonly="true"  name="terreno"  type="text" decimals-only  ng-model="ficha.terreno"  required />
                    </md-input-container>
                  </div>


                </form>
              </md-content>
            </div>

            <div ng-if="mostrarContri">
              <div layout="row" layout-align="center center">
                <div flex="30">

                  <label class="md-caption"> RIF: </label>
                  <label class="md-subhead"> {{selContribuyente.rif}}</label>
                </div>
                <div flex="70">
                  <label class="md-caption">  Nombre / Razón Social:</label>
                  <label class="md-subhead" > {{selContribuyente.nombre}}</label>
                </div>
              </div>
              <div layout="row" >

                <div flex >
                  <label class="md-caption">  Direccion: </label>
                  <label class="md-subhead"> {{selContribuyente.direccion}}</label>
                </div>


              </div>
            </div>
            <md-divider></md-divider>

            <div flex >
            <md-toolbar>
              <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                <h2><span>Detalle de Pagos</span></h2>
              </div>
            </md-toolbar>




            <md-list flex>
              <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">


                <div flex layout="row">
                  <div flex="5" style="text-align:center">
                    #
                  </div>
                  <div flex="10" style="text-align:center">
                    Recibo
                  </div>
                  <div flex="35">
                    Razón Social / Nombre
                  </div>
                  <div flex="15" style="text-align:center">
                   RIF
                  </div>

                  <div flex="20" style="text-align:center">
                    Total
                  </div>
                  <div flex="5">

                  </div>
                </div>
              </md-list-item>


              <md-list-item class="secondary-button-padding" ng-repeat="recibo in recibos" md-ink-ripple >
                <div flex  >
                  <div layout="row">
                    <div flex="5" style="text-align:center">
                      {{recibo.id}}
                    </div>
                    <div flex="10" style="text-align:center">
                      {{recibo.pago.id}}
                    </div>
                    <div flex="40">
                      {{recibo.persona.nombre}}
                    </div>
                    <div flex="15" style="text-align:center">
                      {{recibo.persona.rif}}
                    </div>

                    <div flex="20" style="text-align:right">
                      {{recibo.totalPagar|currency:''}}
                    </div>
                    <div flex="10" style="text-align:right">
                        {{recibo.status}}

                    </div>
                  </div>
                  <md-divider></md-divider>
                </div>
              </md-list-item>
            </md-list>
          </div>
        </md-card-content>

      </md-card>
    </md-content>
