

<md-dialog aria-label="Ficha Imprimir" flex="80" ng-controller="ctrCatastro">
  <form ng-cloak>


    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" flex>
          <div layout="column" flex="20" layout-align=" start center">

            <img src="..//images/escudo.png" style="width:25%;"  class="md-card-image" alt="image caption"/>

          </div>
          <div layout="column"  style="width:50%; text-align:center" flex="40">
            <td>
              <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
              <span>ESTADO  BOLIVARIANO DE NUEVA ESPARTA</span><br>
              <span>ALCALDIA DEL MUNICIPIO BOLIVARIANA DE ARISMENDI</span><br>
              <span>OFICINA PRINCIPAL DE CATASTRO</span><br>
                <span></span><br>
                <span></span><br>
                <span>FICHA DE INSCRIPCION CATASTRAL</span><br>
            </td>
          </div>
          <div layout="column" flex="40">
            <div layout="row" flex>
                <div layout="column" flex="50" layout-align=" start center">
                    <img src="..//images/logo.jpg" style="width:40%;"  class="md-card-image" alt="image caption"/>
                </div>
                <div layout="column" flex="50" layout-align=" start center">
                    <qr text="hola" size="100"></qr>
                </div>
          </div>
        </div>
        </div>
          <md-divider></md-divider>
        <div layout="row" flex>
                <table style="width:100%;font-size:12px" border="1" flex>
                  <tr>
                    <td style="background-color:#d1d1cf; width:15%">PROPIETARIO</td>
                    <td style="width:30%">{{patente.nombre}}</td>
                    <td style="background-color:#d1d1cf; width:15%">CATASTRO</td>
                    <td style="width:30%">{{patente.patente}}</td>

                  </tr>
                  <tr>
                    <td style="background-color:#d1d1cf; width:15%">DIRECION DEL PROPIETARIO</td>
                    <td style="width:30%">{{patente.direccion}}</td>
                    <td style="background-color:#d1d1cf; width:15%">TELEFONO</td>
                    <td style="width:30%">{{patente.telefono}}</td>

                  </tr>

                      <tr>
                        <td style="background-color:#d1d1cf; width:15%">FECHA DE INSCRIPCION</td>
                        <td style="width:30%">{{}}</td>
                        <td style="background-color:#d1d1cf; width:15%">CORREO</td>
                        <td style="width:30%">{{patente.correo}}</td>

                      </tr>
                  </table>

                </div>
                <div layout="row" flex layout-align="center start" border="1">
                    <td style="width:10%" md-colors="{background : 'grey-300'}">DATOS DEL INMUEBLE</td>
                </div>
                <div layout="row" flex>
                        <table style="width:100%;font-size:12px" border="1" flex>
                          <tr>
                            <td style="background-color:#d1d1cf; width:20%">FECHA</td>
                            <td style="background-color:#d1d1cf; width:20%">NUMERO DE REGISTRO</td>
                            <td style="background-color:#d1d1cf; width:15%">ASIENTO REGISTRAL</td>
                            <td style="background-color:#d1d1cf; width:30%">INMUEBLE MATRICULADO</td>
                            <td style="background-color:#d1d1cf; width:15%">FOLIO</td>
                          </tr>
                          <tr>
                            <td style="width:20%">{{ficha.ano}}</td>
                            <td style="width:20%">{{ficha.registro}}</td>
                            <td style="width:15%">{{ficha.asiento}}</td>
                            <td style="width:30%">{{ficha.matriculado}}</td>
                            <td style="width:15%">{{ficha.folio}}</td>

                          </tr>
                      </table>
                      </div>
                      <div layout="row" flex>
                      <table style="width:100%;font-size:12px" border="1" flex>
                              <tr>
                                <td style="background-color:#d1d1cf; width:20%">UBICACION DEL INMUEBLE</td>
                                <td style="background-color:#d1d1cf; width:20%">URB/CON/RES</td>
                                <td style="background-color:#d1d1cf; width:15%">AVENIDA</td>
                                <td style="background-color:#d1d1cf; width:15%">SECTOR</td>
                                <td style="background-color:#d1d1cf; width:15%">CALLE</td>
                                <td style="background-color:#d1d1cf; width:15%">LOTE/APTO</td>
                              </tr>
                              <tr>
                                <td style="background-color:#d1d1cf; width:20%">AREA DE TERRENO</td>
                                <td style="width:20%">{{ficha.urbanizacion}}</td>
                                <td style="width:15%">{{ficha.avenida}}</td>
                                <td style="width:15%">{{ficha.zona_id}}</td>
                                <td style="width:15%">{{ficha.calle}}</td>
                                <td style="width:15%">{{ficha.lote}}</td>

                              </tr>
                          </table>

                        </div>
                        <div layout="row" flex>
                                <table style="width:100%;font-size:12px" border="1" flex>
                                  <tr>
                                    <td style="width:20%"></td>
                                    <td style="width:25%">AREA DE CONSTRUCCION: {{ficha.area}}</td>
                                    <td style="width:45%">VALOR CATASTRA</td>
                                  </tr>
                                </table>
                              </div>
                    <div layout="row" flex layout-align="center start" border="1">
                        <td style="width:10%" md-colors="{background : 'grey-300'}">LINDEROS</td>
                    </div>
                    <table style="width:100%;font-size:12px" border="1" flex>
                            <tr>
                              <td style="background-color:#d1d1cf; width:20%">NORTE</td>
                              <td style="width:80%">{{ficha.norte}}</td>
                            </tr>
                            <tr>
                              <td style="background-color:#d1d1cf; width:20%">SUR</td>
                              <td style="width:80%">{{ficha.sur}}</td>
                            </tr>
                            <tr>
                              <td style="background-color:#d1d1cf; width:20%">ESTE</td>
                              <td style="width:80%">{{ficha.este}}</td>
                            </tr>
                            <tr>
                              <td style="background-color:#d1d1cf; width:20%">OESTE</td>
                              <td style="width:80%">{{ficha.oeste}}</td>
                            </tr>
                        </table>

        <md-divider></md-divider>

        </md-dialog-content>


  </form>
</md-dialog>
