<md-content ng-controller="ctrCatastro" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >

    <md-card-content>

      <div layout="row" layout-align="end center" flex ng-show="catastroActivo">

        <md-button ng-if="usuario.nivel == 'dcatastro'" class="md-raised "  md-colors="{ background: 'red-800'}" ng-click="eliminarCatastro(patente)"> Anular</md-button>
          <md-button ng-if="usuario.nivel == 'dcatastro'||(usuario.nivel == 'auxcatastro' && patente.persona_id==0)||(usuario.nivel == 'catastro' && patente.persona_id==0)" class="md-raised "  md-colors="{background:'light-blue-800'}" ng-click="agregarCatatroItems()">
            Cobro por Items
            </md-button>
            <md-button ng-if="usuario.nivel == 'dcatastro'||(usuario.nivel == 'auxcatastro' && patente.persona_id==0)||(usuario.nivel == 'catastro' && patente.persona_id==0)" class="md-raised "  md-colors="{background:'cyan-200'}" ng-click="cobroManual($event, patente)">
              Cobro Manual
              </md-button>
        <md-button ng-if="usuario.nivel == 'dcatastro'||(usuario.nivel == 'auxcatastro')||(usuario.nivel == 'catastro' && patente.persona_id==0)" class="md-raised "  md-colors="{ background: 'orange-800'}" ui-sref="editCatastro">

          Editar Ficha
          </md-button>
          <md-button ng-if="usuario.nivel == 'dcatastro'||(usuario.nivel == 'auxcatastro' && patente.persona_id==0)||(usuario.nivel == 'catastro')" class="md-raised " md-colors="{ background: 'green-800'}"ui-sref="cobroCatastro">
              Orden de Cobro
            </md-button>
      </div>
      <div layout="row" flex ng-hide="catastroActivo">
          <div layout="column" flex ="80">
            <div layout="row" layout-align="center start"  flex="100" ng-if="patente.status == 'Inactivo'">
                  <h1 class="md-display-1"  md-colors="{ background: 'red-800'}">Patente Anulada.</h1>
              </div>
            <div layout="row" layout-align="center start"  flex="100" ng-if="patente.status == 'Inactivo'">
                  <span class="md-body-1" >El Siguiente Catastro se Anulo por: {{comentario}}</span>
            </div>
          </div>
          <div layout="column" flex="20" layout-align="center center">
              <md-button ng-if="(usuario.nivel == 'dcatastro' && patente.status == 'Inactivo')" class="md-raised "  md-colors="{ background: 'red-800'}" ng-click="ActivarCatastro(patente)"> Activar Catastro </md-button>
          </div>
      </div>
      <div layout="row" flex>
          <div layout="column" flex="60">

      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
          <h2><span>Ficha Catastral - {{mostrarPatente}} </span></h2>

        </div>
      </md-toolbar>


            <div ng-if="crearContri">

              <md-content>
                <form name="fContribuyente" >
                  <div layout-gt-xs="row">
                      <md-input-container class="md-block"  flex-gt-xs >
                        <label>RIF</label>
                        <input  type="text" readonly="true"  numbers-only name="rif"  ng-model="mostrarRIF"  ng-required="true" minlength="8"  ng-minlength="8" md-maxlength="9"  ng-maxlength="9"/>
                      </md-input-container>

                      <md-input-container class="md-block" flex-gt-xs >
                        <label>Nombre / Razón Social</label>
                        <input  type="text" readonly="true"  name="nombre"   ng-model="patente.nombre"  required="" />
                      </md-input-container>
                  </div>



                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Teléfono</label>
                      <input  type="text"   name="telefono" ng-model="patente.telefono" required=""/>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs  >
                      <label>Correo</label>
                      <input  type="text" readonly="true"  name="correo"  ng-model="patente.correo"  />
                    </md-input-container>
                  </div>
                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Dirección</label>
                      <input  type="text" readonly="true"  name="direccion" ng-model="patente.direccion"  required="" />

                    </md-input-container>
                  </div>
<!--
                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Norte</label>
                      <input  type="text" readonly="true" name="norte" ng-model="ficha.norte"  required="" />
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Sur</label>
                      <input  type="text" readonly="true"  ng-model="ficha.sur" name="sur" required="" />
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Este</label>
                      <input  type="text" readonly="true"  name="este" ng-model="ficha.este"  required="" />
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block"flex >
                      <label>Oeste</label>
                      <input  type="text" readonly="true"  name="oeste" ng-model="ficha.oeste"  required="" />
                    </md-input-container>
                  </div>
-->
                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Sector</label>
                      <md-select  name="zona" ng-model="ficha.zona_id" required >
                        <md-option value="{{zona.id}}" ng-repeat="zona in newZonas">{{zona.zona}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.zona.$error">
                        <div ng-message="required">La Zona es un campo obligatorio</div>
                      </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Uso</label>
                      <md-select  name="uso" ng-model="ficha.uso_id" required >
                        <md-option value="{{uso}}" ng-repeat="uso in newUsos">{{uso}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.uso.$error">
                        <div ng-message="required">El Uso es un campo obligatorio</div>
                      </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Alicuota hasta Año 2020</label>
                      <md-select name="alicuota" ng-model="ficha.alicuota_id" required >
                        <md-option value="{{alic.id}}" ng-repeat="alic in newAlicuotas">{{alic.codigo}} - {{alic.porcentaje}}%</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.estado.$error">
                        <div ng-message="required">La Alicuota es un campo obligatorio</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Alicuota desde Año 2021</label>
                      <md-select name="alicuota2021" ng-model="ficha.alicuota2021_id" required >
                        <md-option value="{{alic2.id}}" ng-repeat="alic2 in newAlicuotas">{{alic2.codigo}} - {{alic2.porcentaje}}%</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.estado.$error">
                        <div ng-message="required">La Alicuota es un campo obligatorio</div>
                      </div>
                    </md-input-container>

                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Tipologia hasta Año 2020</label>
                      <md-select name="tipologia" ng-model="ficha.tipologia" required >
                        <md-option value="{{tipol.codigo}}" ng-repeat="tipol in newTipologias2020">{{tipol.codigo}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.estado.$error">
                        <div ng-message="required">La Tipologia es un campo obligatorio</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Tipologia desde Año 2021</label>
                      <md-select name="tipologia2021" ng-model="ficha.tipologia_id" required >
                        <md-option value="{{tipol2021.id}}" ng-repeat="tipol2021 in newTipologias">{{tipol2021.tipologia}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.estado.$error">
                        <div ng-message="required">La Tipologia es un campo obligatorio</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Año de Construcción</label>
                      <md-select name="ano" ng-model="ficha.ano" required >
                        <md-option value="{{ano}}" ng-repeat="ano in anos">{{ano}}</md-option>
                      </md-select>
                      <div ng-messages="fContribuyente.ano.$error">
                        <div ng-message="required">El Año es un campo obligatorio</div>
                      </div>
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="row" >
                    <md-input-container class="md-block" flex-gt-xs >
                      <label>Metros cuadrados de Construcción</label>
                      <input readonly="true" name="construccion"  type="text" decimals-only  ng-model="ficha.construccion"  required />
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs  >
                      <label>Metros cuadrados de Área o Terreno</label>
                      <input readonly="true"  name="terreno"  type="text" decimals-only  ng-model="ficha.terreno"  required />
                    </md-input-container>
                  </div>


                </form>
              </md-content>
            </div>

        </div>

          <!-- aqui va lo de la vinculacion -->
          <div layout="column" flex="40" style ="margin-left:5px">
            <div layout="row" flex >
              <md-card flex  layout-fill=""  style="min-height: 224px;">
                <md-card-header class="md-toolbar-tools"  md-colors="{background : 'grey-300'}">

                  <md-card-header-text>
                    <div layout="row">
                     <div layout="column" flex ="80" layout-align="center center">
                       <span class="md-title">Patentes Vinculadas</span>
                       <!--<h3 class="md-title">Patentes Vinculadas</h3>
                      <span class="md-title">Patentes Vinculadas.</span>-->
                    </div>

                    <div layout="column" flex ="20">
                        <md-button class="md-icon-button" ng-click="vinculacion($event)">
                          <md-tooltip md-direction="right">Vincular Patentes</md-tooltip>
                          <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="playlist-plus"><md-icon>
                          </md-button>
                      </div>
                    </div>
                  </md-card-header-text>
                </md-card-header>
                <md-card-title>
                  <md-card-title-text>

                    <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                      <div layout="row" flex>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">N° Patente</small>

                              </div>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">Tipo</small>

                              </div>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">Monto</small>

                              </div>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">Ultimo Pago</small>

                              </div>
                        </div>
                       </md-list-item>
                       <md-list-item flex class="secondary-button-padding" md-colors="{background:'grey-50'}" ng-repeat="patenAsociada in patenAsociadas" md-ink-ripple ng-click="selObjVinculado(patenAsociada,'patente',event)">
                         <div layout="row" flex>
                               <div layout="column" flex="25" style="text-align:center">
                                 <small class="md-caption">{{patenAsociada.patente}}</small>

                               </div>
                               <div layout="column" flex="25" style="text-align:center">
                                 <small class="md-caption">{{patenAsociada.tipo}}</small>

                               </div>
                               <div layout="column" flex="25" style="text-align:center">
                                 <small class="md-caption">{{patenAsociada.ultimoPago.monto|currency:''}}</small>

                               </div>
                               <div layout="column" flex="20" style="text-align:center">
                                 <small class="md-caption">{{verificarData(patenAsociada.ultimoPago.created_at )}}</small>

                               </div>

                        </div>
                        </md-list-item>

                      <md-divider></md-divider>
                      </md-card-title-text>
                    </md-card-title>
                </md-card>

              </div>


            <div layout="row">
                <md-card flex layout-fill=""  style="min-height: 224px;">
                  <md-card-header md-colors="{background : 'grey-300'}">

                    <md-card-header-text>
                      <div layout="row">
                       <div layout="column" flex ="80" layout-align="center center">
                         <span class="md-title">Patentes que Posee el Contribuyente</span>
                         <!--<h3 class="md-title">Patentes Vinculadas</h3>
                        <span class="md-title">Patentes Vinculadas.</span>-->
                      </div>
                      <!--
                      <div layout="column" flex ="20">
                          <md-button class="md-icon-button" ng-click="vinculacion($event)">
                            <md-tooltip md-direction="right">Vincular Patentes</md-tooltip>
                            <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="playlist-plus"><md-icon>
                            </md-button>
                        </div> -->
                      </div>
                    </md-card-header-text>
                  </md-card-header>
                  <md-card-title>
                    <md-card-title-text>
                      <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                      <div layout="row" flex>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">N° Patente</small>

                              </div>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">Tipo</small>

                              </div>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">Monto</small>

                              </div>
                              <div flex="25" style="text-align:center">
                                <small class="md-caption">Ultimo Pago</small>

                              </div>
                       </div>
                       </md-list-item>
                       <md-list-item class="secondary-button-padding" md-colors="{background:'grey-50'}" ng-repeat="pat in patenteContribuyente">
                       <div layout="row" flex>
                               <div flex="25" style="text-align:center">
                                 <small class="md-caption">{{pat.patente}}</small>

                               </div>
                               <div flex="25" style="text-align:center">
                                 <small class="md-caption">{{pat.tipo}}</small>

                               </div>
                               <div flex="25" style="text-align:center">
                                 <small class="md-caption">{{pat.ultimoPago.monto|currency:''}}</small>

                               </div>
                               <div flex="20" style="text-align:center">
                                 <small class="md-caption">{{verificarData(pat.ultimoPago.created_at )}}</small>

                               </div>

                        </div>
                        </md-list-item>

                      <md-divider></md-divider>

                    </md-card-title-text>
                  </md-card-title>
                  <md-card-actions >

                  </md-card-actions>

                </md-card>


              </div> <!--fin de la vinculacion -->
            </div> <!--fin de la 2da columna -->
          </div> <!--fin de la 1era fila -->
              <md-divider></md-divider>
            <div ng-if="mostrarContri">
              <div layout="row" layout-align="center center">
                <div flex="30">

                  <label class="md-caption"> RIF: </label>
                  <label class="md-subhead"> {{selContribuyente.rif}}</label>
                </div>
                <div flex="70">
                  <label class="md-caption">  Nombre / Razón Social:</label>
                  <label class="md-subhead" > {{selContribuyente.nombre}}</label>
                </div>
              </div>
              <div layout="row" >

                <div flex >
                  <label class="md-caption">  Direccion: </label>
                  <label class="md-subhead"> {{selContribuyente.direccion}}</label>
                </div>


              </div>
            </div>
            <md-divider></md-divider>

            <div layout="row" flex>
              <div layout="column" flex>
                <md-toolbar style ="margin-top:5px">
                  <div class="md-toolbar-tools" md-colors="{background : 'grey-400'}">
                    <h2><span>Detalle de Pagos</span></h2>
                  </div>
                </md-toolbar>
            <md-list flex>
              <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                <div flex layout="row">
                  <div flex="5" style="text-align:center">
                    #
                  </div>
                  <div flex="10" style="text-align:center">
                    Recibo
                  </div>
                  <div flex="30">
                    Razón Social / Nombre
                  </div>
                  <div flex="10" style="text-align:center">
                   RIF
                  </div>

                  <div flex="20" style="text-align:center">
                    Total
                  </div>
                  <div flex="10" style="text-align:center">
                    Fecha de Pago
                  </div>
                  <div flex="10" style="text-align:center">
                    Estado
                  </div>
                  <div flex="5" style="text-align:center" ng-if="patente.status != 'Inactivo'">

                      <md-menu md-position-mode="target-right target" >
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                          <md-icon md-menu-origin md-svg-icon="dots-vertical" ></md-icon>
                        </md-button>
                        <!--<md-menu-content width="4" >
                          <md-menu-item >
                            <md-button ng-click="reciboManual($event, patente)">
                              <div layout="row" flex>
                                <p flex>Recibo Manual</p>
                                <md-icon md-menu-align-target md-svg-icon="eye"></md-icon>
                              </div>
                            </md-button>
                          </md-menu-item>
                        </md-menu-content> -->
                      </md-menu>

                    </div>
                </div>
              </md-list-item>
              <md-list-item class="secondary-button-padding" ng-repeat="recibo in recibos" md-ink-ripple >

                  <div layout="row" flex>
                    <div flex="5" style="text-align:center">
                      {{recibo.id}}
                    </div>
                    <div flex="10" style="text-align:center">
                      {{recibo.pago.id}}
                    </div>
                    <div flex="30">
                      {{recibo.persona.nombre}}
                    </div>
                    <div flex="10" style="text-align:center">
                      {{recibo.persona.rif}}
                    </div>

                    <div flex="20" style="text-align:center">
                      {{recibo.totalPagar|currency:''}}
                    </div>
                    <div flex="10" style="text-align:center">
                        {{verificarData(recibo.pago.created_at)}}

                    </div>
                    <div flex="10" style="text-align:center">
                        {{recibo.status}}

                    </div>
                    <div flex="5" style="text-align:center" ng-if="patente.status != 'Inactivo'">

                        <md-menu md-position-mode="target-right target" >
                          <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-menu-origin md-svg-icon="dots-vertical" ></md-icon>
                          </md-button>
                          <md-menu-content width="4" >
                            <md-menu-item >
                              <md-button ng-click="verDetalle($event,recibo)">
                                <div layout="row" flex>
                                  <p flex>Ver Detalle</p>
                                  <md-icon md-menu-align-target md-svg-icon="eye"></md-icon>
                                </div>
                              </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="recibo.status=='Pendiente'" >
                              <md-button ng-click="editarDeclaracion($event,recibo)">
                                <div layout="row" flex>
                                  <p flex>Editar</p>
                                  <md-icon md-menu-align-target >edit</md-icon>
                                </div>
                              </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if=" usuario.nivel == 'dcatastro' && recibo.status!='Anulada'" >
                              <md-button ng-click="anulado($event,recibo)">
                                <div layout="row" flex>
                                  <p flex>Anular</p>
                                  <md-icon md-menu-align-target >clear</md-icon>
                                </div>
                              </md-button>
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>

                      </div>

                  </div>
                  <md-divider></md-divider>

              </md-list-item>
            </md-list>
           </div>
          </div>
        </md-card-content>

      </md-card>
    </md-content>
