<md-dialog  md-theme="default"  aria-label="Agregar Declaración" flex ng-controller="ctrDeclararItems" ng-cloak >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{patente.nombre}} / {{patente.patente}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog();">
        <md-icon  md-svg-icon="close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <div flex layout="row" >
          <md-input-container flex="35" >
            <label>Patentes</label>
            <md-select   ng-model="patentePagar.patente" required ng-change="cambiarPatente();" >
              <md-option ng-value="{{patAsoc}}" ng-repeat="patAsoc in listaPatentes">{{patAsoc.patente}} - {{patAsoc.nombre}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex="45" >
            <label>Conceptos Tributarios</label>
            <md-select  ng-disabled="mesBloqueado"  ng-model="patentePagar.concepto" ng-change="cambiarConcepto();" required >
              <md-option ng-value="{{item}}" ng-repeat="item in items">{{item.concepto}} - (  {{item.unidadCobro.nombre}} X {{item.cantidad}} )</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex="20" >
            <label>Total</label>
            <input type="text" name="" value="{{patentePagar.total}}">
          </md-input-container>
      </div>
      <div layout="row"  layout-align="end center" >
          <md-button  ng-click="agregarLinea();" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
      </div>
      <div flex>
      <md-list>
        <md-list-item class="noright"  md-colors="{background:'grey-200'}"  >
             <div flex="55"  md-truncate>
               Patente
             </div>

             <div flex="10" style="text-align:center">
               Unidad
             </div>
             <div flex="10" style="text-align:center">
               Valor
             </div>
             <div flex="5" style="text-align:center">
               Cantidad
             </div>
             <div flex="15" style="text-align:right">
               Sub-Total
             </div>

       </md-list-item>
         <md-list-item class="noright md-2-line"  ng-repeat="linea in lineas " >
              <div flex="55"  >
                <div class="md-list-item-text" layout="column">
                    <h3>{{linea.concepto.concepto}}</h3>
                    <p>  {{linea.patente.patente}} {{linea.patente.nombre}}</p>
                  </div>

              </div>

              <div flex="10" style="text-align:center">
                {{linea.concepto.unidadCobro.nombre}}
              </div>
              <div flex="10" style="text-align:center">
                {{linea.concepto.valorActual.valor|currency:''}}
              </div>
              <div flex="5" style="text-align:center">
                {{linea.concepto.cantidad}}
              </div>
              <div flex="15" style="text-align:right">
                {{linea.total|currency:''}}
              </div>
              <div flex="5" style="text-align:center">

              </div>
        </md-list-item>
        </md-list>
      </div>



    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row" md-colors="{background:'grey-200'}"   >

          <div flex="5" class="md-title">
            Total:
          </div>
          <div flex="1" class="md-title">

          </div>
          <div flex="17" class="md-title" style="text-align:right" >
            {{totalTotal|currency:''}}
          </div>
          <div flex="10">
              <md-button  ng-click="guardarLineas();" class="md-raised md-primary" ng-disabled="bloquearGuardar">Guardar</md-button>
          </div>

</md-dialog-actions >

</md-dialog>
