<md-dialog  md-theme="default" flex="75" aria-label="Recibo Manual" flex ng-controller="ctrCatastro" ng-cloak>

  <md-toolbar md-colors="{background:'Orange-800'}">
    <div class="md-toolbar-tools">
      <h2>Recibo Manual Ingrese los siguientes Datos</h2>
      <span flex></span>
      <md-button class="md-icon-button md-primary" ng-click="cerrarModal();"><md-icon md-svg-icon="close"></md-icon></md-button >
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="form">
              <div layout="row" flex>
                <md-input-container class="md-block" flex="25"  >
                  <label>N° de recibo</label>
                  <input name="terreno" align="right" type="text" decimals-only  ng-model="manual.reciboNumero"  required />

                </md-input-container>

              <md-input-container class="md-block" flex="25"  >
                <label>Monto en Bs.</label>
                <input name="terreno" align="right" type="text" decimals-only  ng-model="manual.monto"  required />

              </md-input-container>
                <div flex="30" layout-align="center" >
                  <label>Fecha que se Realizo el Pago</label>
                  <md-datepicker ng-model="manual.dateDesde" md-placeholder="Enter date" md-mode="month" required></md-datepicker>
                </div>

                  <div flex="20" layout-align="center">
                    <label>Hasta (opcional)</label>
                    <md-datepicker ng-model="manual.dateHasta" md-placeholder="Enter date" md-mode="month"></md-datepicker>
                  </div>

              </div>
              <div layout="row" flex>
                <md-input-container flex class="md-block"  >
                  <label>Concepto a Cobrar.</label>
                  <input name="terreno"  type="text"  ng-model="manual.concepto"  required />

                </md-input-container>

              </div>
          <md-dialog-actions layout="row">
            <md-button  ng-click="cargaManualRecibo(manual, patente)" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
          </md-dialog-actions>
        </form>
      </div>
    </md-dialog-content>



  </md-dialog>
