<md-content ng-controller="ctrMainTaquilla" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="50">
    <md-toolbar>
      <div class="md-toolbar-tools" md-colors="{background : 'grey-100'}">
        <h2><span>Cambiar Clave</span></h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <form name="Form">
        <md-input-container class="md-block">
          <label>Clave Anterior</label>
          <input type="password" name="password" ng-model="cambiar.old" placeholder="usuario" required=""/>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Nueva Clave</label>
          <input type="password" name="password" ng-model="cambiar.new" placeholder="clave" required="" md-maxlength="16"/>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Nueva Clave</label>
          <input type="password" name="repassword" ng-model="cambiar.renew" placeholder="clave" required="" md-maxlength="16"/>
        </md-input-container>
        <md-button ng-disabled="!Form.$valid" ng-click="cambiarClave()" class="md-raised md-primary">Cambiar Clave</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>
