<md-content ng-controller="ctrMainTaquilla" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
    <md-toolbar>
      <div class="md-toolbar-tools" md-colors="{background : 'grey-100'}">
        <h2><span>Inicio de Sesion</span></h2>
      </div>
    </md-toolbar>
    <md-card-content>
      <form name="Form">
        <md-input-container class="md-block">
          <label>Usuario</label>
          <input type="text" name="text" ng-model="loginDat.rif" placeholder="usuario" required=""/>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Clave</label>
          <input type="password" name="password" ng-model="loginDat.password" placeholder="clave" required="" md-maxlength="16"/>
        </md-input-container>
        <md-button ng-disabled="!Form.$valid" ng-click="getToken()" class="md-raised md-primary">Ingresar</md-button>
      </form>
    </md-card-content>
  </md-card>
</md-content>
