<md-content ng-controller="ctrIngTasa" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
    <form name="Form" >
      <md-card-content>
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Datos del Contribuyente</span></h2>
            <md-button class="md-icon-button" ng-click="agregarContribuyente()">
               <md-icon  md-colors="{color:'light-blue-700'}"><md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <div ng-if="buscarContri">
              <md-content>
                <div layout="row" flex layout-align="start center">
                  <div flex="40">
                    <md-input-container class="md-block" >
                      <label>RIF</label>
                      <input  type="text"   ng-model="buscar.rif" id="rif" required style="text-transform:uppercase" />
                    </md-input-container>
                  </div>
                  <div flex="20">
                    <md-button class="md-icon-button" ng-click="buscarPersona()"> <md-icon>Buscar<md-icon></md-button>
                  </div>
                  <div flex="40">
                  <md-input-container class="md-block" >
                    <label>Patente</label>
                    <input  type="text"   ng-model="buscar.patente" id="patente" required style="text-transform:uppercase" />
                  </md-input-container>
                  </div>
                  <div flex="20">
                    <md-button class="md-icon-button" ng-click="buscarPatentesCatasIngen()"> <md-icon>Buscar<md-icon></md-button>
                  </div>

                </div>

                </md-content>
           </div>
              <md-divider></md-divider>
              <md-content>
                <div layout="colunm" flex>
                  <md-card flex>

                    <md-card-content>
                      <div layout="row" layout-align="center star">
                          <h2 class="md-title">Informacion del Contribuyente</h2>
                          </div>
                      <div flex>
                       <md-list  >
                        <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                          <div flex layout="row" >
                            <div flex="20" >
                              <p class="md-subhead">N° Patente</p>
                            </div>
                            <div flex="20" >
                              <p class="md-subhead">Rif/Cedula</p>
                            </div>
                            <div flex="30" >
                              <p class="md-subhead">Nombre / Razón Social </p>
                            </div>
                            <div flex="30" >
                              <p class="md-subhead">Dirección</p>
                            </div>

                          </div>
                        </md-list-item>
                        <md-list-item class="secondary-button-padding" ng-repeat="patente in patentes" md-ink-ripple ng-click="patentesContribuyente(patente)">
                          <div flex layout="row" layout-align="center center" >
                            <div flex="20" >
                              <p class="md-caption">{{patente.patente}} </p>
                            </div>
                            <div flex="20" >
                              <p class="md-caption">{{patente.rif}} </p>
                            </div>
                            <div flex="30" >
                              <p class="md-caption">{{patente.nombre}}</p>
                            </div>
                            <div flex="30" >
                              <p class="md-caption">{{patente.direccion}} </p>
                            </div>

                          </div>

                           <md-divider></md-divider>
                        </md-list-item>
                      </md-list>
                      </div>
                    </md-card-content>
                  </md-card>
                </div>
              </md-content>
            </md-card-content>
          </form>
        </md-card>
      </md-content>
