<md-content ng-controller="ctrIngTasa" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
    <form name="Form" >
      <md-card-content>
        <div layout="row">
          <div layout="column" flex="50">
            <md-toolbar>
              <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                <h2><span>Datos del Contribuyente</span></h2>
              </div>
          </div>
          <div layout="column" flex="50">
            <md-toolbar>
              <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                <h2><span>Catastro que Posee </span></h2>
              </div>
          </div>
        </div>
        <md-content>
            <div layout="row" flex layout-align="start center">
              <div layout="column" flex ="50">
                <div layout="row">
                     <md-input-container class="md-block" flex disable>
                      <label>Nombre/ Razón Social</label>
                      <input  type="text"   ng-model="patente.nombre"  id="rif" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex disable>
                      <label>Rif</label>
                      <input  type="text"   ng-model="patente.rif" id="rif" required>
                    </md-input-container>
                </div>
                <md-divider></md-divider>
                <div layout="row" >
                    <md-input-container class="md-block"  flex disable>
                  <label>Dirección</label>
                  <input  type="text"   ng-model="patente.direccion" id="rif" required>
                </md-input-container>
              </div>
              </div>
              <div layout="column" flex ="50" ng-show="fichaVisible">
                <md-whiteframe class="md-whiteframe-1dp" layout-fill style="min-height: 224px;" flex>
                  <md-list  >
                   <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                     <div flex layout="row" >
                       <div flex="20" >
                         <span class="md-caption"">Año</span>
                       </div>
                       <div flex="20" >
                         <span class="md-caption"">Tipologia</span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption"">Uso </span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption"">Dirección</span>
                       </div>

                     </div>
                   </md-list-item>
                   <md-list-item class="secondary-button-padding" ng-repeat="ficha in fichas" md-ink-ripple ng-click="">
                     <div flex layout="row" layout-align="center center" >
                       <div flex="20" >
                         <span class="md-caption">{{ficha.ano}} </span>
                       </div>
                       <div flex="20" >
                         <span class="md-caption">{{ficha.tipologia}} </span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption">{{ficha.uso_id}}</span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption">{{ficha.direccion}} </span>
                       </div>

                     </div>

                      <md-divider></md-divider>
                   </md-list-item>
                 </md-list>

                </md-whiteframe>

              </div>
              <!-- columna de que no posee catastros este contribuyente-->
              <div layout="column" flex ="50" ng-hide="fichaVisible">
                <md-whiteframe class="md-whiteframe-1dp" layout-fill style="min-height: 224px;" flex>
                    <h3 class="md-display-1" md-colors="{color:'blue-800'}">Este Contribuyente no posee Catastros Registrados</h3>

                </md-whiteframe>

              </div>
            </div>

            </md-content>
        <md-divider></md-divider>
        <!--   -->
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Procedimiento de Construcción {{tipo}}</span></h2>
          </div>
        </md-toolbar>
        <div layout="row" flex>
          <md-card class="md-padding" flex md-theme-watch >
              <div layout="row" flex>
                <div layout="column" flex = "30">
                  <md-input-container class="md-block">
                    <label>Tipo de Procedimiento</label>
                    <md-select  ng-model="tipo" required ng-change="">
                      <md-option   ng-value ="tipo.codigo" ng-click="filtrarTipos(tipo.codigo)" ng-repeat="tipo in tipoProcedimientos"> {{tipo.codigo}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Tipo de Procedimiento</label>
                    <md-select  ng-model="pro"  required ng-change="">
                      <md-option  ng-value ="pro.nombre" ng-repeat="pro in procedimientos" ng-click="calcularProcedimientos(pro)"> {{pro.nombre}}</md-option>
                    </md-select>
                  </md-input-container>

                </div>
                <div layout="column" flex = "70" ng-show = "avilitarConstruccion">
                  <md-card >
                       <md-card-content flex>

                           <div layout="row" flex="100">
                            <md-input-container class="md-block" flex="20">
                               <label>Indique los Metros de Construcción</label>
                               <input  type="text"   ng-model="metroCuadrado" id="metroCuadrado" required>
                            </md-input-container>
                            <md-input-container class="md-block" flex="30">
                              <label>tipo de Construcción</label>
                              <md-select  ng-model="tipos"  required>
                                <md-option  ng-value ="tipos" ng-repeat="tipos in tiposCostos" ng-click="buscarTipos(tipos)"> {{tipos}}</md-option>
                              </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="50">
                              <label>tipo de Construcción</label>
                              <md-select  ng-model="const"  required>
                                <md-option  ng-value ="const.icc" ng-repeat="const in construccion" ng-click="calcularResultado(const, metroCuadrado)"> {{const.clasificacion}}</md-option>
                              </md-select>
                            </md-input-container>
                           </div>

                           <div layout="row" flex="100">

                             <md-input-container class="md-block" flex="50">
                                <label>El costo del Inmueble es de:</label>
                                <input  type="text"   value="{{calculos.costoInmueble  |number:2}}" id="valorInmueble" disabled>
                             </md-input-container>
                             <md-input-container class="md-block"flex="50">
                                <label>El {{tipoNombre}} es de:</label>
                                <input  type="text"  value="{{resultado |number:2}}" id="resultado" disabled>
                             </md-input-container>
                         </div>
                         <div layout="row" flex="100" layout-align= "end end">
                           <md-button md-colors="{color:'green-400'}" ng-click="generaraRecibo(calculos, $event)">Generar</md-button>
                          </div>
                       </md-card-content> 
                    </md-card>
                </div>
                <div layout="column" flex = "70" ng-show = "avilitarConsulta">
                  <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                       <md-card-title>
                         <div layout="row" layout-align="start start">
                           <div layout="column" flex>
                             <span class="md-subhead" md-colors="{color:'blue-800'}">El pago por concepto de : {{procesamiento.nombre}} </span>
                             <p class="md-body-1">Es de {{procesamiento.factor}} - {{procesamiento.etiqueta}} <small class="md-caption"> Es de: {{calculos.resuladoProcedimiento |number:2 }} </small>.</p>
                           </div>

                         </div>
                       </md-card-title>
                       <md-card-actions layout="row" layout-align="end center">
                         <md-button md-colors="{color:'green-400'}" ng-click="generaraRecibo(calculos, $event)">Generar</md-button>

                       </md-card-actions>
                     </md-card>
                </div>
              </div>

            </md-card>

        </div>

        <!-- Tasa -->
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Tasa Administrativas Ingieneria</span></h2>
          </div>
        </md-toolbar>
        <div flex class="inset"  >
          <div layout="row">
            <div flex>
              <md-input-container class="md-block">
                <label>Tasa Administrativa</label>
                <md-select  ng-model="selTasa" required ng-change="calcularTasa()">
                  <md-option value="{{tasa.id}}" ng-repeat="tasa in tasasIngienieria"> {{tasa.nombre}} - {{tasa.unidad}}ut.</md-option>
                </md-select>
              </md-input-container>
            </div>

            <div flex>
              <md-input-container class="md-block" >
                <label>Factor</label>
                <input  type="text"   ng-model="factor" ng-change="cambiarFactor()" ng-readonly="editFactor" required  decimals-only/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container class="md-block" >
                <label>Total</label>
                <input  type="text"  ng-model="subtotal"  readonly="true" readOnl  required  decimals-only/>
              </md-input-container>
            </div>
            <md-divider></md-divider>
          </div>
        </div>

        <div layout="row" layout-align="end end">
          <md-button  ng-click="agregarTasa()"  class="md-raised" md-colors="{background:'blue-grey-300'}">Agregar Tasa Administrativa</md-button>
        </div>



        <div flex>
          <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


            <div flex layout="row" layout-align="center center">
              <div flex="60" layout-align="center center">
                Descripción
              </div>

              <div flex="10"style="text-align:center">
                U.T
              </div>
              <div flex="10"style="text-align:center">
                Factor
              </div>
              <div flex="15" style="text-align:right">
                Sub-Total
              </div>
              <div flex="5" style="text-align:right">

              </div>
            </div>
          </div>
          <div  ng-repeat="tasaAplicada in tasasAplicadas" >
            <div flex  >
              <div layout="row">
                <div flex="60" md-truncate>
                  {{tasaAplicada.nombre}}
                </div>

                <div flex="10" style="text-align:center">
                  {{tasaAplicada.unidad}} ut
                </div>
                <div flex="10" style="text-align:center">
                  {{tasaAplicada.factor}}
                </div>
                <div flex="15" style="text-align:right; vertical-align:bottom">
                  {{tasaAplicada.subtotal|currency:''}}
                </div>
                <div flex="5" style="text-align:right">
                  <md-button ng-click="eliminarTasa(tasaAplicada)" class="md-icon-button" aria-label="More">
                    <md-icon md-colors="{color:'red-800'}">clear<md-icon>
                      <md-button>
                      </div>
                    </div>
                    <md-divider></md-divider>
                  </div>
                </div>
              </div>




              <div layout="row" layout-align="end end">
                <label class="md-headline">Total: {{totalPagar|currency:''}}</label>
              </div>
              <div layout="row" layout-align="end end">
                <md-button  ng-click="guardarRecibo();" ng-disabled="permitirGuardar" class="md-raised md-primary">Guardar Orden de Cobro</md-button>
              </div>

              <md-divider></md-divider>
            </md-card-content>
          </form>
        </md-card>
      </md-content>
