<md-content ng-controller="ctrIngTasa" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
    <form name="Form" >
      <md-card-content>
        <div layout="row">
          <div layout="column" flex="50">
            <md-toolbar>
              <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                <h2><span>Datos del Contribuyente</span></h2>
              </div>
          </div>
          <div layout="column" flex="50">
            <md-toolbar>
              <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                <h2><span>Catastro que Posee </span></h2>
              </div>
          </div>
        </div>
        <md-content>
            <div layout="row" flex layout-align="start center">
              <div layout="column" flex ="50">
                <div layout="row">
                     <md-input-container class="md-block" flex disable>
                      <label>Nombre/ Razón Social</label>
                      <input  type="text"   ng-model="patente.nombre"  id="rif" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex disable>
                      <label>Rif</label>
                      <input  type="text"   ng-model="patente.rif" id="rif" required>
                    </md-input-container>
                </div>
                <md-divider></md-divider>
                <div layout="row" >
                    <md-input-container class="md-block"  flex disable>
                  <label>Dirección</label>
                  <input  type="text"   ng-model="patente.direccion" id="rif" required>
                </md-input-container>
              </div>
              </div>
              <div layout="column" flex ="50" ng-show="fichaVisible">
                <md-whiteframe class="md-whiteframe-1dp" layout-fill style="min-height: 224px;" flex>
                  <md-list  >
                   <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                     <div flex layout="row" >
                       <div flex="20" >
                         <span class="md-caption"">Año</span>
                       </div>
                       <div flex="20" >
                         <span class="md-caption"">Tipologia</span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption"">Uso </span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption"">Dirección</span>
                       </div>

                     </div>
                   </md-list-item>
                   <md-list-item class="secondary-button-padding" ng-repeat="ficha in fichas" md-ink-ripple ng-click="">
                     <div flex layout="row" layout-align="center center" >
                       <div flex="20" >
                         <span class="md-caption">{{ficha.ano}} </span>
                       </div>
                       <div flex="20" >
                         <span class="md-caption">{{ficha.tipologia}} </span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption">{{ficha.uso_id}}</span>
                       </div>
                       <div flex="30" >
                         <span class="md-caption">{{ficha.direccion}} </span>
                       </div>

                     </div>

                      <md-divider></md-divider>
                   </md-list-item>
                 </md-list>

                </md-whiteframe>

              </div>
              <!-- columna de que no posee catastros este contribuyente-->
              <div layout="column" flex ="50" ng-hide="fichaVisible">
                <md-whiteframe class="md-whiteframe-1dp" layout-fill style="min-height: 224px;" flex>
                    <h3 class="md-display-1" md-colors="{color:'blue-800'}">Este Contribuyente no posee Catastros Registrados</h3>

                </md-whiteframe>

              </div>
            </div>

            </md-content>
        <md-divider></md-divider>
        <!--   -->
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Procedimiento de Construcción {{tipo}}</span></h2>
          </div>
        </md-toolbar>
        <div layout="row" flex>
          <md-card class="md-padding" flex md-theme-watch >
              <div layout="row" flex>
                <div layout="column" flex = "30">
                  <md-input-container class="md-block">
                    <label>Tipo de Procedimiento</label>
                    <md-select  ng-model="tipo" required ng-change="">
                      <md-option   ng-value ="tipo.codigo" ng-click="filtrarTipos(tipo.codigo)" ng-repeat="tipo in tipoProcedimientos"> {{tipo.codigo}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container class="md-block">
                    <label>Tipo de Procedimiento</label>
                    <md-select  ng-model="pro"  required ng-change="">
                      <md-option  ng-value ="pro.nombre" ng-repeat="pro in procedimientos" ng-click="calcularProcedimientos(pro)"> {{pro.nombre}}</md-option>
                    </md-select>
                  </md-input-container>

                </div>
                <div layout="column" flex = "70" ng-show = "avilitarConstruccion">
                  <md-card >
                       <md-card-content flex>

                           <div layout="row" flex="100">
                            <md-input-container class="md-block" flex="20">
                               <label>Indique los Metros de Construcción</label>
                               <input  type="text"   ng-model="metroCuadrado" id="metroCuadrado" required>
                            </md-input-container>
                            <md-input-container class="md-block" flex="30">
                              <label>tipo de Construcción</label>
                              <md-select  ng-model="tipos"  required>
                                <md-option  ng-value ="tipos" ng-repeat="tipos in tiposCostos" ng-click="buscarTipos(tipos)"> {{tipos}}</md-option>
                              </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex="50">
                              <label>tipo de Construcción</label>
                              <md-select  ng-model="const"  required>
                                <md-option  ng-value ="const.icc" ng-repeat="const in construccion" ng-click="calcularResultado(const, metroCuadrado)"> {{const.clasificacion}}</md-option>
                              </md-select>
                            </md-input-container>
                           </div>

                           <div layout="row" flex="100">
                             <md-input-container class="md-block" flex="50">
                                <label>El costo del Inmueble es de:</label>
                                <input  type="text"   value="{{calculos.costoInmueble  |number:2}}" id="valorInmueble" ng-disable="!editarCosto" disabled>
                             </md-input-container>
                             <md-input-container class="md-block"flex="50" md-colors="{color:'blue-800'}">
                                <label>El {{tipoNombre}} es de:</label>
                                <input  type="text"  value="{{resultado |number:2}}" id="resultado" disabled>
                             </md-input-container>
                         </div>
                         <div layout="row" flex>
                            <div layout="column" flex="30" ng-if=" usuario.nivel == 'diringieneria'">
                                  <md-checkbox ng-model="editarCosto" aria-label="Checkbox 1"> Editar el costo del Inmueble</md-checkbox>
                            </div>
                            <div layout="column" flex="70"ng-show = "editarCosto">
                              <div layout="row">
                                <div layout="column" flex="40">
                                  <md-input-container class="md-block" flex="50">
                                     <label>Ajuste de indice de Construcion:</label>
                                     <input  type="text"   ng-model="iccManual" id="valorInmueble">
                                  </md-input-container>
                                </div>
                                <div layout="column" flex="30">
                                  <md-button md-colors="{color:'green-400'}" ng-click="calcularResultadoManual(iccManual, metroCuadrado )">Recalcular</md-button>
                                </div>
                              </div>
                            </div>
                         </div>
                         <div layout="row" flex="100" layout-align= "end end">
                           <md-button md-colors="{color:'green-400'}" ng-click="generaraRecibo(calculos, $event)">Generar</md-button>
                          </div>
                       </md-card-content>
                    </md-card>
                </div>
                <div layout="column" flex = "70" ng-show = "avilitarConsulta">
                  <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                       <md-card-title>
                         <div layout="row" layout-align="start start">
                           <div layout="column" flex>
                             <span class="md-subhead" md-colors="{color:'blue-800'}">El pago por concepto de : {{procesamiento.nombre}} </span>
                             <p class="md-body-1">Es de {{procesamiento.factor}} - {{procesamiento.etiqueta}} <small class="md-caption"> Es de: {{calculos.resuladoProcedimiento |number:2 }} </small>.</p>
                           </div>

                         </div>
                       </md-card-title>
                       <md-card-actions layout="row" layout-align="end center">
                         <md-button md-colors="{color:'green-400'}" ng-click="generaraRecibo(calculos, $event)">Generar</md-button>

                       </md-card-actions>
                     </md-card>
                </div>
              </div>

            </md-card>

        </div>

        <!-- Tasa -->
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Tasa Administrativas Ingieneria</span></h2>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <div class="md-dialog-content">
            <div flex layout="row" >

                <md-input-container flex="70" >
                  <label>Conceptos Tributarios</label>
                  <md-select ng-model="tasas" ng-disabled="mesBloqueado" required >
                    <md-option ng-value="{{item}}" ng-click="cambiarConcepto(item);" ng-repeat="item in items">{{item.concepto}} - (  {{item.unidadCobro.nombre}} X {{item.cantidad}} )</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container flex="30" >
                  <label>Total</label>
                  <input type="text" name="" value="{{valorTasa}}">
                </md-input-container>
            </div>
            <div layout="row"  layout-align="end center" >
                <md-button  ng-click="agregarLinea();" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
            </div>
          </div>
        </md-dialog-content>
        <h2 md-colors="{background:'green-200'}" class="md-title"><hr>Detalle de Cobro {{calculo}}<hr></h2>
         <div layout="row">
           <div flex="70" class="md-title">
             Detalle
           </div>
           <div flex="20" style="text-align:center" class="md-title">
             Sub-Total
           </div>
         </div>
         <div layout="row" ng-if= "verLineas" >
           <div flex="70">
              {{calculos.procedimiento.nombre}}
             <hr md-colors="{color:'green-300'}">
           </div>
           <div flex="20" style="text-align:right">
             {{ calculos.resuladoProcedimiento| currency : ''}}
           </div>

         </div>
         <div layout="row" ng-repeat="linea in lineas ">
          <div flex="70">
            {{linea.concepto.concepto}}
           <hr md-colors="{color:'green-300'}">
          </div>
          <div flex="20" style="text-align:right">
            {{linea.total | currency : ''}}

          </div>
          <div flex="10" style="text-align:right">


          </div>
        </div>
 


              <div layout="row" layout-align="end end">
                <label class="md-headline">Total: {{totales|currency:''}}</label>
              </div>
              <div layout="row" layout-align="end end">
                <md-button  ng-click="guardarRecibo();" ng-disabled="permitirGuardar" class="md-raised md-primary">Guardar Orden de Cobro</md-button>
              </div>

              <md-divider></md-divider>
            </md-card-content>
          </form>
        </md-card>
      </md-content>
