

<md-dialog aria-label="Ficha Imprimir" flex="80" ng-controller="ctrIngTasa">
  <form ng-cloak>


    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row" flex>
          <div layout="column" flex="20" layout-align=" start center">

            <img src="..//images/escudo.png" style="width:25%;"  class="md-card-image" alt="image caption"/>

          </div>
          <div layout="column"  style="width:50%; text-align:center" flex="40">
            <td>
              <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
              <span>ESTADO  BOLIVARIANO DE NUEVA ESPARTA</span><br>
              <span>ALCALDIA DEL MUNICIPIO BOLIVARIANA DE ARISMENDI</span><br>
              <span>LA ASUNCION</span><br>
                <span>RIF: G-20000346-4</span><br>
                <span></span><br>
                <span>RECIBO PAGO INGIENERIA</span><br>
            </td>
          </div>
          <div layout="column" flex="40">
            <div layout="row" flex>
                <div layout="column" flex="50" layout-align=" start center">
                    <img src="..//images/logo.jpg" style="width:40%;"  class="md-card-image" alt="image caption"/>
                </div>
                <!--<div layout="column" flex="50" layout-align=" start center">
                    <qr text="hola" size="100"></qr>
                </div> -->
          </div>
        </div>
        </div>
          <md-divider></md-divider>
        <div layout="row" flex>
                <table style="width:100%;font-size:12px" border="1" flex>
                  <tr>
                    <td style="width:15%">DEPENDENCIA</td>
                    <td style="width:30%">{{}}</td>
                  </tr>
                  <tr>
                    <td style="width:15%">CONSTRIBUYENTE</td>
                    <td style="width:30%">{{calculos.patente.nombre}}- RIF: {{calculos.patente.rif}}</td>
                  </tr>
                  <tr>
                        <td style="width:15%">CONCEPTO</td>
                        <td style="width:30%">Pago de: {{calculos.procedimiento.nombre}}</td>
                      </tr>
                      <tr>
                            <td style=" width:15%">MONTO : </td>
                            <td style="width:30%">{{calculos.resuladoProcedimiento |number:2}}</td>
                          </tr>
                  </table>

                </div>
                <md-divider></md-divider>
                <div layout="row" flex layout-align="end end">
                      <md-button ng-click="">Imprimir</md-button>

                </div>
        </md-dialog-content>


  </form>
</md-dialog>
