<!DOCTYPE html>
<html ng-app="taquillApp">
  <head>
    <meta charset="utf-8">
    <title>Taquilla de Recaudación Municipal</title>
  </head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
<!--
  <link rel="stylesheet"  href="../../js/component/material-design-icons/iconfont/material-icons.css">
-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.6/angular-material.min.css">


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.8/angular-locale_es-ve.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.6/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.7.1/angular-local-storage.min.js"></script>
  <script src="js/controller/main.js"></script>
  <script src="js/controller/ctrDeclarar.js"></script>
  <script src="js/controller/ctrRecibo.js"></script>

  <body layout="column" ng-controller="ctrMainTaquilla">
    <md-toolbar layout="row" md-colors="{background: 'grey-800'}" layout-wrap>
      <div flex="50" class="md-toolbar-tools" >
        <h2 hide-xs flex="50">Recaudación Municipal</h2>
        <md-button class="menu" ng-click="openS()" hide-gt-xs>
          <md-icon >menu</md-icon>
        </md-button>
      </div>
      <div flex ng-show="userLogin" layout="row" layout-align="end center">

        <md-button  ng-click="logout()"><span hide-xs>salir</span> <md-icon>clear</md-icon></md-button>

      </div>


    </md-toolbar>
    <div layout="row" flex>

      <md-sidenav  md-is-locked-open="$mdMedia('gt-xs')" class="md-sidenav-left md-whiteframe-3dp" md-component-id="menu"
      md-disable-backdrop md-whiteframe="4" ng-show="userLogin">
      <md-content flex    >
        <md-list class="md-dense" flex>
          <md-list-item class="md-1-line" md-ink-ripple class="md-subhead" ui-sref="declaracion" ui-sref-active="active">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon >account_box</md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead" >Declaración</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>

          <!--  -->
          <!--  -->
          <md-list-item class="md-1-line" md-ink-ripple ng-click="optMenu('contribuyente')">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon >receipt</md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Consultar Contribuyentes</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <!--  -->


          <!--  -->
          <md-list-item class="md-1-line" md-ink-ripple ng-click="optMenu('reporte')">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon >reorder</md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Reportes</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>

          <!--  -->
          <!--  -->

        </md-list>
      </md-content>
    </md-sidenav>

    <md-content flex>

      <ui-view></ui-view>

      </div>
    </md-content>

    <script src="../js/page/assets/js/jquery.min.js"></script>
    <script src="../js/page/assets/js/skel.min.js"></script>
    <script src="../js/page/assets/js/util.js"></script>
    <script src="../js/page/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <script src="../js/page/utils.js"></script>
  </body>
</html>
