<!DOCTYPE html>
<html ng-app="taquillApp">
  <head>
    <meta charset="utf-8">
    <title>Taquilla de Recaudación Municipal</title>
  </head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />



  <link rel="stylesheet" href="../../js/component/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="../../css/bt337/bootstrap.min.css">



  <script src="../../js/component/angular/angular.min.js"></script>

  <script src="../../js/component/ui/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="../../js/component/angular-touch/touch.min.js"></script>
  <script src="../../js/component/angular-route.min/index.js"></script>
  <script src="../../js/component/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../../js/component/locale/angular-locale_es-ve.js"></script>
  <script src="../../js/component/angular-resource/angular-resource.min.js"></script>
  <script src="../../js/component/angular-aria/angular-aria.js"></script>
  <script src="../../js/component/angular-animate/angular-animate.js"></script>
  <script src="../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../js/component/angular-material/angular-material.min.js"></script>
  <script src="../../js/component/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../js/component/angular-messages/angular-messages.min.js"></script>
  <script src="../../js/component/chart/Chart.min.js"></script>
  <script src="../../js/component/chart/angular-chart.min.js"></script>
  <script src="../../js/component/qrcode/qrcode.js"></script>
  <script src="../../js/component/angular-qr/angular-qr.js" type="text/javascript"></script>

  <script src="js/controller/main.js"></script>
  <script src="js/service/srvRestApi.js"></script>
  <script src="js/service/srvUtils.js"></script>
  <script src="js/factory/facGlobal.js"></script>
  <script src="js/factory/facCatastro.js"></script>
  <script src="js/controller/ctrMainTaquilla.js"></script>
  <script src="js/controller/ctrDeclarar.js"></script>
  <script src="js/controller/ctrRecibo.js"></script>
  <script src="js/controller/ctrPago.js"></script>
  <script src="js/controller/ctrImprimir.js"></script>
  <script src="js/controller/ctrImprimirNew.js"></script>
  <script src="js/controller/ctrTasa.js"></script>
  <script src="js/controller/ctrIngTasa.js"></script>
  <script src="js/controller/ctrVehiculo.js"></script>
  <script src="js/controller/ctrPubTasa.js"></script>
  <script src="js/controller/ctrLicTasa.js"></script>
  <script src="js/controller/ctrReporte.js"></script>
  <script src="js/controller/ctrReporteCatastro.js"></script>
  <script src="js/controller/ctrConfiguracion.js"></script>
  <script src="js/controller/ctrDeclararItems.js"></script>

  <script src="js/controller/ctrCatastro.js"></script>
    <script src="js/controller/ctrContribuyente.js"></script>

  <body layout="column" ng-controller="ctrMainTaquilla">
    <md-toolbar layout="row" md-colors="{background: 'grey-800'}" layout-wrap>
      <div flex="50" class="md-toolbar-tools" >
        <h2 hide-xs flex="50">Recaudación Municipal</h2>
        <md-button class="menu" ng-click="openS()" hide-gt-xs>
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
      </div>
      <div flex ng-show="userLogin" layout="row" layout-align="end center">

        <md-button  ng-click="logout()"><span hide-xs>salir</span> <md-icon md-svg-icon="close"></md-icon></md-button>
        <md-button  ng-click="usuarioEdit()"  ><md-icon md-svg-icon="account"></md-icon>Usuario</md-button>


      </div>


    </md-toolbar>
    <div layout="row" flex>

      <md-sidenav flex="21" ng-if="usuario.nivel != 'configuracion'"  md-is-locked-open="$mdMedia('gt-xs')" class="md-sidenav-left md-whiteframe-3dp" md-component-id="menu"
      md-disable-backdrop md-whiteframe="4" ng-show="userLogin">
      <md-content flex    >
        <md-list class="md-dense">
          <md-list-item class="md-1-line" ng-if="usuario.nivel == 'gestion' ||usuario.nivel == 'dgestion'  || usuario.nivel == 'taquilla'"md-ink-ripple class="md-subhead" ui-sref="declaracion" ui-sref-active="active">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="account-box"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead" >Declaración</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <!--  -->
          <md-list-item  ng-if="usuario.nivel == 'catastro' || usuario.nivel == 'secrecatastro'|| usuario.nivel == 'dcatastro'|| usuario.nivel == 'auxcatastro'" class="md-1-line" md-ink-ripple ui-sref="catastro">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="store"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Propiedad Inmobiliaria</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <!--  -->
          <!--  -->
          <md-list-item class="md-1-line" md-ink-ripple ui-sref="contribuyente" ng-if="usuario.nivel != 'secrecatastro'">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="receipt"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Consultar Contribuyentes</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>

          

          <md-list-item  ng-if="usuario.nivel == 'gestion'|| usuario.nivel == 'dgestion' || usuario.nivel == 'dcatastro' || usuario.nivel == 'catastro'||usuario.nivel == 'camara'||usuario.nivel == 'sindicatura'" class="md-1-line" md-ink-ripple ui-sref="tasas">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon  md-svg-icon="receipt"></md-icon>
              </div>
              <div flex="80" >
                <label class="md-subhead">Tasas Administrativas</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>


          <md-list-item  ng-if="usuario.nivel == 'gestion'|| usuario.nivel == 'dgestion'" class="md-1-line" md-ink-ripple ui-sref="publicidad">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="view-carousel"></md-icon>
              </div>
              <div flex="80" >
                <label class="md-subhead">Publicidad</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>

          <!--  -->
          <md-list-item  ng-if="usuario.nivel == 'gestion' || usuario.nivel == 'dgestion'" class="md-1-line" md-ink-ripple ui-sref="licor">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="glass-cocktail"></md-icon>
              </div>
              <div flex="80" >
                <label class="md-subhead">Licores</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <!--  -->
          <md-list-item class="md-1-line" ng-if="usuario.nivel == 'gestion' ||usuario.nivel == 'dgestion'"md-ink-ripple class="md-subhead" ui-sref="vehiculo" ui-sref-active="active">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="car-hatchback"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead" >Vehiculo</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <!--  -->
          <md-list-item  ng-if="usuario.nivel == 'ingieneria'" class="md-1-line" md-ink-ripple ui-sref="ingTasas">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="receipt"></md-icon>
              </div>
              <div flex="80" >
                <label class="md-subhead">Tasas Administrativas</label>
              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <!--  -->

          <!--  -->
          <md-list-item ng-if="usuario.nivel == 'taquilla'||usuario.nivel == 'dgestion'" class="md-1-line" md-ink-ripple ui-sref="reportedia">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="chart-pie"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Reporte Caja</label>

              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>


          <!--  -->
          <md-list-item ng-if="usuario.nivel == 'dcatastro' ||usuario.nivel == 'dgestion'  ||usuario.nivel == 'super' || usuario.nivel == 'hacienda'|| usuario.nivel == 'reporte'" class="md-1-line" md-ink-ripple ui-sref="reporte">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="chart-pie"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Reportes</label>

              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>

          <!--  -->
          <md-list-item ng-if="usuario.nivel == 'super2' " class="md-1-line" md-ink-ripple ui-sref="configuracion">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="settings"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Configuraciones</label>

              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>

          <!--  -->
          <md-list-item ng-if="usuario.nivel == 'super2' " class="md-1-line" md-ink-ripple ui-sref="reporte">
            <div class="md-list-item-text" layout="row" flex>
              <div flex="20">
                <md-icon md-svg-icon="account-box"></md-icon>
              </div>
              <div flex="80">
                <label class="md-subhead">Usuarios</label>

              </div>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
          <!--  -->
          <!--  -->

        </md-list>
      </md-content>
    </md-sidenav>

    <md-content flex>

      <ui-view></ui-view>

      </div>
    </md-content>

    <script src="../js/page/assets/js/jquery.min.js"></script>
    <script src="../js/page/assets/js/skel.min.js"></script>

 <script src="../js/component/jquery/mask.js"></script>
 <script src="../js/page/utils.js"></script>
  </body>
</html>
