<md-content ng-controller="ctrConfiguracion" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="-form">

  <div layout="column" flex="35">
    <md-card >
      <md-card-title md-colors="{background : 'grey-200'}">
        <md-card-title-text>
          <span class="md-headline">Unidades de Cobro</span>
        </md-card-title-text>

      </md-card-title>
      <md-card-content>
        <md-tabs class="">
          <md-tab ng-repeat="unidad in unidadCobro" label="{{unidad.nombre}}" ng-click="cambiarUnidadCobro(unidad);">
            <md-content class="md-padding">
              <md-button class="md-icon-button md-primary" ng-click="abrirDialogo($event , 'nuevaUnidad');"><md-icon md-svg-icon="playlist-plus"></md-icon></md-button>
              <div  layout="row" md-colors="{background : 'grey-200'}">
                <div class="" flex="30">
                  Valor
                </div>
                <div class="" flex="30">
                  Desde
                </div>
                <div class="" flex="30">
                  Hasta
                </div>
                <div class="" flex="10">

                </div>
              </div>

              <div  layout="row" ng-repeat="unidad in unidades">
                <div class="" flex="30">
                  {{unidad.valor|currency:''}}
                </div>
                <div class="" flex="30">
                  {{unidad.desde|date:"dd/MM/yyyy"}}
                </div>
                <div class="" flex="30">
                  {{unidad.hasta|date:"MM/dd/yyyy"}}
                </div>
                <div class="" flex="10">

                </div>
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-card-content>
    </md-card>
<!--
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card with image</span>
          <span class="md-subhead">Large</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>

    </md-card>
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card with image</span>
          <span class="md-subhead">Large</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>

    </md-card>
    -->
  </div>
  <div layout="column" flex="65">
    <md-card >
      <md-card-title md-colors="{background : 'grey-200'}">
        <md-card-title-text >
          <span class="md-headline">Conceptos Tributarios</span>
        </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-tabs class="">
            <md-tab ng-repeat="dep in departamentos" label="{{dep.nombre}}" ng-click="cambiarDepartamento(dep);">
              <md-content class="md-padding">
                <md-button class="md-icon-button md-primary" ng-click="abrirDialogo($event , 'nuevoItem');"><md-icon md-svg-icon="playlist-plus"></md-icon></md-button>
                <div  layout="row"md-colors="{background : 'grey-200'}">
                  <div class="" flex="60">
                    Descripción
                  </div>
                  <div class="" flex="10">
                     Unidad
                  </div>
                  <div class="" flex="15">
                       Valor
                  </div>
                  <div class="" flex="10">
                       Cantidad
                  </div>
                  <div class="" flex="5">

                  </div>
                </div>

                <div  layout="row" ng-repeat="item in items">
                  <div class="" flex="60">
                    {{item.concepto}}
                  </div>
                  <div class="" flex="10">
                     {{item.unidadCobro.nombre}}
                  </div>
                  <div class="" flex="15">
                       {{item.valorActual.valor* item.cantidad |currency:''}}
                  </div>
                  <div class="" flex="10">
                       {{item.cantidad}}
                  </div>
                  <div class="" flex="5">

                  </div>
                </div>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card-content>


    </md-card>
    <md-card >
      <md-card-title md-colors="{background : 'grey-200'}">
        <md-card-title-text >
          <span class="md-headline">Configuracion de Usuarios </span>
        </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-tabs class="">
            <md-tab ng-repeat="depar in departamentos" label="{{depar.nombre}}" ng-click="cambiarDepartamento2(depar);">
              <md-content class="md-padding">
                <md-button class="md-icon-button md-primary" ng-click="abrirDialogo($event , 'crearUsuario');"><md-icon md-svg-icon="playlist-plus"></md-icon></md-button>
                <md-list-item  class="secondary-button-padding" md-colors="{background : 'grey-200'}">
                  <div flex="20">
                    Login
                  </div>
                  <div flex="20">
                     Tipo
                  </div>
                  <div flex="20">
                       Nivel
                  </div>
                  <div flex="30">
                       Telefono
                  </div>
                  <div flex="5"></div>
                  <div flex="5"></div>
                </md-list-item>

                <md-list-item  class="secondary-button-padding" ng-repeat="user in departametoUsuarios">
                  <div flex="20">
                    {{user.rif}}
                  </div>
                  <div flex="20">
                     {{user.tipo}}
                  </div>
                  <div flex="20">
                       {{user.nivel}}
                  </div>
                  <div flex="30">
                       {{user.telefono}}
                  </div>
                  <div flex="5">
                    <md-button class="" md-colors="{Foreground: '#64DD17'}" ng-click="modificarUsuario($event , user);"><md-icon md-svg-icon="playlist-edit"></md-icon></md-button>
                  </div>
                  <div flex="5">
                    <md-button class="" ng-click="eliminarUsuario($event , user);"><md-icon md-svg-icon="playlist-remove"></md-icon></md-button>
                  </div>
                </md-list-item>
              </md-content>
            </md-tab>
          </md-tabs>
        </md-card-content>


    </md-card>
<!--
    <md-card >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Card with image</span>
          <span class="md-subhead">Large</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>

    </md-card>
  </div>
 -->
</md-content>
