<md-dialog  md-theme="default" flex="50" aria-label="Crear Nuevo Usuario" flex ng-controller="ctrConfiguracion" ng-cloak>

  <md-toolbar md-colors="{background:'Orange-800'}">
    <div class="md-toolbar-tools">
      <h2>{{depActual.nombre}}</h2>
      <span flex></span>
      <md-button class="md-icon-button md-primary" ng-click="cerrarModal();"><md-icon md-svg-icon="close"></md-icon></md-button >
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="form">
          <div layout="row">
              <div layout="column" flex="35">
                      <md-input-container>
                        <label>login</label>
                        <input ng-model="user.rif" type="text">
                      </md-input-container>

                      <md-input-container>
                        <label></label>
                        <md-checkbox ng-model="checkPassword" aria-label="Checkbox 1">Resetiar Contraseña</md-checkbox>
                      </md-input-container>
                  </div>

                  <div layout="column" flex="35">
                      <md-input-container>
                        <label>Telefono</label>
                        <input ng-model="user.telefono">
                      </md-input-container>

                      <md-input-container>
                        <label>Correo</label>
                        <input ng-model="user.email" type="email">
                      </md-input-container>
                  </div>
                  <div layout="column" flex="30">
                      <md-input-container class="md-block" flex-gt-sm>
                          <label>Nivel de Usuario</label>
                          <md-select ng-model="user.nivel">
                            <md-option ng-repeat="nivel in nivelUsuarios" value="{{nivel.value}}">
                              {{nivel.name}}
                            </md-option>
                          </md-select>
                        </md-input-container>
                  </div>
            </div>
          <md-dialog-actions layout="row">
            <md-button  ng-click="respuesta(user,checkPassword)" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
          </md-dialog-actions>
        </form>
      </div>
    </md-dialog-content>



  </md-dialog>
