

<md-dialog  md-theme="default" flex="50" aria-label="Agregar Declaración" >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{unidad.nombre}}</h2>
      <span flex></span>
      <md-button class="md-icon-button md-primary" ng-click="cerrarModal();"><md-icon md-svg-icon="close"></md-icon></md-button >
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="form">

          <div  layout="row">
            <md-input-container class="md-block" flex-gt-sm flex=70>
              <label>Ingrese el nuevo Monto de la unidad </label>
              <!-- <input type="text" name="concepto" ng-model="unidad.concepto" required >-->
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Monto en Bs.</label>
              <input decimals-only type="text" name="monto"  placeholder="1"
              required  ng-model="monto">

              <div ng-messages="form.monto.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Monto es Obligatoria</div>
              </div>
            </md-input-container>

          </div>




          <div layout="row" layout-align="end end">
            <md-button  ng-click="guardarUindad();" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
          </div>
        </form>
      </div>
    </md-dialog-content>



  </md-dialog>
