

<md-dialog  md-theme="default" flex="50" aria-label="Agregar Declaración" >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{depActual.nombre}}</h2>
      <span flex></span>
      <md-button class="md-icon-button md-primary" ng-click="cerrarModal();"><md-icon md-svg-icon="close"></md-icon></md-button >
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="form">

          <div  layout="row">
            <md-input-container class="md-block" flex-gt-sm flex=70>
              <label>Descripción</label>
              <input ng-model="concepto.concepto" required >
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Unidad de Cobro</label>
              <md-select  ng-model="concepto.unidad" required>
                <md-option ng-repeat="unidad in unidadCobro"  ng-value="{{unidad.id}}">
                  {{unidad.nombre}}
                </md-option>
              </md-select>
              <div ng-messages="form.unidad.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Unidad de Cobro Obligatoria</div>
              </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Cantidad</label>
              <input decimals-only type="text" name="cantidad"  placeholder="1" 
              required  ng-model="concepto.cantidad">

              <div ng-messages="form.cantidad.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Cantidad Obligatoria</div>
              </div>
            </md-input-container>

          </div>




          <div layout="row" layout-align="end end">
            <md-button  ng-click="guardarConcepto();" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
          </div>
        </form>
      </div>
    </md-dialog-content>



  </md-dialog>
