
<md-dialog  md-theme="default"  aria-label="Editar Declaración" flex ng-controller="ctrDeclarar" ng-cloak >

  <md-toolbar md-colors="{background:'deep-orange-700'}">
    <div class="md-toolbar-tools">
      <h2>{{patente.nombre}} / {{patente.patente}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
<div class="md-dialog-content">
    <div flex layout="row" >

      <div flex>
        <label>Periodo: </label>
        <md-input-container >
          <label>Año</label>
          <md-select  ng-model="declaracion.iano" required ng-change="selAno();cambiaFechaEdit();" >
            <md-option value="{{ano}}" ng-repeat="ano in anos">{{ano}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container >
          <label>Mes</label>
          <md-select ng-disabled="mesBloqueado"  ng-model="declaracion.imes" required ng-change="cambiaFechaEdit()" >
            <md-option value="{{mes.value}}" ng-repeat="mes in meses">{{mes.label}}</md-option>
          </md-select>
        </md-input-container>


      </div>
    </div>



        <div flex>
          <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


            <div flex layout="row">

              <div flex="20">
                Actividad
              </div>

              <div flex="15" style="text-align:center">
                Ventas
              </div>
              <div flex="15" style="text-align:center">
                Sub-Total
              </div>
              <div flex="10" style="text-align:center">
                Descuento
              </div>
              <div flex="10" style="text-align:center">
                Mora
              </div>
              <div flex="15" style="text-align:center">
                Multa
              </div>
              <div flex="15" style="text-align:center">
                Total
              </div>
            </div>
          </div>
          <div  ng-repeat="linea in recibo.lineas " >
            <div flex  >
              <div layout="row">

                <div flex="20"  md-truncate>
                {{actividad[linea.id][0].nombre}} ({{actividad[linea.id][0].porcentaje}}%).
                </div>

                <div flex="15" style="text-align:center">
                  <input ng-init="monto[linea.id] = getBaseImponible(linea.id);" decimals-only ng-disabled="bloquearVenta" type="text" size="13" ng-model="monto[linea.id]" ng-change="cambiaEdit(linea)" required  />
                </div>
                <div flex="15" style="text-align:right">
                  {{lineTotalSub[linea.id]|currency:''}}
                </div>
                <div flex="10" style="text-align:right">
                  {{lineTotalDescuento[linea.id]|currency:''}}
                </div>
                <div flex="10" style="text-align:right">
                  {{lineTotalInteres[linea.id]|currency:''}}
                </div>
                <div flex="15" style="text-align:right">
                  {{lineTotalMulta[linea.id]|currency:''}}
                </div>
                <div flex="15" style="text-align:right">
                  {{lineTotalPagar[linea.id]|currency:''}}
                </div>
              </div>

            </div>
          </div>
        </div>

         <md-input-container class="md-block" flex-gt-sm>
            <label>Comentario / Justificación</label>
            <input md-maxlength="255" required  ng-model="comentario" />
         </md-input-container>
    <div layout="row" layout-align="end end">
      <md-button ng-click="guardarCambios();" class="md-raised  md-warn" ng-disabled="bloquearAgregar">Guardar Cambios</md-button>
    </div>
    </div>
</md-dialog-content>



</md-dialog>
