

<md-dialog  md-theme="default"  aria-label="Agregar Declaración" flex ng-controller="ctrDeclarar" ng-cloak >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{patente.nombre}} / {{patente.patente}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
<div class="md-dialog-content">
    <div flex layout="row" >
      <md-input-container flex="30" class="md-block" >
        <label>RIF</label>
        <input  type="text"   ng-model="patente.rif" id="rif" required=""  />
      </md-input-container>





      <md-input-container flex="70" class="md-block" >
        <label>Dirección</label>
        <input  type="text"  ng-model="patente.direccion"  required="" />
      </md-input-container>



    </div>
    <div layout="row" layout-align="end end">
      <md-button  ng-click="guardarContribuyente();" class="md-raised md-primary" ng-disabled="patente.rif == undefined || patente.direccion == undefined">Guardar</md-button>
    </div>
</md-dialog-content>



</md-dialog>
