
<md-dialog  md-theme="default"  aria-label="Eliminar Recibo" flex='50' ng-controller="ctrContribuyente" ng-cloak >

  <md-toolbar md-colors="{background:'red-700'}">
    <div class="md-toolbar-tools">
      <h2>Recibo #: {{rsReciboEliminar}}, Monto: {{rsReciboEliminar.totalPagar}} {{prueba}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog ">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <div flex layout="row" >
        <p class="md-body-2">Esta Seguro que Decea Eliminar El Recibo Seleccionado</p>
      </div>
      <div flex layout="row" >
        <p class="md-caption" style="color:red">Coloque un comentario porque se esta eliminando esta Recibo{{prueba}}</p>
      </div>
      <md-input-container class="md-block"  flex-gt-xs >
        <label>Comentario.</label>
        <input  type="text"  name="comentario"  ng-model="comentario"  ng-required="true" minlength="10"  ng-minlength="10" md-maxlength="255"  ng-maxlength="255"/>
        <div ng-messages="fContribuyente.comentario.$error">
          <div ng-message="required">El Comentario es un campo Obligatorio</div>
          <div ng-message="md-maxlength">El comentario tiene mas caracteres de los esperados</div>
          <div ng-message="minlength">El comentario tiene menos caractes de los esperados</div>
        </div>
      </md-input-container>
      <div layout="row" layout-align="end end">
        <md-button class="md-raised" md-colors="{background: 'grey-400'}" ng-click="cancel()">No</md-button>
        <md-button ng-click="eliminarRecibo()" class="md-raised md-warn" md-colors="{background: 'red'}" ng-disabled="(comentario == undefined)">Eliminar</md-button>
      </div>
    </div>
  </md-dialog-content>

</md-dialog>
