<md-dialog  md-theme="default"  aria-label="Agregar Declaración" flex ng-controller="ctrDeclarar" ng-cloak >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{patente.nombre}} / {{patente.patente}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
<div class="md-dialog-content">
    <div flex layout="row" >

      <div flex>
        <label>Configure la vista del estado de Cuenta </label>
        <div layout="row" layout-align="space-between center">
        <span>Seleccione la Cantidad de Recibos a Emitir</span>
        <md-select ng-model="ordenado.cantidad" placeholder="Recibos" class="md-no-underline">
          <md-option value="5">Ultimos 5</md-option>
          <md-option value="10">Ultimos 10</md-option>
          <md-option value="20">Ultimos 20</md-option>
          <md-option value="0">Todos</md-option>
        </md-select>
      </div>
      <div flex="100" flex-gt-sm="50" layout="column">
      <div >
        <fieldset class="standard">
          <legend>Recibos Por:</legend>
          <div layout="row" layout-wrap flex>
            <div  class="standard" flex="75">
              <label ng-repeat="tipo in tiposRecibo">
                <input type="checkbox" name="tipo" ng-checked="exists(tipo)"
                       ng-click="toggle(tipo)"/>{{tipo}}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    </div>


      </div>
    </div>
        </div>

    <div layout="row" layout-align="end end">
      <md-button  ng-click="estadoCuentaImpreso(ordenado);" class="md-raised md-primary">Mostrar</md-button>
    </div>

</md-dialog-content>
</md-dialog>
