<!DOCTYPE html>
<html ng-app="taquillApp">
  <head>
    <meta charset="utf-8">
    <title>Estado de Cuenta</title>
  </head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />



  <link rel="stylesheet" href="../../../js/component/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="../../../css/bt337/bootstrap.min.css">



  <script src="../../../js/component/angular/angular.min.js"></script>

  <script src="../../../js/component/ui/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="../../../js/component/angular-touch/touch.min.js"></script>
  <script src="../../../js/component/angular-route.min/index.js"></script>
  <script src="../../../js/component/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../../../js/component/locale/angular-locale_es-ve.js"></script>
  <script src="../../../js/component/angular-resource/angular-resource.min.js"></script>
  <script src="../../../js/component/angular-aria/angular-aria.js"></script>
  <script src="../../../js/component/angular-animate/angular-animate.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-material/angular-material.min.js"></script>
  <script src="../../../js/component/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-messages/angular-messages.min.js"></script>
  <script src="../../../js/component/chart/Chart.min.js"></script>
  <script src="../../../js/component/chart/angular-chart.min.js"></script>
  <script src="../../../js/component/qrcode/qrcode.js"></script>
  <script src="../../../js/component/angular-qr/angular-qr.js" type="text/javascript"></script>

  <script src="../../js/controller/main.js"></script>
  <script src="../../js/service/srvRestApi.js"></script>
  <script src="../../js/service/srvUtils.js"></script>
  <script src="../../js/factory/facGlobal.js"></script>

  <script src="../../js/controller/ctrMainTaquilla.js"></script>

  <script src="../../js/controller/ctrImpEstadoCuenta.js"></script>


  <body layout="column">

    <div ng-controller="ctrImpEstadoCuenta">
    <md-button class="md-raised md-primary" ng-click="printIt2()">Imprimir</md-button>
    <div id="printArea">



    <table style="width:100%;font-size:12px" >
      <tr style="width:100%;">
        <td style="width:60% ;text-align:center">
          <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
          <span>ESTADO NUEVA ESPARTA</span><br>
          <span>ALCALDIA BOLIVARIANA MUN. ARISMENDI</span><br>
          <span>G-200003464</span><br>
        </td>
        <td style="width:40% ;text-align:center">
          <span>Estado de Cuenta &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <img src="../../../../images/logo.jpg" style="width:40%;" >
        </td>

      </tr>
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width:80%;font-size:12px">
            <tr>
              <td style="width:10%">Contribuyente</td>
              <td style="width:2%">:</td>
              <td>{{estadoCuenta.patente.persona.nombre}}</td>
              <td style="width:10%" >No.Licencia</td>
              <td style="width:2%">:</td>
              <td>{{estadoCuenta.patente.patente}}</td>
            </tr>
            <tr>
              <td>R.I.F</td>
              <td>:</td>
              <td>{{estadoCuenta.patente.persona.rif}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Dirección</td>
              <td>:</td>
              <td colspan="4">{{estadoCuenta.patente.persona.direccion}}</td>

            </tr>


          </table>
          <hr>
        </td>

      </tr>

      <tr>
        <td colspan="2" style="text-align:center;font-size:12px">Detalles Estado de Cuenta</td>
      </tr>
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width:100%;font-size:12px">
            <tr>
              <th>Concepto de Pago</th>
              <th>Recibo</th>
              <th>Fecha</th>
              <th>Pagado</th>
              <th>Total General</th>
            </tr>
            <tr ng-repeat="arry in arryEstadoCuenta">
              <th>{{arry.concepto}}</th>
              <th>{{arry.recibo}}</th>
              <th>{{arry.fecha }}</th>
              <th style="text-align:end;color:Tomato;">{{arry.pagada|currency:''}}</th>
              <th style="text-align:end;">{{arry.totalGeneral|currency:''}}</th>
            </tr>
          </table>
        </td>

      </tr>
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center;font-size:12px"></td>
      </tr>
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width:100%;font-size:12px">
            <tr>
              <td>Totales</td>

              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <th style="text-align:end">{{totales.pagas |currency:''}}</th>
              <th style="text-align:end">{{totales.general |currency:''}}</th>
            </tr>
            <tr>
              <td >Monto Total por Pagar(Deuda)</td>

              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <th style="text-align:end;color:red;">{{(totales.general-totales.pagas)|currency:''}}</th>

            </tr>

          </table>
          <hr>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tbody>

      </tbody>
    </table>



    <br>

    </div>

    </div>

</body>
</html>
