<md-content ng-controller="ctrContribuyente" ng-cloak layout="row" layout-align-md="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
    <form name="Form" >
      <md-card-content>

        <div layout= "row">
        <div layout= "column" flex= "50">


        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Datos del Contribuyente</span> {{patente.patente}}</h2>
            <md-button class="md-icon-button" ng-click="editarContribuyente()">
              <md-tooltip md-direction="right">Editar contribuyente</md-tooltip>
              <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="account-edit"><md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <div layout="row" layout-align="center center">
            <div flex="30">

              <label class="md-caption"> RIF: </label>
              <label class="md-subhead"> {{patente.persona.rif}}</label>
            </div>
            <div flex="70">
              <label class="md-caption">  Nombre / Razón Social:</label>
              <label class="md-subhead" > {{patente.nombre}}</label>

            </div>

          </div>
          <div layout="row" layout-align="center center">


            <div flex >
              <label class="md-caption">  Direccion: </label>
              <label class="md-subhead"> {{patente.direccion}}</label>
            </div>




          </div>


          <md-divider></md-divider>

          <md-toolbar>
            <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
              <h2><span>Actividad Económica</span></h2>
              <md-button class="md-icon-button" ng-click="mostrarAgregarActividad()">
                <md-tooltip md-direction="right">Agregar Actividad Económica</md-tooltip>
                <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="playlist-plus"><md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-content layout="column">
              <div flex layout="row" ng-show="swAgregarActividad">


                <md-input-container flex="50"  class="md-block"  >
                  <label>Actividad</label>
                  <md-select ng-model="selActividad" required  >
                    <md-option value="{{actividad.id}}" ng-repeat="actividad in actividades">{{actividad.codigo}} - {{actividad.nombre}} ({{actividad.porcentaje}}%)</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container class="md-block"  >
                  <md-button class="md-raised md-primary" ng-click="agregarActividad($event)">Agregar Actividad Economica</md-button>
                </md-input-container>
              </div>

              <div flex ng-if="!swTieneActividad">
                <div flex>
                  <h2 class="md-title">
                    Este contribuyente no tiene Actividad económica asociada, antes de agregar cualquier declaración debe incluir al menos una.

                  </h2>
                </div>
              </div>
              <div flex ng-if="swTieneActividad">
                <br/>
                <div flex>
                  <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


                    <div flex layout="row">
                      <div flex="10">
                        codigo
                      </div>
                      <div flex="50">
                        Actividad
                      </div>
                      <div flex="20" style="text-align:center">
                        Minimo Tributario
                      </div>
                      <div flex="10" style="text-align:center">
                        Alicuota
                      </div>
                      <div flex="10">

                      </div>
                    </div>
                  </div>
                  <div  ng-repeat="actPat in actividadPatentes " >
                    <div flex  >
                      <div layout="row">
                        <div flex="10">
                          {{actPat.codigo}}
                        </div>
                        <div flex="50"  md-truncate>
                          {{actPat.nombre}}
                        </div>
                        <div flex="20" style="text-align:center">
                          {{ getMinimoTributario(actPat)|currency:''}}% SMMU
                        </div>
                        <div flex="10" style="text-align:center">
                          {{getAlicuota(actPat)|currency:''}}%
                        </div>
                        <div flex="10">
                          <md-button class="md-icon-button" ng-click="vermensage(actPat,$event)">
                            <md-tooltip md-direction="left">Eliminar Actividad Económica</md-tooltip>
                            <md-icon  md-colors="{background:'red-700'}" md-svg-icon="close"><md-icon>
                            </md-button>



                          </div>

                        </div>
                        <md-divider></md-divider>
                      </div>
                    </div>
                  </div>
                </div>
              </md-content>
              </div> <!--fin colunm 50% -->
              <div layout="column" flex="50" style ="margin-left:5px">
                <div layout="column">
                    <md-card flex layout-fill=""  style="min-height: 224px;">
                      <md-card-header  class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                        <md-card-avatar>
                          <img ng-src="../images/vincular3.jpg" class="md-card-image" alt="Washed Out">
                        </md-card-avatar>
                        <md-card-header-text>
                          <div layout="row">
                           <div layout="column" flex ="50" layout-align="star center">
                             <h3><span>Patentes Vinculadas</span></h3>
                             <!--<h3 class="md-title">Patentes Vinculadas</h3>
                            <span class="md-title">Patentes Vinculadas.</span>-->
                          </div>

                          <div layout="column" flex ="50">
                              <md-button class="md-icon-button" ng-click="vinculacion($event)">
                                <md-tooltip md-direction="right">Vincular Patentes</md-tooltip>
                                <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="playlist-plus"><md-icon>
                                </md-button>
                            </div>
                          </div>
                        </md-card-header-text>
                      </md-card-header>
                      <md-card-title>
                        <md-card-title-text>
                          <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
                          <div layout="row" flex>
                                  <div flex="25" style="text-align:center">
                                    <small class="md-caption">N° Patente</small>

                                  </div>
                                  <div flex="25" style="text-align:center">
                                    <small class="md-caption">Tipo</small>

                                  </div>
                                  <div flex="25" style="text-align:center">
                                    <small class="md-caption">Monto</small>

                                  </div>
                                  <div flex="25" style="text-align:center">
                                    <small class="md-caption">Ultimo Pago</small>

                                  </div>
                           </div>
                           </md-list-item>
                           <md-list-item class="secondary-button-padding" md-colors="{background:'grey-50'}" ng-repeat="aso in patenAsociadas">
                           <div layout="row" flex>
                                   <div flex="25" style="text-align:center">
                                     <small class="md-caption">{{aso.patente}}</small>

                                   </div>
                                   <div flex="25" style="text-align:center">
                                     <small class="md-caption">{{aso.tipo}}</small>

                                   </div>
                                   <div flex="25" style="text-align:center">
                                     <small class="md-caption">{{aso.ultimoPago.monto}}</small>

                                   </div>
                                   <div flex="20" style="text-align:center">
                                     <small class="md-caption">{{verificarData(aso.ultimoPago.created_at )}}</small>

                                   </div>
                                   <div flex="5">
                                     <md-button class="md-icon-button" ng-click="eliminarVinculo(aso)">
                                       <md-tooltip md-direction="left">Eliminar Vinculacion</md-tooltip>
                                       <md-icon  md-colors="{background:'red-700'}" md-svg-icon="close"><md-icon>
                                       </md-button>
                                    </div>
                            </div>
                            </md-list-item>

                          <md-divider></md-divider>

                        </md-card-title-text>
                      </md-card-title>
                      <md-card-actions >

                      </md-card-actions>

                    </md-card>
                  </div>

              </div> <!--fin colunm 2 50% -->
              </div>
              <div layout="row">
              <md-divider></md-divider>
              </div>

              <md-toolbar>
                <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                  <h2><span>Historial Declaraciones</span></h2>
                  <md-button class="md-icon-button" ng-click="agregarDeclaracion()">
                    <md-tooltip md-direction="right">Agregar una Declaración Nueva</md-tooltip>
                    <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="file-plus"><md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="agregarDeclaracionItems()">
                      <md-tooltip md-direction="right">Agregar Items</md-tooltip>
                      <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="playlist-plus"><md-icon>
                      </md-button>
                      <md-button class="md-icon-button" ng-click="calculoEstadoCuenta($ev)">
                                            <md-tooltip md-direction="right">Estado de Cuenta</md-tooltip>
                                            <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="user-details"><md-icon>
                                         </md-button>
                  </div>
                </md-toolbar>

                <div flex ng-if="!swTieneRecibos">
                  <div flex>
                    <h2 class="md-title">
                      Este contribuyente no tiene Declaraciones registradas.
                    </h2>
                  </div>
                </div>

                <md-list flex ng-if="swTieneRecibos">
                  <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">


                    <div flex layout="row">
                      <div flex="10" style="text-align:center">
                        Orden
                      </div>
                      <div flex="10" style="text-align:center">
                        Recibo
                      </div>
                      <div flex="10" style="text-align:center">
                        Patente
                      </div>
                      <div flex="10" style="text-align:center">
                        Tipo
                      </div>
                      <div flex="10" style="text-align:center">
                        Estado
                      </div>
                      <div flex="10" style="text-align:center">
                        Periodo
                      </div>
                      <div flex="20" style="text-align:center">
                        Total de Ventas
                      </div>

                      <div flex="15" style="text-align:center">
                        Total a Pagar
                      </div>
                      <div flex="5">

                      </div>
                    </div>
                  </md-list-item>
                  <md-list-item class="secondary-button-padding" ng-repeat="recibo in recibos" md-ink-ripple  >
                    <div flex  >
                      <div layout="row">

                        <div flex="10" style="text-align:center">
                          {{recibo.id}}
                        </div>
                        <div flex="10" style="text-align:center">
                          {{recibo.pago.pago_id}}
                        </div>
                        <div flex="10" style="text-align:left">
                          {{recibo.patente.patente}}
                        </div>
                        <div flex="10" style="text-align:left">
                          {{recibo.patente.tipo}}
                        </div>
                        <div flex="10" style="text-align:center">
                          {{recibo.status}}
                        </div>
                        <div flex="10" style="text-align:center">
                          {{recibo.lineas[0].imes}}-{{recibo.lineas[0].iano}}
                        </div>
                        <div flex="20" style="text-align:right">
                          {{recibo.totalBase |currency:''}}
                        </div>
                        <div flex="15" style="text-align:right">
                          {{recibo.totalPagar |currency:''}}
                        </div>
                        <div flex="5" style="text-align:center">

                            <md-menu md-position-mode="target-right target" >
                              <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                                <md-icon md-menu-origin md-svg-icon="dots-vertical" ></md-icon>
                              </md-button>
                              <md-menu-content width="4" >
                                <md-menu-item >
                                  <md-button ng-click="verDetalle($event,recibo)">
                                    <div layout="row" flex>
                                      <p flex>Ver Detalle</p>
                                      <md-icon md-menu-align-target md-svg-icon="eye"></md-icon>
                                    </div>
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item ng-if="recibo.status=='Pendiente' &&  recibo.patente.tipo =='comercio'" >
                                  <md-button ng-click="editarDeclaracion($event,recibo)">
                                    <div layout="row" flex>
                                      <p flex>Editar</p>
                                      <md-icon md-svg-icon="pencil" ></md-icon>
                                    </div>
                                  </md-button>
                                </md-menu-item>
                                <md-menu-item ng-if=" usuario.nivel == 'dgestion' && recibo.status!='Anulada'" >
                                  <md-button ng-click="anulado($event,recibo)">
                                    <div layout="row" flex>
                                      <p flex>Anular</p>
                                      <md-icon md-svg_icon="delete-sweep" >clear</md-icon>
                                    </div>
                                  </md-button>
                                </md-menu-item>
                              </md-menu-content>
                            </md-menu>

                          </div>
                        </div>
                        <md-divider></md-divider>
                      </div>
                    </md-list-item>
                  </md-list>

            <md-divider></md-divider>
            </md-card-content>
          </form>
        </md-card>
      </md-content>
