<md-content ng-controller="ctrDeclarar" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex>

    <md-card-content>
      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'indigo-800'}">
          <h2><span>Patente de Industria y Comercio</span></h2>

        </div>
      </md-toolbar>


      <md-content>




        <md-content md-colors="{background : 'indigo-50'}" layout-padding>
          <form name="fContribuyente" autocomplete="off">
            <div layout-gt-xs="row">
              <md-input-container class="md-block"  flex-gt-xs >
                <label>Numero de Patente</label>
                <input  ng-model="newPatente.patente" name="Patente" numbers-only required="" minlength="6"  ng-minlength="6" md-maxlength="6"  ng-maxlength="6" />
                <div ng-messages="fContribuyente.patente.$error">
                  <div ng-message="required">El Número de Patente es un campo Obligatorio</div>
                  <div ng-message="md-maxlength">El Número de Patente no es valido, mas números de los esperados</div>
                  <div ng-message="minlength">El Número de Patente no es valido, menos números de los esperados</div>
                </div>
              </md-input-container>

              <div layout="row" flex>
                <md-input-container class="md-block" flex-gt-xs="20">

                  <md-select name="prefijo" ng-model="newPatente.prefijo" required >
                    <md-option value="{{pre}}" ng-repeat="pre in preFijos">{{pre}}</md-option>
                  </md-select>
                  <div ng-messages="fContribuyente.prefijo.$error">
                    <div ng-message="required">El Prefijo del RIF es un campo Obligatorio</div>

                  </div>
                </md-input-container>

                <md-input-container class="md-block"  flex-gt-xs >
                  <label>RIF</label>
                  <input  type="text" numbers-only name="rif"  ng-model="newPatente.rif"  ng-required="true" minlength="8"  ng-minlength="8" md-maxlength="9"  ng-maxlength="9"/>
                  <div ng-messages="fContribuyente.rif.$error">
                    <div ng-message="required">El RIF es un campo Obligatorio</div>
                    <div ng-message="md-maxlength">El Número de RIF no es valido, mas números de los esperados</div>
                    <div ng-message="minlength">El Número de RIF no es valido, menos números de los esperados</div>
                  </div>
                </md-input-container>
              </div>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block" flex >
                <label>Nombre / Razón Social</label>
                <input  type="text" name="nombre"   ng-model="newPatente.nombre"  required="" />
                <div ng-messages="fContribuyente.nombre.$error">
                  <div ng-message="required">el Nombre o Razon Social es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block" flex-gt-xs >
                <label>Teléfono</label>
                <input  type="text"   name="telefono" ng-model="newPatente.telefono" required=""/>
                <div ng-messages="fContribuyente.telefono.$error">
                  <div ng-message="required">El Teléfono es un campo obligatorio</div>
                </div>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-xs  >
                <label>Correo</label>
                <input  type="text" name="correo"  ng-model="newPatente.correo"  />
                <div ng-messages="fContribuyente.correo.$error">
                  <div ng-message="required">El Correo social es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block"flex >
                <label>Dirección</label>
                <input  type="text" name="direccion" ng-model="newPatente.direccion"  required="" />
                <div ng-messages="fContribuyente.direccion.$error">
                  <div ng-message="required">La Dirección es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>
<!--
            <div layout-gt-xs="row" >
              <md-input-container class="md-block"flex >
                <label>Norte</label>
                <input  type="text" name="norte" ng-model="ficha.norte"  required="" />
                <div ng-messages="fContribuyente.norte.$error">
                  <div ng-message="required">El Lindero Norte es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block"flex >
                <label>Sur</label>
                <input  type="text"  ng-model="ficha.sur" name="sur" required="" />
                <div ng-messages="fContribuyente.sur.$error">
                  <div ng-message="required">El Lindero Sur es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block"flex >
                <label>Este</label>
                <input  type="text"  name="este" ng-model="ficha.este"  required="" />
                <div ng-messages="fContribuyente.este.$error">
                  <div ng-message="required">El Lindero Este es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-xs="row" >
              <md-input-container class="md-block"flex >
                <label>Oeste</label>
                <input  type="text"  name="oeste" ng-model="ficha.oeste"  required="" />
                <div ng-messages="fContribuyente.oeste.$error">
                  <div ng-message="required">El Lindero Oeste es un campo obligatorio</div>
                </div>
              </md-input-container>
            </div>
-->

             <div layout-gt-xs="row" >
            <md-input-container class="md-block"  flex-gt-xs >
              <label>Comentario</label>
              <input  type="text"  name="comentario"  ng-model="comentario"  ng-required="true" minlength="10"  ng-minlength="10" md-maxlength="255"  ng-maxlength="255"/>
              <div ng-messages="fContribuyente.comentario.$error">
                <div ng-message="required">El Comentario es un campo Obligatorio</div>
                <div ng-message="md-maxlength">El comentario tiene mas caracteres de los esperados</div>
                <div ng-message="minlength">El comentario tiene menos caractes de los esperados</div>
              </div>
            </md-input-container>
            </div>
            <md-toolbar>
              <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
                <h2><span>Actividad Económica</span></h2>
               <!--<md-button class="md-icon-button" ng-click="mostrarAgregarActividad1()">
                  <md-tooltip md-direction="right">Agregar Actividad Económica</md-tooltip>
                  <md-icon  md-colors="{background:'light-blue-800'}" md-svg-icon="playlist-plus"><md-icon>
                  </md-button> -->
                </div>
              </md-toolbar>
              <div layout="row">
              <div layout="column" flex="35" layout-align="start">
              <md-grid-list cols="2" rowHeight="100px">
               <md-input-container    class="md-block" >
                 <label>Actividad</label>
                <!--  <select ng-model="selActividad1" ng-options="actividad.nombre for actividad in actividades"></select> -->
                <md-select ng-model="selActividad1" required>
                  <md-option ng-value="{{actividad}}" ng-repeat="actividad in actividades">{{actividad.codigo}} - {{actividad.nombre}} ({{actividad.porcentaje}}%)</md-option>
                </md-select>

                  <md-input-container class="md-block"  >
                    <md-button class="md-raised md-primary" ng-click="agregarNewActividad()">Agregar Actividad Economica</md-button>
                  </md-input-container>
                </md-input-container>
                </md-grid-list>
                </div>
                <div layout="column" flex="65" layout-align="start stretch">
                  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                  <md-card-title>
                    <md-card-title-text>
                      <span class="ms-headline">Actividades Seleccionadas</span>
                      <div class="md-media-lg card-media"ng-repeat="new in newactividad">
                        <div layout="row">
                        <div layout="column" flex="10">
                          <p class="md-caption">{{new.codigo}}</p>
                        </div>
                        <div layout="column" flex="50">
                          <p class="md-caption">{{new.nombre}}</p>
                        </div>
                        <div layout="column" flex="10">
                          <p class="md-caption">{{new.porcentaje}}%</p>
                        </div>
                        <div layout="column" flex="10">
                          <p class="md-caption">{{new.minimo}}</p>
                        </div>
                        <div layout="column" layout-align="start end" flex="10">
                          <md-button class="md-icon-button" ng-click="eliminarActividad1(new)">
                             <md-icon  md-colors="{background:'purple-700'}" md-svg-icon="close"><md-icon>
                          </md-button>
                          </div>
                        </div>
                        <md-divider></md-divider>
                      </div>
                  </md-card-title-text>
                  </md-card-title>

                </md-card>
              </div>
              </div>
            <div layout="row" layout-align="end end">
              <md-button  ng-disabled="!fContribuyente.$valid" ng-click="crearNewPatente();"  class="md-raised md-primary">Guardar Nueva Patente</md-button>
            </div>
          </form>
        </md-content>









      </md-card-content>

    </md-card>
  </md-content>
