

<md-dialog  md-theme="default"  aria-label="Agregar Declaración" flex ng-controller="ctrDeclarar" ng-cloak >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{patente.nombre}} / {{patente.patente}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
<div class="md-dialog-content">
    <div flex layout="row" >

      <div flex>
        <label>Periodo: </label>
        <md-input-container >
          <label>Año</label>
          <md-select  ng-model="declaracion.iano" required ng-change="selAno();cambiaFecha();" >
            <md-option value="{{ano}}" ng-repeat="ano in anos">{{ano}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container >
          <label>Mes</label>
          <md-select ng-disabled="mesBloqueado"  ng-model="declaracion.imes" required ng-change="cambiaFecha()" >
            <md-option value="{{mes.value}}" ng-repeat="mes in meses">{{mes.label}}</md-option>
          </md-select>
        </md-input-container>


      </div>
    </div>



        <div flex>
          <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


            <div flex layout="row">

              <div flex="20">
                Actividad
              </div>

              <div flex="15" style="text-align:center">
                Ventas
              </div>
              <div flex="15" style="text-align:center">
                Sub-Total
              </div>
              <div flex="10" style="text-align:center">
                Descuento
              </div>
              <div flex="10" style="text-align:center">
                Mora
              </div>
              <div flex="15" style="text-align:center">
                Multa
              </div>
              <div flex="15" style="text-align:center">
                Total
              </div>
            </div>
          </div>
          <div  ng-repeat="actPat in actividadPatentes " >
            <div flex  >
              <div layout="row">

                <div flex="20"  md-truncate>
                  {{actPat.nombre}} ({{actPat.porcentaje}}%)
                </div>

                <div flex="15" style="text-align:center">
                  <input decimals-only ng-disabled="bloquearVenta" type="text" size="13" ng-model="monto[actPat.id]" ng-change="cambia(actPat)" required  />
                </div>
                <div flex="15" style="text-align:right">
                  {{lineTotalSub[actPat.id]|currency:''}}
                </div>
                <div flex="10" style="text-align:right">
                  {{lineTotalDescuento[actPat.id]|currency:''}}
                </div>
                <div flex="10" style="text-align:right">
                  {{lineTotalInteres[actPat.id]|currency:''}}
                </div>
                <div flex="15" style="text-align:right">
                  {{lineTotalMulta[actPat.id]|currency:''}}
                </div>
                <div flex="15" style="text-align:right">
                  {{lineTotalPagar[actPat.id]|currency:''}}
                </div>
              </div>

            </div>
          </div>
        </div>


    <div layout="row" layout-align="end end">
      <md-button  ng-click="guardar();" class="md-raised md-primary" ng-disabled="bloquearAgregar">Agregar</md-button>
    </div>
    </div>
</md-dialog-content>



</md-dialog>
