
<div ng-controller="ctrImprimir" >
<div id="printArea">



<table style="width:100%;font-size:12px" >
  <tr>
    <td style="width:50% ;text-align:center">
      <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
      <span>ESTADO NUEVA ESPARTA</span><br>
      <span>ALCALDIA BOLIVARIANA MUN. ARISMENDI</span><br>
      <span>G-200003464</span><br>
    </td>
    <td>
      <span>Numero de Recibo: 2018-{{pago.id}}</span><br>
      <span ng-show="mostrarPeriodo">Ramo: {{ramo}}</span><br>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center">
      RECIBO DE PAGO
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width:80%;font-size:12px">
        <tr>
          <td style="width:10%">Contribuyente</td>
          <td style="width:2%">:</td>
          <td>{{persona.nombre}}</td>
          <td style="width:10%" ng-if="mostrarPeriodo and !esAgrupado">No.Licencia</td>
          <td style="width:2%" ng-if="mostrarPeriodo and !esAgrupado">:</td>
          <td ng-if="mostrarPeriodo and !esAgrupado">{{patente.patente}}</td>
        </tr>
        <tr>
          <td>R.I.F</td>
          <td>:</td>
          <td>{{persona.rif}}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Dirección</td>
          <td>:</td>
          <td colspan="4">{{persona.direccion}}</td>

        </tr>


      </table>
      <hr>
    </td>

  </tr>

  <tr>
    <td colspan="2" style="text-align:center;font-size:12px">Concepto(s)   Liquidado(s)</td>
  </tr>
  <tr>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width:100%;font-size:12px">
        <tr ng-if="!mostrarPeriodo" ng-repeat="linea in lineas" >
          <td colspan="2" > {{getNombreTasa(linea)}} </td>

          <td style="text-align:right;width:20%">{{linea.total|currency:''}}</td>
        </tr>
        <tr ng-if="esAgrupado"  >
          <td colspan="2" > {{getNombreTasa(lineas[0])}} <span ng-repeat="patente in allPatentes">{{patente.patente}} </span> </td>

          <td style="text-align:right;width:20%">{{totalTotal|currency:''}}</td>
        </tr>
        <tr ng-if="esCatastro"  >
          <td colspan="2" > Propiedad Inmobiliaria {{desde}} / {{hasta}} </td>

          <td style="text-align:right;width:20%">{{(totalTotal*1)-(interes*1)+(descuento*1)|currency:''}}</td>
        </tr>
        <tr ng-if="mostrarPeriodo2" >
          <td style="width:30%"  > Impuesto Publicidad {{desde}} / {{hasta}} </td>
          <td></td>
          <td style="text-align:right;width:20%">{{vigentePublicidad|currency:''}}</td>
        </tr>
        <tr ng-if="esLicor" >
          <td style="width:30%"  > Impuestos de Licores {{desde}} / {{hasta}} </td>
          <td></td>
          <td style="text-align:right;width:20%">{{vigenteLicores|currency:''}}</td>
        </tr>
        <tr ng-if="vigente > 0" >
          <td style="width:30%"  > Impuesto Vigente </td>
          <td></td>
          <td style="text-align:right;width:20%">{{vigente|currency:''}}</td>
        </tr>
        <tr ng-if="moroso > 0" >
          <td style="width:30%"  > Impuesto Moroso</td>
          <td></td>
          <td style="text-align:right;width:20%">{{moroso|currency:''}}</td>
        </tr>
        <tr ng-if="interes > 0">
          <td style="width:30%">Intereses de Mora</td>
          <td></td>
          <td style="text-align:right;width:20%">{{interes|currency:''}}</td>
        </tr>
        <tr ng-if="multa > 0">
          <td style="width:30%">Monto de Multa (50)</td>
          <td></td>
          <td style="text-align:right;width:20%">{{multa|currency:''}}</td>
        </tr>
        <tr ng-if="descuento > 0">
          <td style="width:30%">Monto de Descuento </td>
          <td></td>
          <td style="text-align:right;width:20%">{{descuento|currency:''}}</td>
        </tr>
        <tr>
          <td>Forma de Pago</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="width:5%;text-align:center" colspan="3">
            {{pago.banco}}*****{{pago.tipo }}***** Ref.: {{pago.referencia}}***** {{pago.monto|currency:''}}</td>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center;font-size:12px">Detalles de Cancelación Actual</td>
  </tr>
  <tr>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width:100%;font-size:12px">

        <tr>
          <td ><span ng-if="mostrarPeriodo||mostrarPeriodo2||esLicor">Desde</span></td>
          <td><span ng-if="mostrarPeriodo||mostrarPeriodo2||esLicor">Hasta</span></td>
          <td>Fecha de Liquidación</td>
          <td>Código Usuario</td>
          <td>Código Cajero</td>
          <td>Total a Pagar</td>
        </tr>
        <tr>
          <td>{{desde}}</td>
          <td>{{hasta}}</td>
          <td>{{created_at| date:'dd/MM/yyyy hh:mm:ss'}}</td>
          <td>{{usuario.rif}}</td>
          <td>{{usuario.id}}</td>
          <td>{{pago.monto|currency:''}}</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tbody>

  </tbody>
</table>
</div>
<md-button class="md-raised md-primary" ng-click="printIt2()">Imprimir</md-button>
</div>
