<!--
<div ng-controller="ctrImprimir" >
<div id="printArea">



<table style="width:100%;font-size:12px" >
  <tr>
    <td style="width:50% ;text-align:center">
      <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
      <span>ESTADO NUEVA ESPARTA</span><br>
      <span>ALCALDIA BOLIVARIANA MUN. ARISMENDI</span><br>
      <span>G-200003464</span><br>
    </td>
    <td>
      <span>Numero de Recibo: 2021-{{pago.id}}</span><br>
      <span ng-show="mostrarPeriodo">Ramo: {{ramo}}</span><br>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center">
      RECIBO DE PAGO
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width:80%;font-size:12px">
        <tr>
          <td style="width:10%">Contribuyente</td>
          <td style="width:2%">:</td>
          <td>{{persona.nombre}}</td>
          <td style="width:10%" ng-if="mostrarPeriodo">No.Licencia</td>
          <td style="width:2%">:</td>
          <td>{{patente.patente}}</td>
        </tr>
        <tr>
          <td>R.I.F</td>
          <td>:</td>
          <td>{{persona.rif}}</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>Dirección</td>
          <td>:</td>
          <td colspan="4">{{persona.direccion}}</td>

        </tr>


      </table>
      <hr>
    </td>

  </tr>

  <tr>
    <td colspan="2" style="text-align:center;font-size:12px">Concepto(s)   Liquidado(s)</td>
  </tr>
  <tr>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width:100%;font-size:12px">
        <tr  ng-repeat="linea in lineas" >
          <td ng-if="linea.tipo=='Tasa'"  colspan="2" > {{getNombreTasa(linea)}} </td>

          <td ng-if="linea.tipo=='Tasa'" style="text-align:right;width:20%">{{linea.total|currency:''}}</td>
        </tr>
        <tr ng-if="esCatastro"  >
          <td colspan="2" > Propiedad Inmobiliaria {{desde}} / {{hasta}} </td>

          <td style="text-align:right;width:20%">{{(totalCatastro*1)-(interes*1)+(descuento*1)|currency:''}}</td>
        </tr>
        <tr ng-if="esCatastroManual"  >
          <td colspan="2" > {{concepto}} {{desde}} / {{hasta}} </td>

          <td style="text-align:right;width:20%">{{(totalCatastroManual*1)-(interes*1)+(descuento*1)|currency:''}}</td>
        </tr>
        <tr ng-if="mostrarPeriodo2" >
          <td style="width:30%"  > Impuesto Publicidad {{desde}} / {{hasta}} </td>
          <td></td>
          <td style="text-align:right;width:20%">{{vigentePublicidad|currency:''}}</td>
        </tr>
        <tr ng-if="esLicor" >
          <td style="width:30%"  > Impuestos de Licores {{desde}} / {{hasta}} </td>
          <td></td>
          <td style="text-align:right;width:20%">{{vigenteLicores|currency:''}}</td>
        </tr>
        <tr ng-if="vigente > 0" >
          <td style="width:30%"  > Impuesto Vigente </td>
          <td></td>
          <td style="text-align:right;width:20%">{{vigente|currency:''}}</td>
        </tr>
        <tr ng-if="moroso > 0" >
          <td style="width:30%"  > Impuesto Moroso</td>
          <td></td>
          <td style="text-align:right;width:20%">{{moroso|currency:''}}</td>
        </tr>
        <tr ng-if="interes > 0">
          <td style="width:30%">Intereses de Mora</td>
          <td></td>
          <td style="text-align:right;width:20%">{{interes|currency:''}}</td>
        </tr>
        <tr ng-if="multa > 0">
          <td style="width:30%">Monto de Multa (50)</td>
          <td></td>
          <td style="text-align:right;width:20%">{{multa|currency:''}}</td>
        </tr>
        <tr ng-if="descuento > 0">
          <td style="width:30%">Monto de Descuento </td>
          <td></td>
          <td style="text-align:right;width:20%">{{descuento|currency:''}}</td>
        </tr>
        <tr>
          <td>Forma de Pago</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td style="width:5%;text-align:center" colspan="3">
            {{pago.banco}}*****{{pago.tipo }}***** Ref.: {{pago.referencia}}***** {{pago.monto|currency:''}}</td>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center;font-size:12px">Detalles de Cancelación Actual</td>
  </tr>
  <tr>
    <td colspan="2"><hr></td>
  </tr>
  <tr>
    <td colspan="2">
      <table style="width:100%;font-size:12px">

        <tr>
          <td ><span ng-if="mostrarPeriodo||mostrarPeriodo2||esLicor">Desde</span></td>
          <td><span ng-if="mostrarPeriodo||mostrarPeriodo2||esLicor">Hasta</span></td>
          <td>Fecha de Liquidación</td>
          <td>Código Usuario</td>
          <td>Código Cajero</td>
          <td>Total a Pagar</td>
        </tr>
        <tr>
          <td>{{desde}}</td>
          <td>{{hasta}}</td>
          <td>{{created_at| date:'dd/MM/yyyy hh:mm:ss'}}</td>
          <td>{{usuario.rif}}</td>
          <td>{{usuario.id}}</td>
          <td>{{pago.monto|currency:''}}</td>
        </tr>
      </table>
    </td>

  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tbody>

  </tbody>
</table>
</div>
<md-button class="md-raised md-primary" ng-click="printIt2()">Imprimir</md-button>
</div> -->
<!--  aqui la nueva adactacion de 11-02-2020- john nunez -->


<!DOCTYPE html>
<html ng-app="taquillApp">
  <head>
    <meta charset="utf-8">
    <title>Taquilla de Recaudación Municipal</title>
  </head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />



  <link rel="stylesheet" href="../../../js/component/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="../../../css/bt337/bootstrap.min.css">



  <script src="../../../js/component/angular/angular.min.js"></script>

  <script src="../../../js/component/ui/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="../../../js/component/angular-touch/touch.min.js"></script>
  <script src="../../../js/component/angular-route.min/index.js"></script>
  <script src="../../../js/component/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../../../js/component/locale/angular-locale_es-ve.js"></script>
  <script src="../../../js/component/angular-resource/angular-resource.min.js"></script>
  <script src="../../../js/component/angular-aria/angular-aria.js"></script>
  <script src="../../../js/component/angular-animate/angular-animate.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-material/angular-material.min.js"></script>
  <script src="../../../js/component/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-material-paging/src/angular-material-paging.js"></script>
  <script src="../../../js/component/angular-messages/angular-messages.min.js"></script>
  <script src="../../../js/component/chart/Chart.min.js"></script>
  <script src="../../../js/component/chart/angular-chart.min.js"></script>
  <script src="../../../js/component/qrcode/qrcode.js"></script>
  <script src="../../../js/component/angular-qr/angular-qr.js" type="text/javascript"></script>

  <script src="../../js/controller/main.js"></script>
  <script src="../../js/service/srvRestApi.js"></script>
  <script src="../../js/service/srvUtils.js"></script>
  <script src="../../js/factory/facGlobal.js"></script>

  <script src="../../js/controller/ctrMainTaquilla.js"></script>

  <script src="../../js/controller/ctrImprimir.js"></script>


  <body layout="column" ng-controller="ctrMainTaquilla">

    <div ng-controller="ctrImprimir" >
    <md-button class="md-raised md-primary" ng-click="printIt2()">Imprimir</md-button>
    <div id="printArea">



    <table style="width:100%;font-size:12px" >
      <tr>
        <td style="width:50% ;text-align:center">
          <span>REPUBLICA BOLIVARIANA DE VENEZUELA</span><br>
          <span>ESTADO NUEVA ESPARTA</span><br>
          <span>ALCALDIA BOLIVARIANA MUN. ARISMENDI</span><br>
          <span>G-200003464</span><br>
        </td>
        <td>
          <span>Numero de Recibo: 2020-{{pago.pago_id}}</span><br>
          <span ng-show="mostrarPeriodo">Ramo: {{ramo}}</span><br>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center">
          RECIBO DE PAGO
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width:80%;font-size:12px">
            <tr>
              <td style="width:10%">Contribuyente</td>
              <td style="width:2%">:</td>
              <td>{{persona.nombre}}</td>
              <td style="width:10%" ng-if="mostrarPeriodo">No.Licencia</td>
              <td style="width:2%">:</td>
              <td>{{patente.patente}}</td>
            </tr>
            <tr>
              <td>R.I.F</td>
              <td>:</td>
              <td>{{persona.rif}}</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Dirección</td>
              <td>:</td>
              <td colspan="4">{{persona.direccion}}</td>

            </tr>


          </table>
          <hr>
        </td>

      </tr>

      <tr>
        <td colspan="2" style="text-align:center;font-size:12px">Concepto(s)   Liquidado(s)</td>
      </tr>
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width:100%;font-size:12px">
            <tr  ng-repeat="linea in lineas" >
              <td ng-if="linea.tipo=='Tasa'"  colspan="2" > {{getNombreTasa(linea)}} </td>

              <td ng-if="linea.tipo=='Tasa'" style="text-align:right;width:20%">{{linea.total|currency:''}}</td>
            </tr>
            <tr ng-if="esItem"  ng-repeat="linea in lineas" >
              <td colspan="2" > {{ getNombreItem(linea) }} </td>

              <td style="text-align:right;width:20%">{{(linea.total)|currency:''}}</td>
            </tr>
            <tr ng-if="esCatastro"  >
              <td colspan="2" > Propiedad Inmobiliaria {{desde}} / {{hasta}} </td>

              <td style="text-align:right;width:20%">{{(totalCatastro*1)-(interes*1)+(descuento*1)|currency:''}}</td>
            </tr>
            <tr ng-if="esCatastroManual"  >
              <td colspan="2" > {{concepto}} {{desde}} / {{hasta}} </td>

              <td style="text-align:right;width:20%">{{(totalCatastroManual*1)-(interes*1)+(descuento*1)|currency:''}}</td>
            </tr>
            <tr ng-if="mostrarPeriodo2" >
              <td style="width:30%"  > Impuesto Publicidad {{desde}} / {{hasta}} </td>
              <td></td>
              <td style="text-align:right;width:20%">{{vigentePublicidad|currency:''}}</td>
            </tr>
            <tr ng-if="esLicor" >
              <td style="width:30%"  > Impuestos de Licores {{desde}} / {{hasta}} </td>
              <td></td>
              <td style="text-align:right;width:20%">{{vigenteLicores|currency:''}}</td>
            </tr>
            <tr ng-if="vigente > 0" >
              <td style="width:30%"  > Impuesto Vigente </td>
              <td></td>
              <td style="text-align:right;width:20%">{{vigente|currency:''}}</td>
            </tr>
            <tr ng-if="moroso > 0" >
              <td style="width:30%"  > Impuesto Moroso</td>
              <td></td>
              <td style="text-align:right;width:20%">{{moroso|currency:''}}</td>
            </tr>
            <tr ng-if="interes > 0">
              <td style="width:30%">Intereses de Mora</td>
              <td></td>
              <td style="text-align:right;width:20%">{{interes|currency:''}}</td>
            </tr>
            <tr ng-if="multa > 0">
              <td style="width:30%">Monto de Multa (50)</td>
              <td></td>
              <td style="text-align:right;width:20%">{{multa|currency:''}}</td>
            </tr>
            <tr ng-if="descuento > 0">
              <td style="width:30%">Monto de Descuento </td>
              <td></td>
              <td style="text-align:right;width:20%">{{descuento|currency:''}}</td>
            </tr>
            <tr>
              <td>Forma de Pago</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td style="width:5%;text-align:center" colspan="3">
                {{detalle.banco}}*****{{detalle.tipo }}***** Ref.: {{detalle.referencia}}***** {{detalle.monto|currency:''}}</td>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </td>

      </tr>
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center;font-size:12px">Detalles de Cancelación Actual</td>
      </tr>
      <tr>
        <td colspan="2"><hr></td>
      </tr>
      <tr>
        <td colspan="2">
          <table style="width:100%;font-size:12px">

            <tr>
              <td ><span ng-if="mostrarPeriodo||mostrarPeriodo2||esLicor">Desde</span></td>
              <td><span ng-if="mostrarPeriodo||mostrarPeriodo2||esLicor">Hasta</span></td>
              <td>Fecha de Liquidación</td>
              <td>Código Usuario</td>
              <td>Código Cajero</td>
              <td>Total a Pagar</td>
            </tr>
            <tr>
              <td>{{desde}}</td>
              <td>{{hasta}}</td>
              <td>{{created_at| date:'dd/MM/yyyy hh:mm:ss'}}</td>
              <td>{{usuario.rif}}</td>
              <td>{{usuario.id}}</td>
              <td>{{pago.monto_total|currency:''}}</td>
            </tr>
          </table>
        </td>

      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tbody>

      </tbody>
    </table>



    <br>





    </div>

    </div>

</body>
</html>
