<md-content ng-controller="ctrDeclarar" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
  <form name="Form" >
    <md-card-content>
      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
          <h2><span>Datos del Contribuyente</span></h2>
        </div>
      </md-toolbar>
      <div layout="row" layout-align="center center">
        <div flex="30">

          <label class="md-caption"> Número de Patente: </label>
          <label class="md-subhead"> {{patente.patente}}</label>
        </div>
        <div flex="70">
          <label class="md-caption">  Nombre / Razón Social:</label>
          <label class="md-subhead" > {{patente.nombre}}</label>

        </div>

      </div>
      <div layout="row" layout-align="center center">
        <div flex="30" ng-show="editTaquilla">
          <label class="md-caption"> RIF / Cédula: </label>
          <label class="md-subhead" > {{patente.rif}}</label>
        </div>
        <div flex="30" ng-show="editRif">

          <label class="md-caption"> RIF / Cédula: </label>
          <input type="text" size="12" id="rif" ng-model="patente.rif"  required style="text-transform:uppercase"/>

        </div>
        <div flex="70" ng-show="editTaquilla">
          <label class="md-caption">  Direccion: </label>
          <label class="md-subhead"> {{patente.direccion}}</label>
        </div>
        <div flex="70" ng-show="editRif">
          <label class="md-caption">  Direccion: </label>
          <input type="text"  id="rif" ng-model="patente.direccion"  required style="text-transform:uppercase"/>

        </div>

        <div flex="70" ng-show="editComercio">
          <label class="md-caption">  Alicuota % </label>
          <input type="text" decimals-only  ng-model="patente.alicuota"  required style="text-transform:uppercase"/>

        </div>

      </div>


      <md-divider></md-divider>


      <md-toolbar>
        <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
          <h2><span>Declaración por Actividad Económica</span></h2>
        </div>
      </md-toolbar>


<md-content layout="row">
      <md-input-container flex="50"  class="md-block"  >
        <label>Actividad</label>
        <md-select ng-model="selActividad" required  >
          <md-option value="{{actividad.id}}" ng-repeat="actividad in actividades">{{actividad.codigo}} - {{actividad.nombre}} ({{actividad.porcentaje}}%)</md-option>
        </md-select>
      </md-input-container>
  <md-input-container class="md-block"  >
      <md-button class="md-raised" ng-click="agregarActividad()">Agregar Actividad Economica</md-button>
      </md-input-container>
</md-content>
<div flex layout="row" >

  <div flex>
    <label>Periodo: </label>
    <md-input-container >
      <label>Mes</label>
      <md-select  ng-model="declaracion.imes" required ng-change="cambiaFecha()" >
        <md-option value="{{mes.value}}" ng-repeat="mes in meses">{{mes.label}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container >
      <label>Año</label>
      <md-select  ng-model="declaracion.iano" required ng-change="cambiaFecha()" >
        <md-option value="{{ano}}" ng-repeat="ano in anos">{{ano}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  </div>



      <div flex>
        <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


              <div flex layout="row">
                <div flex="10">
                  codigo
                </div>
                <div flex="50">
                  Actividad
                </div>
                <div flex="10">
                  Minimo
                </div>
                <div flex="10">
                  Alicuota
                </div>
                <div flex="10">
                  Ventas
                </div>
              </div>
            </div>
            <div  ng-repeat="actPat in actividadPatentes " >
              <div flex  >
                <div layout="row">
                  <div flex="10">
                    {{actPat.codigo}}
                  </div>
                  <div flex="50"  md-truncate>
                    {{actPat.nombre}}
                  </div>
                  <div flex="10">
                    {{getMinimoTributario(actPat)}} ut
                  </div>
                  <div flex="10">
                    {{actPat.porcentaje|currency:''}}
                  </div>
                  <div flex="10">

                      <input type="text" size="10" ng-model="monto[actPat.id]" ng-change="cambia(actPat.id,actPat.minimo,actPat.porcentaje)" required  decimals-only/>


                  </div>

                </div>
                <md-divider></md-divider>
              </div>
            </div>
          </div>







        </div>
      </div>









          <div layout="row" layout-align="end end" ng-show="totalDescuento > 0">
            <label   md-colors="{color:'green-900'}"  class="md-title">Descuento 5%: {{totalDescuento|currency:''}}</label>
          </div>
          <div layout="row" layout-align="end end" ng-show="totalMulta > 0">
            <label md-colors="{color:'red-800'}" class="md-title">Multa 50%: {{totalMulta|currency:''}}</label>
          </div>
          <div layout="row" layout-align="end end" ng-show="totalInteres > 0">
            <label md-colors="{color:'red-800'}" class="md-title">Interes de Mora: {{totalInteres|currency:''}}</label>
          </div>
          <div layout="row" layout-align="end end" >
            <label class="md-title">Sub-Total: {{totalSub|currency:''}}</label>
          </div>
          <div layout="row" layout-align="end end">
            <label class="md-headline">Total a Pagar: {{totalPagar|currency:''}}</label>
          </div>











    <div layout="row" layout-align="end end">
        <md-button  ng-click="guardar();" class="md-raised md-primary">Guardar</md-button>
      </div>
    </div>
    <md-divider></md-divider>
    </md-card-content>
    </form>
  </md-card>
</md-content>
