<md-content ng-controller="ctrPago" flex layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >

      <md-card-content>
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Datos del Contribuyente</span></h2>
          </div>
        </md-toolbar>
        <div layout="row" layout-align="center center">
          <div flex="30">

            <label class="md-caption"> RIF: </label>
            <label class="md-subhead"> {{rif}}</label>
          </div>
          <div flex="70">
            <label class="md-caption">  Nombre / Razón Social:</label>
            <label class="md-subhead" > {{nombre}}</label>

          </div>

        </div>
        <div layout="row" layout-align="center center">
          <div flex="30" >
            <label class="md-caption"> Patente: </label>
            <label class="md-subhead" > {{patente}}</label>
          </div>

          <div flex="70" >
            <label class="md-caption">  Direccion: </label>
            <label class="md-subhead"> {{direccion}}</label>
          </div>


        </div>


        <md-divider></md-divider>



        <md-toolbar >
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Registrar Pago</span></h2>
          </div>
        </md-toolbar>

        <md-divider></md-divider>
      </md-card-content>

  </md-card>
  <md-card flex="flex" >

      <md-card-content>
        <md-subheader class="md-no-sticky">Recibos Pendientes por Pagar</md-subheader>
            <md-list-item>
              <div flex="">
                <md-checkbox aria-label="Select All"
                      ng-checked="isChecked()"
                      md-indeterminate="isIndeterminate()"
                      ng-click="toggleAll()">
                      <span ng-if="isChecked()"></span>Select All
                </md-checkbox>
              </div>
              <div flex="">
                  <p class="md-body-2">Recibo N#</p>
              </div>
              <div flex="">
                  <p class="md-body-2">Base.</p>
              </div>
              <div flex="">
                  <p class="md-body-2">Descuento</p>
              </div>
              <div flex="">
                  <p class="md-body-2">Interes</p>
              </div>
              <div flex="">
                  <p class="md-body-2">Multa</p>
              </div>
              <div flex="">
                  <p class="md-body-2">Total Recibo</p>
              </div>



            </md-list-item>
    <md-divider></md-divider>
    <md-list-item ng-repeat="recibo in recibos">
      <div flex="">
           <md-checkbox  ng-checked="exists(recibo, selected)" ng-click="toggle(recibo, selected)"></md-checkbox>
      </div>
      <div flex="">
          <div layout="row">
            <p class="md-body-2">{{recibo.id}}</p>
            <md-icon class="md-secondary" ng-click="verLista($event,recibo)" md-svg-icon="eye">
            <md-tooltip md-direction="right">Ver Lineas</md-tooltip>
            </md-icon>
            </div>
        </div>
      <div flex="">
          <p class="md-body-2">{{recibo.totalBase}}</p>
      </div>
      <div flex="">
          <p class="md-body-2">{{recibo.totalDescuento}}</p>
      </div>
      <div flex="">
          <p class="md-body-2">{{recibo.totalInteres}}</p>
      </div>
      <div flex="">
          <p class="md-body-2">{{recibo.totalMulta}}</p>
      </div>
      <div flex="">
          <p class="md-body-2">{{recibo.totalPagar}}</p>
      </div>
    <md-divider></md-divider>
  </md-list-item>

      </md-card-content>
  </md-card>
  <md-card flex="flex" >
      <md-card-content>
        <md-toolbar >
          <div class="md-toolbar-tools" md-colors="{background : 'grey-200'}">
            <h2><span>Registrar Pago</span></h2>
          </div>
        </md-toolbar>
        <form name="fPago">
          <div layout="row">

            <div layout="column" flex="25">
              <md-input-container class="md-block">
                <label>Metodo Pago</label>
                <md-select  ng-model="pago.tipo" required>
                  <md-option value="{{tipo}}" ng-repeat="tipo in tipoPagos">{{tipo}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="column" flex="25">
              <md-input-container class="md-block" >
                <label>Seleccione Banco</label>
                <md-select  ng-model="pago.banco" required>
                  <md-option value="{{banco}}" ng-repeat="banco in bancos">{{banco}}</md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="column" flex="15">
              <md-input-container class="md-block" >
                <label>Referencia</label>
                <input  type="text"  ng-model="pago.referencia"  required  decimals-only/>
              </md-input-container>
            </div>
            <!-- <div flex>
              <md-input-container class="md-block" flex-gt-sm layout-align="end center">
                <label>Total a Pagar</label>
                <input  type="text"  ng-model="totales" disabled decimals-only/>
              </md-input-container>
            </div>-->
            <div layout="column" flex="35">
              <p class="md-display-1" style="text-align:right;">{{totales}}</p>
            </div>

          </div>
          <div layout="row" layout-align="end end">
            <md-button ng-disabled="!fPago.$valid || !procesar"  ng-click="imprimirGuardar(selected,totales);" class="md-raised md-primary">Guardar / Imprimir Recibo</md-button>
          </div>
        </form>
        <md-divider></md-divider>
      </md-card-content>

  </md-card>
</md-content>
