

<md-dialog md-theme="default"  flex="50" ng-controller="ctrPago" >
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Lineas que pose el Recibo N°:{{selRecibo.id}} </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">

        </md-button>
      </div>
    </md-toolbar>
      <md-divider></md-divider>
    <md-dialog-content>

        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                <md-card-actions layout="row" layout-align="center">
                  <md-list flex>
                    <md-list-item class="secondary-button-padding noright" md-colors="{background:'grey-200'}">
                      <div flex layout="row">
                        <div flex="40" style="text-align:center">
                          Concepto
                        </div>
                        <div flex="15" style="text-align:center">
                          Total
                        </div>
                        <div flex="15" style="text-align:center">
                          Descuento
                        </div>
                        <div flex="15" style="text-align:center">
                          Interes
                        </div>
                        <div flex="15" style="text-align:center">
                          Multa
                        </div>

                      </div>
                    </md-list-item>
                    <md-list-item class="secondary-button-padding noright md-2-line" ng-repeat="lin in selectedLineas" md-ink-ripple>
                      <div flex layout="row">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ getConceptoLinea(lin) }}</h3>
                            <p> {{getPatenteLinea(lin)}}</p>
                          </div>
                        <div flex="15" style="text-align:center">
                          {{lin.total}}
                        </div>
                        <div flex="15" style="text-align:center">
                          {{lin.descuento}}
                        </div>
                        <div flex="15" style="text-align:center">
                          {{lin.interes}}
                        </div>
                        <div flex="15" style="text-align:center">
                          {{lin.multa}}
                        </div>



                      </div>
                  </md-list-item>
                </md-list>

               </md-card-actions>
             </md-card>
      <!--fin div de mostrarVinculacion -->
  </md-dialog-content>
  </form>
</md-dialog>
