<md-content ng-controller="ctrPubTasa" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >

    <md-card-content>
      <div layout="row" layout-align="center center">
        <div flex>
          <md-input-container >
            <label>Número de Patente</label>
            <input type="text" name="text" ng-model="numero" placeholder="AE-000000" required=""/>
          </md-input-container>
          <md-button class="md-raised md-primary" ng-click="buscarPatente()">Buscar</md-button>
        </div>
      </div>
      <md-list flex>
        <md-list-item class="secondary-button-padding" md-colors="{background:'grey-200'}">
          <div flex layout="row" >
            <div flex="10" >
              <p class="md-subhead">N° </p>
            </div>
            <div flex="35" >
              <p class="md-subhead">Nombre / Razón Social </p>
            </div>
            <div flex="15" >
              <p class="md-subhead">RIF</p>
            </div>
            <div flex="40" >
             <p class="md-subhead">Dirección </p>
            </div>

          </div>
        </md-list-item>
        <md-list-item class="secondary-button-padding" ng-repeat="patente in patentes" md-ink-ripple ng-click="selObj(patente)">
          <div flex layout="row" layout-align="center center" >
            <div flex="10" >
              <p class="md-caption">{{patente.patente}} </p>
            </div>
            <div flex="35" >
              <p class="md-caption">{{patente.nombre}}</p>
            </div>
            <div flex="15" >
              <p class="md-caption">{{user.correo}} </p>
            </div>
            <div flex="40" class="md-caption">
              {{patente.direccion}}

            </div>

          </div>

           <md-divider></md-divider>
        </md-list-item>

        <md-list-item class="secondary-button-padding" ng-repeat="per in personas" md-ink-ripple ng-click="selObj(per,'persona')">
          <div flex layout="row" layout-align="center center" >
            <div flex="10" >
              <p class="md-caption">{{per.rif}} </p>
            </div>
            <div flex="35" >
              <p class="md-caption">{{per.nombre}}</p>
            </div>
            <div flex="15" >
              <p class="md-caption"> </p>
            </div>
            <div flex="40" class="md-caption">
              {{per.direccion}}

            </div>

          </div>

           <md-divider></md-divider>
        </md-list-item>

      </md-list>
    </md-card-content>
  </md-card>
</md-content>
