

<md-dialog  md-theme="default"  aria-label="Agregar Declaración" flex ng-controller="ctrPubTasa" ng-cloak >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>Generar Recibo de Cobro {{patente.nombre}} / {{patente.patente}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">


      <div flex>
        <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


          <div flex layout="row">
            <div flex="35">
              Articulo
            </div>
            <div flex="35">
              Dirección
            </div>
            <div flex="10" style="text-align:center">
              Factor
            </div>
            <div flex="10" style="text-align:center">
              UT
            </div>
            <div flex="10">
              Sub-Total
            </div>
          </div>
        </div>
        <div  ng-repeat="publi in pubContribuyente " >
          <div flex  >
            <div layout="row">
              <div flex="35">
                {{getNombreTasa(publi.pubtasa_id)}}
              </div>
              <div flex="35"  md-truncate>
                {{publi.direccion}}
              </div>
              <div flex="10" style="text-align:center">
                {{publi.factor}}
                {{getEtiquetaTasa(publi.pubtasa_id)}}
              </div>
              <div flex="10" style="text-align:center">
                {{getUtTasa(publi.pubtasa_id)}}
              </div>
              <div flex="10">
                 {{publi.subtotal|currency:''}}
                </div>

              </div>
              <md-divider></md-divider>
            </div>
          </div>
        </div>
    </div>
    <div layout="row" >
      <md-input-container class="md-block" flex="40">
        <label>Año a Declarar</label>
        <md-select  ng-model="selAno"  required >
          <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
        </md-select>
      </md-input-container>

    </div>
    <div layout="row" layout-align="end end">
      <label class="md-headline">Total a Pagar: {{grandTotal|currency:''}}</label>
    </div>
    <div layout="row" layout-align="end end">
      <md-button  ng-click="guardarReciboCobro();" class="md-raised md-primary" ng-disabled="patente.rif == undefined || patente.direccion == undefined">Aceptar y Guardar</md-button>
    </div>
  </md-dialog-content>



</md-dialog>
