

<md-dialog  md-theme="default"  aria-label="Agregar Declaración" flex ng-controller="ctrLicTasa" ng-cloak >

  <md-toolbar md-colors="{background:'grey-800'}">
    <div class="md-toolbar-tools">
      <h2>{{patente.nombre}} / {{patente.patente}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon  aria-label="Close dialog">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <div flex layout="row" >
        <md-input-container class="md-block" flex="70">
          <label>Articulo Aplicado</label>
          <md-select  ng-model="selTasa" required ng-change="calcularTasa()">
            <md-option value="{{tasa.id}}" ng-repeat="tasa in tasaLicoresAnual"> {{tasa.nombre}}<span ng-if="tasa.etiqueta =='UT'"> - {{tasa.ut}} ut.</span></md-option>
          </md-select>
        </md-input-container>


        <md-input-container ng-if="!tasa.etiqueta =='UT'" class="md-block" flex="30" >
          <label>Factor{{etiqueta}}</label>
          <input  type="text"   ng-model="factor" ng-change="cambiarFactor()" ng-readonly="editFactor" required  decimals-only/>
        </md-input-container>








      </div>

    </div>
    <div layout="row" layout-align="end end">
      <md-button  ng-click="agregarLicores();" class="md-raised md-primary" ng-disabled="patente.rif == undefined || patente.direccion == undefined">Guardar</md-button>
    </div>
  </md-dialog-content>



</md-dialog>
