<md-content ng-controller="ctrLicTasa" layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
  <md-card flex="flex" >
    <form name="Form" >
      <md-card-content>
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
            <h2><span>Datos del Contribuyente</span> {{patente.patente}}</h2>
            <md-button class="md-icon-button" ng-click="editarContribuyente()">
              <md-tooltip md-direction="right">Editar contribuyente</md-tooltip>
              <md-icon  md-colors="{color:'light-blue-800'}">edit<md-icon>
              </md-button>
            </div>
          </md-toolbar>
          <div layout="row" layout-align="center center">
            <div flex="30">

              <label class="md-caption"> RIF: </label>
              <label class="md-subhead"> {{patente.persona.rif}}</label>
            </div>
            <div flex="70">
              <label class="md-caption">  Nombre / Razón Social:</label>
              <label class="md-subhead" > {{patente.nombre}}</label>

            </div>

          </div>
          <div layout="row" layout-align="center center">


            <div flex >
              <label class="md-caption">  Direccion: </label>
              <label class="md-subhead"> {{patente.direccion}}</label>
            </div>




          </div>


          <md-divider></md-divider>
          <md-toolbar>
            <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
              <h2><span>Permiso de Licores</span></h2>
              <md-button class="md-icon-button" ng-click="addLicores()">
                <md-tooltip md-direction="right">Agregar Tasa Licores</md-tooltip>
                <md-icon  md-colors="{color:'light-blue-800'}">library_add<md-icon>
                </md-button>
            </div>
          </md-toolbar>
          <div flex ng-if="LicContribuyente.length == 0">
            <div flex>
              <h2 class="md-title">
                Este contribuyente no tiene Permiso de Licores asociado.
              </h2>
            </div>
          </div>


          <br>
          <div layout="row"  ng-if="licContribuyente.length > 0">
            <md-button  ng-click="generarRecibo($event);"  class="md-raised md-primary">Generar Orden de Cobro</md-button>
          </div>
          <br>
          <div flex ng-if="licContribuyente.length > 0">
            <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


              <div flex layout="row">
                <div flex="75">
                  Articulo
                </div>

                <div flex="10" style="text-align:center">
                  Factor
                </div>
                <div flex="10" style="text-align:center">
                  UT
                </div>
                <div flex="5">
                </div>
              </div>
            </div>
            <div  ng-repeat="licor in licContribuyente " >
              <div flex  >
                <div layout="row">
                  <div flex="75">
                    {{getNombreTasa(licor.lictasa_id)}}
                  </div>

                  <div flex="10" style="text-align:center">
                    {{licor.factor}}
                    {{getEtiquetaTasa(licor.lictasa_id)}}
                  </div>
                  <div flex="10" style="text-align:center">
                    {{getUtTasa(licor.lictasa_id)}}
                  </div>
                  <div flex="5">
                    <md-button class="md-icon-button" ng-click="eliminarActividad(actPat)">
                      <md-tooltip md-direction="left">Desactivar Tasa Licores</md-tooltip>
                      <md-icon  md-colors="{color:'red-700'}">clear<md-icon>
                      </md-button>



                    </div>

                  </div>
                  <md-divider></md-divider>
                </div>
              </div>
            </div>
            <!--
        <md-toolbar>
          <div class="md-toolbar-tools" md-colors="{background : 'grey-300'}">
            <h2><span>Publicidad</span></h2>
          </div>
        </md-toolbar>
        <div layout="row" >
          <md-input-container class="md-block" flex="40">
            <label>Año</label>
            <md-select  ng-model="selAno"  required >
              <md-option value="{{pagaano}}" ng-repeat="pagaano in pagaAnos">{{pagaano}}</md-option>
            </md-select>
          </md-input-container>

        </div>

        <div flex class="inset"  >
          <div layout="row">
            <div flex>
              <md-input-container class="md-block">
                <label>Tipo de Publicidad</label>
                <md-select  ng-model="selTasa" required ng-change="calcularTasa()">
                  <md-option value="{{tasa.id}}" ng-repeat="tasa in tasas"> {{tasa.nombre}}<span ng-if="tasa.etiqueta =='UT'"> - {{tasa.ut}} ut.</span></md-option>
                </md-select>
              </md-input-container>
            </div>

            <div flex>
              <md-input-container class="md-block" >
                <label>Factor{{etiqueta}}</label>
                <input  type="text"   ng-model="factor" ng-change="cambiarFactor()" ng-readonly="editFactor" required  decimals-only/>
              </md-input-container>
            </div>
            <div flex>
              <md-input-container class="md-block" >
                <label>Total</label>
                <input  type="text"  ng-model="subtotal"  readonly="true" readOnl  required  decimals-only/>
              </md-input-container>
            </div>
            <md-divider></md-divider>
          </div>
        </div>

        <div layout="row" layout-align="end end">
          <md-button  ng-click="agregarPublicidad()"  class="md-raised" md-colors="{background:'blue-grey-300'}">Agregar</md-button>
        </div>



        <div flex>
          <div class="secondary-button-padding" md-colors="{background:'grey-200'}">


            <div flex layout="row" layout-align="center center">
              <div flex="60" layout-align="center center">
                Descripción
              </div>

              <div flex="10"style="text-align:center">
                U.T
              </div>
              <div flex="10"style="text-align:center">
                Factor
              </div>
              <div flex="15" style="text-align:right">
                Sub-Total
              </div>
              <div flex="5" style="text-align:right">

              </div>
            </div>
          </div>
          <div  ng-repeat="tasaAplicada in tasasAplicadas" >
            <div flex  >
              <div layout="row">
                <div flex="60" md-truncate>
                  {{tasaAplicada.nombre}}
                </div>

                <div flex="10" style="text-align:center">
                  {{tasaAplicada.unidad}} ut
                </div>
                <div flex="10" style="text-align:center">
                  {{tasaAplicada.factor}}
                </div>
                <div flex="15" style="text-align:right; vertical-align:bottom">
                  {{tasaAplicada.subtotal|currency:''}}
                </div>
                <div flex="5" style="text-align:right">
                  <md-button ng-click="eliminarTasa(tasaAplicada)" class="md-icon-button" aria-label="More">
                    <md-icon md-colors="{color:'red-800'}">clear<md-icon>
                      <md-button>
                      </div>
                    </div>
                    <md-divider></md-divider>
                  </div>
                </div>
              </div>




              <div layout="row" layout-align="end end">
                <label class="md-headline">Total: {{totalPagar|currency:''}}</label>
              </div>
              <div layout="row" layout-align="end end">
                <md-button  ng-click="guardarRecibo();" ng-disabled="permitirGuardar" class="md-raised md-primary">Guardar Orden de Cobro</md-button>
              </div>
-->
              <md-divider></md-divider>
            </md-card-content>
          </form>
        </md-card>
      </md-content>
